.wdt_apnaBazaar{
    display: block;
    margin: 10px 0;
    background: #fff;
    clear: both;
    .abz-slider{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 15px;
    }
    .abz-slider-tabs{
        width: 100%;
        overflow: hidden;
        overflow-x: auto;
        display: flex;
        margin-top: 15px;
        li {
            display: flex;
            flex-shrink: 0;
            border: 1px solid #d1d1d1;
            margin: 0 15px 0 0;
            height: 100px;
            text-align: center;
            cursor: pointer;
            position: relative;
            min-width: 100px;
            background: #fff;
            img {
                max-height: 75px;
                width: auto;
                height: auto;
                max-width: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .abz-slider-content{
        width: 100%;
        border: 1px solid #d1d1d1;
        position: relative;
        background: #fff;
        box-sizing: border-box;
        .imgwrap {
            height: 326px;
            padding: 50px 10px 20px;
            position: relative;
            box-sizing: border-box;
            img {
                max-height: 320px;
                width: auto;
                height: auto;
                max-width: 90%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
            .discount{
                background: #d13d28;
                position: absolute;
                z-index: 1;
                font-size: 12px;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                color: #fff;
                text-align: center;
                line-height: 14px;
                font-family:arial;
                font-weight: bold;
                top: 5px;
                left: 5px;
                display: flex;
                justify-content: center;
                padding-top: 2px;
                box-sizing: border-box;
                align-items: center;
            }
        }
    }
    .abz-description{
        display: flex;
        flex:1;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 15px;
        .price-box{
            display: flex;
            .price_tag {
                width: 60%;
                a{
                    font-size: 25px;
                    font-family: arial;
                    color: #d13d28;
                    font-weight: bold;
                    b {
                        color: #333;
                        margin-left: 10px;
                        font-size: 16px;
                        display: inline-block;
                        vertical-align: top;
                        font-weight: normal;
                        span{
                            text-decoration: line-through;
                        }
                    }
                }
            }
            .abz-btn{
                display: flex;
                width: 40%;
                justify-content: space-between;
                a.btn{
                    width: 65%;
                    font-size: 14px;
                    color: #000;
                    font-weight: bold;
                    height: 35px;
                    background: #fed20a;
                    line-height: 36px;
                    font-family: arial;
                    display: inline-block;
                    text-transform: uppercase;
                    text-align: center;
                }
                .abz-icon{
                    img{
                        vertical-align: middle;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
    h3.abz-head{
        a.text_ellipsis{
            color: #1f81db;
            font-size: 1.4rem;
            line-height: 2.2rem;
            max-height: 11rem;
            -webkit-line-clamp: 5;
        }
    }
}

.mobile_body{
    .wdt_apnaBazaar{
        display: block;
        margin-bottom: 10px;
        .abz-slider-tabs{
            margin: 0;
            li{
                margin: 0 10px 0 0;
                min-width: 80px;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        .abz-slider-content{
            width: 100%;
            margin: 0 0 10px;
            .imgwrap{
                height: 226px;
                img{
                    max-height:220px;
                }
            }
        }
        .abz-slider{
            margin-top: 10px;
        }
        .abz-description{
            .price-box{
                flex-wrap: wrap;
                .price_tag {
                    margin-bottom: 5px;
                    width: 100%;
                    a{
                        font-size: 18px;
                        b {
                            font-size: 14px;
                        }
                    }
                }
                .abz-btn{
                    width: 100%;
                    flex-direction: row-reverse;
                    a.btn{
                        width: 60%;
                    }
                }
            }
            
        }
        h3.abz-head{
            a.text_ellipsis{
                max-height: 6.6rem;
                -webkit-line-clamp: 3;
            }
        }
    }
}