.briefwidget {
    padding: 0 30px;
    .slider .btnPrev {left: -10px; top: 125px;}
    .slider .btnNext {right: -10px; top: 125px;}
    li {
        .briefslide {
            margin: 15px;
            box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.08);
            background-color: #ffffff;
            border: none;
            white-space: normal;
            .img_wrap{ 
                padding: 12px;
                display: block;
            }
            .top_content {
                .counter {
                    border-radius: 4px 0 4px 0;
                    top: 12px;
                    left: 12px;
                }
            }
            .bottom_content {
                margin: 0;
                padding-bottom: 12px;
                .news_sec_name {
                    font-size: 1.1rem;
                    color: #2584dc;
                    margin: 0 12px 5px;
                }
                .table_row {
                    margin:0 12px;
                    display: block;
                    overflow: hidden;
                }
                .text_ellipsis {
                    -webkit-line-clamp: 2;
                    font-size: 1.3rem;
                    line-height: 1.9rem;
                    margin-bottom: 10px;
                    font-weight: bold;
                    min-height: 3.6rem;
                }
                /*.briefsyn {
                    font-size: 1.2rem;
                    line-height: 1.9rem;
                    color: #333333;
                    height: 9.1rem;
                    overflow: hidden;
                    ul li {
                        font-size: 1.2rem;
                        line-height: 1.9rem;
                        color: #333333;
                        border: 0;
                        box-shadow: none;
                        margin: 0 0 0 15px;
                        position: relative;
                        overflow: initial;
                        width: auto;
                        display: block;
                        &::before {
                            content: "";
                            position: absolute;
                            height: 5px;
                            width: 5px;
                            border-radius: 50%;
                            background: #a3a3a3;
                            left: -15px;
                            top: 7px;
                        }
                    }
                } */
            }
            li {margin-bottom: 5px;}
            .actionbar {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                position: relative;
                .more {
                    font-size: 1.2rem;
                    color: #000;
                    display: block;
                    text-align: right;
                    padding: 5px 12px 0;
                    font-weight: bold;
                    &::after {
                        content: "";
                        width: 0;
                        height: 0;
                        border: solid black;
                        border-width: 0 1px 1px 0;
                        display: inline-block;
                        padding: 3px;
                        vertical-align: middle;
                        margin-left: 4px;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}
.desktop_body {
    .briefwidget {
        .section {width: calc(100% + 15px); margin: 0 0 0 -15px;}
    }
}
.mobile_body {
    .briefwidget {
        padding: 0;
        background-color: #ffffff;
        min-height: 400px;
        li {
            .slide {width: 290px !important;}
            .briefslide {
                .bottom_content {
                    .table_row {
                        .text_ellipsis {line-height: 2.2rem; font-size: 1.6rem; min-height: 4.3rem;}
                    }
                    .briefsyn {
                        line-height: 1.9rem; font-size: 1.4rem; height: 11rem; overflow: hidden;
                        ul li {line-height: 1.9rem; font-size: 1.4rem;}
                    }
                }
            }
        }
        .slider {background: #eaeaea; overflow: auto; padding: 0 15px;}
    }
}