.slide_list li {
    background: $color-white;
    
    .time-caption {
        color: $card-lead-date-color;
    }
    .bottom_content{
        color: $card-text-color;
    }
}

.slide_list li .bottom_content ul li:before {
    content: ''; 
    position: absolute; 
    height: 7px; 
    width: 7px;  
    border-radius: 50%; 
    background: #a3a3a3; 
    left: -15px; 
    top: 7px;
}

.briefbox {
    position: relative;
    .slide_list {
        padding: 0 10px;
        li.slide {
            margin: 10px 0 15px;
            border-radius: 6px;
            box-shadow: 0 2px 5px 0 rgba(106, 106, 106, 0.5);
            background-color: #ffffff;
            border: none;
            .img_wrap{ 
                padding: 12px;
                display: block;
                img {
                    border-radius: 4px;
                    box-shadow: 0 2px 5px 0 rgba(106, 106, 106, 0.5);
                }
            }
            .top_content {
                .counter {
                    border-radius: 3px;
                    top: 20px;
                    left: 20px;
                    color: #bebebe;
                }
            }
            .bottom_content {
                margin: 0;
                .table_row {
                    margin:0 12px 12px;
                    display: block;
                }
                .text_ellipsis {
                    margin-bottom: 0;
                    text-overflow: unset;
                    overflow: unset;
                    display: block;
                    -webkit-box-orient: unset;
                    -webkit-line-clamp: unset;

                }
                .time-caption {margin-bottom: 10px; color: #545454;}
            }
            li {margin-bottom: 5px;}
            .actionbar {
                display: flex;
                justify-content: space-between;
                border-top: 1px solid #dddddd;
                align-items: center;
                position: relative;
                padding: 6px;
                .btn_app_download {
                    padding: 1px 10px;
                    border-radius: 14px;
                    background-color: #ff4c4c; 
                    color: #ffffff;
                    font-size: 13px;
                    margin:0 7px;
                    display: inline-block;
                }
                .share_iconbox {
                    display: inline-block;
                    vertical-align: middle;
                    .share_icon {position: static; background: transparent; box-shadow: none; width: 40px; height: 40px;}
                    svg {width: 15px;}
                }
                .shareModalContainer .social-table svg{width:32px;}
                .shareModalContainer .socialText{margin-top:5px}
                .more {
                    &::after {
                        content: "";
                        width: 0;
                        height: 0;
                        border: solid black;
                        border-width: 0 1px 1px 0;
                        display: inline-block;
                        padding: 3px;
                        vertical-align: middle;
                        margin-left: 4px;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
    .briefrhs {
        position: absolute;
        right: 15px;
        top: 0;
        display: inline-block;
        vertical-align: top;
        width: 300px;
        .sticky-rhs {
            position: fixed;
            top: 35px;
            width: 300px;
        }
    }
}

.desktop_body {
    .briefbox {
        .slide_list {
            padding: 0;
            width: 100%;
            li.slide {
                border-radius: 0;
                overflow: hidden;
                padding: 15px;
                box-sizing: border-box;
                box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.08);
                margin-bottom: 40px;
                li {overflow: unset;}
                .img_wrap{
                    padding: 0;
                    img {border-radius: 0;}
                }
                .top_content {
                    float: left;
                    width: 310px;
                    margin-right: 15px;
                    .counter {
                        font-size: 1rem;
                        top: 10px;
                        left: 10px;
                    }
                }
                .bottom_content {
                    padding-left: 325px;
                    a.table_row {
                        display: block;
                        max-height: 178px;
                        overflow: hidden;
                    }
                }
                .more {font-size: 1.1rem;}
                .actionbar {padding: 0;}
            }
            .shareModalContainer {
                background: transparent;
                position: absolute;
                overflow: hidden;
                width: 100%;
                left: 0;
                .shareContent {
                    background: transparent;
                    top: 7px;
                    bottom: auto;
                    left: 5px;
                    position: absolute;
                    .close_position {
                        height: 24px;
                        width: 24px;
                        background: #000;
                        padding: 0;
                        top: 1px;
                        left: 0;
                        border-radius: 5px;
                        display: inline-block;
                        vertical-align: top;
                        margin: 0 0 0 5px;
                        cursor: pointer;
                        &::before, &::after {
                            left: 0;
                            right: 0;
                            margin: auto;
                            top: 0;
                            bottom: 0;
                            height: 15px;
                        }
                    }
                    .shareBody {padding-left: 30px;}
                    .shareHeader, .shareFooter {
                        padding: 0;
                        h3 {display: none;}
                    }
                    .social-table {
                        display: inline-flex;
                        width: auto;
                        padding: 0;
                        .social-cell {
                            width: 24px;
                            height: 24px;
                            display: inline-block;
                            vertical-align: top;
                            margin: 0 0 0 5px;
                            cursor: pointer;
                            .iconsquare {
                                width: 24px;
                                height: 24px;
                            }
                            svg {
                                width: 16px;
                                height: 16px;
                            }
                            .socialText {display: none;}
                        }
                    }
                }
            }
        }
    }
}


body[pagetype="newsbrief"] .ad1.fbn {
    bottom: 0 !important;
}


