.commentbox {
  width: 92%;
  padding: 10px 2%;
  background: #f5f5f5;
  border: 1px solid #c7cacc;
  box-shadow: 2px 2px 2px #dedfdf inset;
  margin-bottom: 0;
  border-radius: 5px;
  height: 100px;
  resize: none;
  font-size: 1.4rem;
  color: #333;
  font-family: Arial,Helvetica,sans-serif;

  &:placeholder-shown {
    height: 20px;
  }

  &::placeholder {
    color: #9c9fa1;
    font-size: 1.2rem;
  }
}

#parent-form-msg, .comment-box .error, .comment-box .status-message {
  color: red;
  font-size: 12px;     
  font-weight: bold;
}
.sucussmsg {
  color: #378300 !important;
}

.no-comment-text {
  padding: 19px 61px;
  color: #333;
}

.comment-box .commented-at {
  color: #666;
  font-size: 12px;
  font-family: Arial;
  margin-left: 8px;
} 

.flagcontainer h6 {padding: 0px 0 7px 0}

button {
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.user {
  display: flex;
  align-items: center;

  span {
    font-size: 12px;
  }

  img {
    border-radius: 20px;
    margin-right: 10px;
  }
}

.comment-field {
  font-size: 14px;
  width: 100%;
  outline: none;
  padding: 0;
  min-height: 60px;
  transform: translateY(-32px);
  line-height: 28px;
}

.commentbox.expanded {
  .comment-field {
    transform: translateY(40px);
  }

  .head {
    transform: translateY(10px);
    opacity: 1;
    visibility: visible;
    height: auto;
  }
}

.actions {
  margin: 10px 0;

  button {
    margin-right: 6px;
    font-size: 14px;
    padding: 8px;
    border: none;
    line-height: 1;
    background: #106099;
    color: #fff;
  }
}

.comment-box.modified {
  max-height: unset;
}

.closebutton {
  width: 32px;
  height: 32px;
  opacity: 0.3;
  position: relative;
  float: none !important;
  display: inline-block;
  vertical-align: top;

  &:hover {
    opacity: 1;
  }

  &:before, &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 22px;
    width: 2px;
    background-color: red;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.offensive_popup_reason {
  height: 20px;
}
.commentsWap {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 9999;
  background: #fff;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
  .container {padding: 20px 20px 0;}
  .comment-box {
    &:hover {
      background: #fafafa;
    }
    padding: 10px 15px;
    position: relative;
    border-bottom: 1px #191414 dotted;
    &:last-child {
      border: 0;
    }
    .user-thumbnail {
      img {
        height: 22px;
        width: 22px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
      }
    }
    a.name,
    span.name {
      color: #454545;
      font-size: 1.2rem;
      line-height: 2rem;
      text-transform: capitalize;
      display: inline-block;
      font-weight: bold;
      float: none;
    }
    .short_comment {
      color: #666;
      cursor: pointer;
      font-size: 1.3rem;
      line-height: 2rem;
      word-wrap: break-word;
      clear: both;
      font-style: italic;
      margin: 10px 0;
    }
    .footbar {
      display: block;
      position: relative;
      .svg-icons {
        width: 15px;
        height: 15px;
        vertical-align: text-top;
        &.thumbsdown {
          color: #d72027;
          transform: rotate(180deg);
          vertical-align: text-bottom;
        }
        &.thumbsup {
          color: #378300;
        }
      }
      &:after {
        content: '';
        display: table;
        clear: both;
      }
      a {
        color: #777;
        float: left;
        font-size: 1.1rem;
        text-transform: uppercase;
        padding: 0 5px;
        line-height: normal;
      }
      span {
        color: #777;
        float: left;
        font-size: 1.1rem;
        text-transform: uppercase;
        line-height: normal;
      }
      .cmt_actionbar {
        margin-top: 5px;
        position: relative;
        > span {
          margin-right: 15px;
          display: inline-block;
          cursor: pointer;
          font-weight: bold;
        }

      }
    }
  }
  .comment-box.color-gray {
    background-color: #efebeb;
    padding-left: 45px;
  }
 
}

.cmntheading {
  margin-bottom: 10px;
  position: relative;
  .closebutton {
    position: absolute;
    right: -10px;
    top: -10px;
    opacity: 1;
  }
  .headofcmnt {
    h3 {
      font-size: 1rem;
      color: #999;
      font-weight: normal;
      padding-bottom: 6px;
    }
    h2 {
      font-size: 1.2rem;
      padding-top: 4px;
    }
  } 
}
.replybox {
  position: relative;
  form {width: 85%; display: inline-block;}
}
.offensive_popup_reason {height: 20px;}
.buttons {
  button {margin-right: 5px;}
}
.loadmore {
  text-align: center;
  margin: 10px 0;
  button {
    display: inline-block;
    height: 30px;
    &::after {
      content: "";
      border: solid #777;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      border-radius: 2px;
      margin-left: 10px;
      position: relative;
      top: -2px;
    }
  }
}
.flag_comment_box {
  position: absolute;
  z-index: 1;
  background: #fff;
  width: 225px;
  color: #000;
  box-shadow: 0 0 4px 3px rgba(39, 36, 36, 0.10);
  border-radius: 5px;
  padding: 15px;
  box-sizing: border-box;
  .reasons {
    li {margin-bottom: 8px;}
    label {
      display: flex;
      align-items: center;
      input {
        margin:3px 7px 0 0;
      }
      b {
        font-size: 1rem;
        line-height: 1.6rem;
        font-weight: normal;
      }
    }
  }
  
}
.comment-offensive {
  color: #d72027 !important;
}
.bottom-comments {
  padding-bottom: 70px;
}
.loadinggif {text-align: center; padding: 10px 0;}

.user-info {
  margin-bottom: 5px;
  img {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }
  a.name,
  span.name {
    color: #454545;
    font-size: 1.2rem;
    line-height: 2rem;
    text-transform: capitalize;
    display: inline-block;
    font-weight: bold;
    float: none;
  }
}
