.Cube{display:block;position:fixed;z-index:1001;}
#content{width:195px;position:relative; margin:0 10px}
#content:after{z-index:-1;position:absolute;content:"";bottom:25px;left:3%;width:94%;height:10px;-webkit-box-shadow:0 20px 20px #777;box-shadow:0 25px 20px #777}
.flipbox-wrapper{perspective:800px;-webkit-perspective:800px;perspective-origin:50% 50%;-webkit-perspective-origin:50% 50%; position: relative;}
.Cube .close_icon{background: #000; border-radius: 50%; width: 24px; height: 24px; top: -10px; right: -10px;}
.Cube .close_icon:before, .Cube .close_icon:after{left: 11px; height: 13px; background-color: #fff; top: 5px;}
.hide{display:none}
.flipbox-wrapper .top_ad, .flipbox-wrapper .cube_top_ad{height: 30px;}
.flipbox-wrapper .top_ad .ad1, .flipbox-wrapper .cube_top_ad .ad1{min-height: 30px;}
.flipbox-wrapper .top_ad .txt, .flipbox-wrapper .cube_top_ad .txt{font-size: 1.0rem; display: inline-block; vertical-align: top; margin:0 10px 0 0}
.flipbox-wrapper .resultTable-cube{padding: 5px 5px;}
.flipbox-wrapper .ad1{min-height: auto; padding:0}
.flipbox-wrapper .flipbox-box{position:relative;width:100%;height:100%;transform-style:preserve-3d;transition-property:transform}
.flipbox-wrapper .flipbox-horizontal{transition-duration: 2000ms; transition-timing-function: ease; transform-origin: 97.5px 0px -97.5px;}
.flipbox-wrapper .flipbox-box .flipbox-side{position:absolute;width:100%; backface-visibility:hidden;background:#e1e1e1;background:-webkit-gradient(linear,0 0,0 bottom,from(#e1e1e1),to(#fff));background:-webkit-linear-gradient(#e1e1e1,#fff);background:-moz-linear-gradient(#e1e1e1,#fff);background:-ms-linear-gradient(#e1e1e1,#fff);background:-o-linear-gradient(#e1e1e1,#fff);background:linear-gradient(#e1e1e1,#fff);-pie-background:linear-gradient(#e1e1e1,#fff);}
.flipbox-wrapper .flipbox-box .flipbox-side a.bottom_cube_content{display:block; padding:8px 5% 5px;}
.flipbox-wrapper .flipbox-box .flipbox-side.flipbox-front{transform:translateZ(0);-webkit-transform:translateZ(0)}
.flipbox-wrapper .flipbox-box .flipbox-side.flipbox-left{transform-origin:center left}
.flipbox-wrapper .flipbox-box .flipbox-side.flipbox-right{transform-origin:top right}
.flipbox-wrapper .flipbox-box .flipbox-side.flipbox-top{transform-origin:top center}
.flipbox-wrapper .flipbox-box .flipbox-side.flipbox-bottom{transform-origin:bottom center}
/*.box-cube{height:85px}*/
.article_content div.Normal .resultTable-cube table{border-top:0;border-left:0}
.ele_caption h6{color:#000;font-size:1rem;line-height:1.5rem;text-transform:uppercase;margin:0 0 16px}
.ele_caption p{color:#1f1f1f;font-size:1.2rem;}
.ele_caption p strong{font-weight:bold;}
.ele_caption h3{color:#c33;font-weight:600;text-transform:uppercase;font-size:1.0rem;line-height:1;position:relative;float:right;margin:2px 0 0}
.ele_caption h3:after{content:'';width:7px;height:7px;border-radius:50%;background:#c33;position:absolute;top:0;left:-10px;animation:blinker 1s linear infinite}
#content ul{padding:0;list-style:none}
.result_table .table_tot{margin-bottom:5px;display:flex;font-family:arial;}
.result_table .table_tot li{display:inline-block;vertical-align:top;color:#000;font-size:.9rem;line-height:1; margin: 0 10px 0 0; padding:0; white-space: nowrap;}
.result_table .table_tot li:first-child{font-weight: bold; text-align: left;}
.result_table .table_tot li strong{display: inline}
.result_table{font-size:1.1rem;font-weight:600;line-height:2.9rem;width:100%; margin: 5px 0 0 0}
.result_table ul{display:flex;margin:0 -1.5% 4px;border-radius:2px}
.result_table li{color:#fff;font-size:.9rem;font-weight:400;line-height:1;text-transform:uppercase;text-align:center;width:25%;margin:0 1.4%;border-radius:2px;padding:3px 2px;font-family:arial;}
.result_table li strong{display:block}
.result_table li.leading{color:#ff0;font-weight:600}
.result_table li:first-child{position:relative}
.result_table p{font-size:.8rem;color:#000;line-height:1;margin:0;font-family:arial;text-transform:uppercase;font-weight:normal;margin:7px 0 0; position: relative;}
.result_table p span{font-size: 0.8rem; color: #666; position: absolute; right: 0; top: 0; text-transform: initial;}
.result_table .BJ{background:linear-gradient(to right,rgba(255, 150, 80,.6),#ff9650)}
.result_table .IN{background:linear-gradient(to right,rgba(30, 180, 255,.6),#1eb4ff)}
.result_table .SP{background:linear-gradient(to right,rgba(0, 200, 110,.6),#00c86e)}
.result_table .AI{background:linear-gradient(to right,rgba(10, 100, 255,.6),#0a64ff)}
.result_table .OT{background:linear-gradient(to right,rgba(92,101,105,.6),#5c6569)}
button.open-in-app{background:#cc3333;color:#fff;font-size:1.0rem;display:block;text-align:center;font-family:arial;text-transform:uppercase;height:22px;line-height:20px;border:0;outline:none;width:100%;margin:0}
.open-app-with-ad {display: block;}
.election_result_table{position: relative;}
.election_result_table .result_table .table_tot{position: absolute; top: 18px; left: 0; right:0; margin-left: 1%;}

@keyframes blinker{50%{opacity:0 }
}

