@import 'sprite';

/* refine css start */
.wrap {
    width: 1000px; 
    margin: 0 auto;
}

.desktop_body{
    .top-news-content, .box-content{margin-bottom:4%; background:transparent; border-bottom: 0; padding: 0}
    .ad1{padding: 0; min-width: 300px; margin: auto; z-index: 10;}
    .rhs-widget{
        .ad1.mrec , .ad1.mrec1 , .ad1.mrec2, .adblockdiv .colombiatracked{margin-left: auto; margin-right: auto;}
    }
    
    .btf-placeholder{width:100%; text-align: center;}
    [data-plugin=ctn] iframe{background: #fff;}
    .videoshow [data-plugin=ctn] iframe{background:transparent;}
    .yContainer{margin:0}
    
    .breadcrumb ul li:after{padding: 0 3px 0 2px; font-size: 1.2rem;}
    .breadcrumb ul li:last-child:after{padding:0; content: '';}
    .only-heading{
        .section{
            width: 100%;
            h1{
                border: 0;
                margin: 0;
                span{
                    a{
                        color: #fff;
                        font-size: 2.0rem;
                        line-height: 3.0rem;
                        margin: 0 0 5px;
                    }
                    &:before{
                        border: 0;
                    }
                }
            }
            .read_more{
                display: none;
            }
        }
    }
    .section{
        width: 100%;
        .top_section{
            margin: 10px 0 10px;
            &.city_section{
                h1, h2, h3{
                    position: relative;
                    z-index: 1004;
                    .wdt_select_city{
                        position: initial;
                        display: inline-block;
                        vertical-align: top;
                        margin: 0 0 0 15px;
                        .sel-city-content{
                            top:42px;
                        }
                    }
                }
                .read_more{
                    z-index: 1005;
                }
            }
        }
        .sub-section{
            margin:0 0 15px 0;
            overflow-x: hidden;
            ul.sub-list{
                margin: 0 40px 0 0;
                white-space: normal;
            }
        }
        &.only-heading{
            background: transparent;
            width: 100%;
            h1{
                border-bottom: 0;
                margin: 0 0 10px;
                padding: 0;
                span{
                    background: transparent;
                    padding: 0;
                    color: #000;
                    &:before{
                        border: 0;
                    }
                }
            }
        }
    }

    /* common structure for listing () start */
    .news-card{
        
        &.only-info{
            &.video{
                flex-direction: row-reverse;
                .img_wrap{
                    position: relative;
                    width: 10%;
                    a{
                        &:before{
                            top: 9px;
                            right: 0;
                            height: 14px;
                            width: 14px;
                            content: '';
                            position: absolute;
                            @extend .videoicon;
                        }
                    }
                }
                .img_wrap[data-tag]:after {display:none}
                .con_wrap{width:90%; margin-right: auto;}
            }
            &.photo{
                flex-direction: row-reverse;
                .img_wrap{
                    position: relative;
                    width: 10%;
                    a{
                        &:before {
                            top: 0px;
                            right: 0;
                            margin: 3px 1px 0 0;
                            position: absolute;
                            content: '';
                            @extend .include-desktop-sprite; 
                            background-position: -145px -239px;
                            width: 20px;
                            height: 15px;
                            left: auto;
                        }
                    }
                }
                .con_wrap{width:90%; margin-right: auto;}
            }
        }
        
        
        &.photo{
            .img_wrap{
                a{
                    position: relative;
                    display: block;
                    &:before{
                        content: '';
                        position: absolute;
                        top:10px;
                        left:10px;
                        width:25px; 
                        height: 21px; 
                        @extend .photoglicon;
                    }      
                }  
            }
            &.lead{
              .img_wrap{
                  a{
                    &:before{
                        width:40px;
                        height: 32px;
                      }
                  }
              }
            }
          }
        &.video{
        .img_wrap[data-tag]{
            &:after {
                font-family: arial;
                font-size: 12px;
                position: absolute;
                bottom: 5px;
                right: 5px;
                padding: 2% 3%;
                line-height: 12px;
                background:rgba(0, 0, 0, 0.6);
                content: attr(data-tag);
                text-align: center;
                color: #fff;
                z-index:10
            }
        }
        .img_wrap[data-tag=""]:after {display:none}
        .img_wrap{
            a{
                position: relative;
                display: block;
                &:before{
                    @extend .videoicon;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    content: '';
                }
            }
        }
        &.lead, &.big{
            .img_wrap{
                a{
                    &:before{
                        width:40px;
                        height: 40px;
                        }
                }
            }
        }
        }
        &.con_ads:last-child{
            border-bottom: 0;
        }
    }
    /* end */


    .box-item {
        margin: 0 0 30px;
        .section {
            width: 100%;
        }
        ul.list-horizontal {
            li{    
                display: flex;
                border-bottom: 1px solid #dfdfdf;
                margin-bottom:10px;
                padding-bottom:10px;
                .img_wrap{
                    margin: 0 10px 0 0;
                    img {
                        width: 80px;
                    }
                }
                
                .con_wrap {
                    .section_name{
                        display: none;
                    }
                    .text_ellipsis{
                        font-size: 1.3rem;
                        line-height: 2.1rem;
                        max-height: 4.2rem;
                    }
                }
            }
            &.video{
                .img_wrap{
                    position: relative;
                    a.video_icon {
                        &:before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 1;
                            width: 32px;
                            height: 32px;
                            @extend .videoicon;
                        }
                    }
                    img{
                        width: 140px;
                    }
                }
                .con_wrap{
                    width:145px;
                } 
            }
        }
        ul.trending-topics{
            li {
                display: inline-block;
                margin: 0 15px 5px 15px;
                vertical-align: top;
                position: relative;
                width:42%;
                word-break: break-word;
                &:nth-child(2n+2){
                  margin-right: 0;
                  width: 43%;
                }
                &:before {
                  content: '';
                  background: #000;
                  position: absolute;
                  left: -15px;
                  top: 9px;
                  width: 5px;
                  height: 1px;
                  display: inline-block;
                }
                a {
                  font-size: 14px;
                  line-height: 22px;
                  display: inline-block;
                }
              }
        }
    }

    /*listing structure for slider and all listing items (need to add common style)*/
    .slider{
        ul{
            li{
                padding:0;
                &.video{
                    .img_wrap{
                        a{
                            position: relative;
                            display: block;
                            &:before{
                                @extend .videoicon; 
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 25px;
                                height: 25px;
                                position: absolute;
                                content: '';
                            }
                        }
                    }
                    &.big{
                        .img_wrap{
                            a{
                                &:before{
                                    width: 40px;
                                    height: 40px;
                                }
                            }
                        }
                    }    
                }
                &.photo{
                    .img_wrap{
                        a{
                            position: relative;
                            display: block;
                            &:before{
                                content: '';
                                position: absolute;
                                top:10px;
                                left:10px;
                                width:25px; 
                                height: 21px; 
                                @extend .photoglicon;
                            }
                        }
                    }    
                }
                .img_wrap{
                    display: block;
                    position: relative;
                }
                .img_wrap[data-tag]{
                    &:after {
                        font-family: arial;
                        font-size: 12px;
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                        padding: 2% 3%;
                        line-height: 12px;
                        background:rgba(0, 0, 0, 0.6);
                        content: attr(data-tag);
                        text-align: center;
                        color: #fff;
                        z-index:10
                    }
                }
                .con_wrap{
                    margin: 10px 0 0;
                    padding: 0;
                    display: block;
                    white-space: normal;
                    .text_ellipsis{
                        color: #fff;
                        font-size: 1.2rem;
                        line-height: 2.0rem;
                        max-height: 6.0rem;
                        -webkit-line-clamp: 3;
                    }
                    .section_name {
                        font-size: 1.2rem;  
                        color: #1f81db;
                        display: block;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }

    /*comments in popup start*/

.body_overlay {
    background: #000;
    z-index: 9998;
    opacity: 0.75;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .overlay_content {
    opacity: 1;
    position: fixed;
    top: 167px;
    left: 324.5px;
    z-index: 102;
  }
  
  .comments-body {
    position: fixed;
    z-index: 9999;
    top: 0;
    height: 100%;
    overflow: auto;
  }
  
  .popup_comments .close_icon {
    top: 12px;
    right: 10px;
    &:after,
    &:before {
      height: 17px;
      width: 3px;
    }
  }
  
    /*social share*/
    .wdt_social_share{background: transparent;}
    .wdt_social_share span{width:45px; height:35px; display: inline-block; vertical-align: top; margin: 0 0 0 2px; cursor: pointer;}
    .wdt_social_share span.sms{display: none;}

    .story_partition{margin: 20px 0px 45px;}
    .story_partition span:after {width: 13px; height: 13px; background: transparent; content: ''; display: inline-block; -webkit-transform: rotate(134deg); transform: rotate(134deg); position: absolute; top: 32px; left: 0; right: 0; margin: auto; border-radius: 2px;}
    .story_partition:after{height:4px}

    /*next article*/
    .next_article{overflow: hidden; margin: 20px 0 20px; height: 70px; background: #000;}
    .next_article .nextArticleThumb{width: 53px; float: left; margin: 4px 10px 0 0; border-radius: 3px;}
    .next_article .nxtlink {font-size: 1.6rem; color: #fff; background: linear-gradient(120deg, #de4949 80%, #000 0); vertical-align: top; width: 32%; line-height: 70px; float: left; padding: 0 0 0 3%; text-align: left;}
    .next_article .nxtlink:after{display: none;}
    .next_article .nxttitle{background: #000;display: inline-block;vertical-align: top;width: 55%;padding: 12px 8% 0 0; color: #fff; font-size: 1.4rem; line-height: 2.2rem; height: 4.4rem; position: relative; overflow: hidden;}
    .next_article .nxttitle:before {content: ''; position: absolute; height: 30px; width: 25px; background: #de4949; border-radius: 0 0 5px 5px; right: 15px; top: 0px; bottom: 0; margin: auto;}
    .next_article .nxttitle:after {content: ''; display: block; height: 8px; width: 8px; margin: auto; position: absolute; top: -4px; right: 22px; bottom: 0; -webkit-transform: rotate(135deg); transform: rotate(135deg); border-top: 2px solid #fff; border-right: 2px solid #fff;}    

    /*city drop down for desktop*/
    .selectCity_wrapper{display:inline-block;}
    .wdt_select_city{
        display: block;
        position: relative;
        z-index: 11;
        height: 40px;
        .sel-city-btn{
            display: inline-block;
            vertical-align: top;
            a, span{
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 25px 0 12px;
                height: 25px;
                border-radius: 15px;
                border:1px solid #000;
                color: #000;
                cursor: pointer;
                position: relative;
                font-weight: normal;
                line-height: normal;
                &:before{
                    border-bottom: 0;
                }
                &:after{
                    content: ""; 
                    height: 5px;
                    width: 5px;
                    margin: auto;
                    position: absolute;
                    top: -2px;
                    bottom: 0;
                    transform: rotate(135deg);
                    right: 10px;
                    border-top: 1px solid #000;
                    border-right: 1px solid #000;
                }
                svg{
                    width: 12px;
                    height: 15px;
                    margin-right: 5px;
                    color: red;
                }
            }
        }
        /*
        &:hover{
            .sel-city-content{
                opacity: 1;
                pointer-events: auto;
            }
        }
        */
    }

    .sel-city-content{
        box-shadow: 0 0 12px 0 rgba(187, 185, 185, 0.5);
        padding: 10px;
        height: 150px;
        overflow: hidden;
        overflow-x: scroll;
        display: flex;
        position: absolute;
        left: 0;
        width: 1000px;
        opacity: 0;
        pointer-events: none;
        top: 27px;
        transition: all .1s;
        background: #fff;
        z-index: 1;
        box-sizing: border-box;
        ul{
            column-count: 1;
            column-gap: 40px;
            li{
                flex: 0 0 100%;
                margin-bottom: 8px;
                a, b{
                    color: #000;
                    font-size: 14px;
                    display: block;
                    font-weight: normal;
                    cursor: pointer;
                    &.chk{
                        font-weight: bold;
                    }
                }
                &.head{
                    margin-top: 20px;
                    a, b{
                        color: #000;
                        font-size: 16px;
                        display: block;
                        font-weight: normal;
                        cursor: pointer;
                    }
                    &:first-child{
                        margin-top: 0;
                    }
                }
            }
        }
        &.show{
            opacity: 1;
            pointer-events: auto;
        }
    }
}


.master-player-container{display: none;}

/*IE11 css hacks(only run for IE11) start*/
body.ie-eleven{
    .desktop_body{
        /*header*/
        .header-desktop .nav_wrap .con_secondary li{height: auto;}
        /*for complete site*/
        .row{
            .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
                div:not(.section):not(.row){
                    width:100%;
                    box-sizing: border-box;
                }
            }
            .col8.wdt_astro{
                div{
                    width:100%;
                    box-sizing: border-box;
                    &.wdt_video{
                        width:auto;
                    }
                }
            }
        }
        .section-wrapper .top_headlines .news-card.lead .con_wrap .section_name{
            width:100%;
        }
        /*articlehsow*/
        .articleshow_body .row .col8 .story-article{
            .user-thumbnail{width:auto}
        }
        /*photoshow*/
        .photoshow_body{
            .photo_story li.photo_card .share_icon span{
                height: 27px;
                box-sizing: border-box;
            }
        }
        /*videolist*/
        .L1.videolist{
            .listing .trending .row ul, .listing.videolist .row{
                width:100%;
            }
            .top_wdt_slider .slider .slideIndicator{
                bottom:-10px;
            }
        }
        .L2.videolist{
            .listing.videolist{
                .row{
                    width:100%;
                }    
            }
        }
        /*videoshow*/
        .videoshow-container{
            .top_wdt_video {
                .row{
                    .col8{
                        div{
                            width:auto;
                            &.con_social{
                                width:100%;
                                span.fb{
                                    background-position: -120px -31px;
                                }
                                span.twitter{
                                    background-position: -197px -31px;
                                }
                            }
                            &.enable-read-more{
                                .first_col{width:95%}
                                .second_col{width:5%}
                            }
                        }
                    }
                }
            }
        }
        /*photlist*/
        .L1.photolist .listing.photolist ul li .con_wrap .text_ellipsis{
            display: block;
        }
        .L2.photolist {
            .row{
                width: 100%;
            }
            .listing.photolist ul li .con_wrap .text_ellipsis{
                display: block;
            }
        }
        /*articlelist*/
        .section-wrapper.L1.articlelist, .section-wrapper.L2.articlelist, .section-wrapper.L3.articlelist{
            .row{
                width:100%;
            }
        }
    }
}

/*end*/
/* refine css end */

.topStorieswrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10000;
}
.top-stories-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    width: 680px;
    background: #fff;
    z-index: 10001;
    h2 {
        background: $navbar-background;
        height: 40px;
        line-height: 45px;
        color: #ffffff;
        font-size: 22px;
        padding: 0 20px;
    }
    .close {
      position: absolute;
      right: 15px;
      top: 9px;
      color: #ffffff;
      width: 20px;
      height: 20px;
      cursor: pointer;
      &:before, &:after {
        content: '';
        background: #ffffff;
        height: 20px;
        width: 1px;
        position: absolute;
        top: 0;
        transform: rotate(45deg);
        left: 10px;
      }
      &:after {
        transform: rotate(135deg);
      }
    }
    ul {
      li {
        display: inline-block;
        width: 200px;
        min-height: 170px;
        margin: 10px;
        vertical-align: top;
        position: relative;
        &.video{
            &:before {
                content: '';
                position: absolute;
                @extend .videoicon; 
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 25px;
                height: 25px;
            }
        }
        .photoicon {
            position: absolute;
            left: 10px;
            top: 10px;
            color: #ffffff;
        }
        img {
          width: 200px;
          height: 140px;
          display: block;
        }
        a {
          color: #333;
          font-size: 14px;
          line-height: 21px;
          display: block;
          overflow: hidden;
          text-decoration: none;
          span {
            color: #333;
            font-size: 14px;
            line-height: 21px;
            display: block;
            margin-top: 10px;
            text-decoration: none;
            max-height: 43px;
            overflow: hidden;
          }
        }
      }
      padding: 10px;
      margin: 0;
      height: 423px;
      overflow: hidden;
    }
    &.gray {
        h2 {background: #cccccc; color: #000;}
        .close {
            &:before, &:after {background: #000;}
        }
    }
    &.yellow {
        h2 {background: #ffe151; color: #000;}
        .close {
            &:before, &:after {background: #000;}
        }
    }
    &.orange {
        h2 {background: #c58720;}
    }
    &.blue {
        h2 {background: #3853dc;}
    }
    .wdt_loading {height: 423px;}
}

