.result_inner {
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    .highcharts-container{
        position: relative;
        overflow: hidden;
        text-align: left;
        line-height: normal;
        z-index: 0;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        margin: auto;
        .chart-detail{
            font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
            font-size: 12px;
            position: absolute;
            white-space: nowrap;
            visibility: visible;
            margin-left: 0px;
            margin-top: 0px;
            left: calc(50% - 85px);
            top: calc(50% - 65px);
        }
        svg{
          /*position: absolute;
          left: 7%;
          top: 20%;*/
        }
    }
    .legend ul li {
        display: inline-block;
        margin: 0 10px 0 0;
        font-size: 13px;
        .trend-color {
          width: 15px !important;
          height: 5px !important;
        }
        .trend-text {
          position: relative;
          top: -2px;
          font-size: 12px;
          color: #888;
        }
    }
}

  .charttxt {
    position: relative;
    z-index: 1;
  }

  .chartInnerText {
    text-align: center;
    box-shadow: 1px 1px 18px #777;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #fff;
    font-size: 18px;
    line-height: 1;
    margin: 0 auto;
  }

  .seatcounted {
    padding-top: 33px;
    font-family: helvetica,sans-serif;
    font-weight: bold;
  }

  .totalseat {
    display: inline-block;
    font-family: helvetica,sans-serif;
    font-weight: bold;
    border-top: 1px solid #666;
    padding-top: 3px;
  }

  .seatstatus {
    font-size: 11px;
    color: #999;
    margin-top: 2px;
  }

  .charttitle {
    text-align: center;
    z-index: 2;
    margin-top: 4px;
    .title, .subtitle {
      position: relative;
      z-index: 2;
    }
    .title span {
      font-size: 15px;
      font-family: helvetica;
      text-transform: uppercase;
      font-weight: bold;
    }
    .subtitle {
      font-size: 12px;
      margin-top: 4px;
    }
  }

  .titlebackground {
    width: 0;
    height: 0;
    border: 110px solid transparent;
    border-bottom: 110px solid #eee;
    position: absolute;
    top: -49px;
    left: -42%;
    display: inline-block;
    z-index: -1;
  }

  .charttitle {
    .title, .subtitle {
      position: relative;
      z-index: 2;
    }
  }

  .pie-chart{
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
  }

  .powerbycont {
    margin: 5px auto 5px auto;
    width: 300px;
  }

  .el_powerdby {
    font-size: 11px;
    color: #333;
    text-transform: uppercase;
    line-height: 22px;
    text-align: center;
    img {
      width: 110px !important;
    }
  }

  .el_powertxt {
    font-size: 13px;
    color: #333;
  }

  .result_inner {
    h2 {
      color: #1a1a1a;
      text-transform: uppercase;
      padding-top: 10px;
      a {
        color: inherit;
        position: relative;
        padding: 10px;
        z-index: 50;
        &:after {
          position: absolute;
          content: "";
          background: url(https://static.toiimg.com/photo/51994833.cms) no-repeat;
          width: 7px;
          height: 11px;
          right: -2px;
          top: 12px;
        }
      }
      span:nth-child(2):after {
        position: absolute;
        content: "";
        background: url(https://static.toiimg.com/photo/51994833.cms) no-repeat;
        width: 7px;
        height: 11px;
        right: -10px;
        top: 2px;
      }
      .arrow {
        display: none;
      }
    }
    .refresh {
      position: absolute;
      right: 10px;
      top: 0;
      background: #fff url(https://static.toiimg.com/photo/51977278.cms) no-repeat;
      height: 40px;
      width: 40px;
      background-size: cover;
      z-index: 10;
      cursor: pointer;
    }
  }

  .refresh, .blogaticleCont .refresh {
    position: absolute;
    right: 10px;
    top: 0;
    background: #fff url(https://static.toiimg.com/photo/51977278.cms) no-repeat;
    height: 40px;
    width: 40px;
    background-size: cover;
    z-index: 10;
    cursor: pointer;
  }

  .refresh {
    top: 10px;
  }

  .result_inner .refresh img, .refresh img {
    width: 40px;
  }

  .btn_group {
    text-align: center;
    padding: 15px 0 5px;
    a {
      display: inline-block;
      border: 1px solid #999;
      border-radius: 1px;
      font-size: 12px;
      padding: 0 15px;
      color: #999;
      height: 27px;
      line-height: 30px;
      margin: 0 5px;
      text-transform: uppercase;
    }
  }

  .tbl_view {
    background: url(https://static.toiimg.com/photo/45536036.cms) no-repeat;
    background-size: 40px 40px;
    top: 0;
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
    z-index: 10;
  }

  .grid_view {
    background: url(https://static.toiimg.com/photo/45536030.cms) no-repeat;
    background-size: 40px 40px;
    top: 0;
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
    z-index: 10;
  }

  .election_con .tbl_col {
    display: table-cell;
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 2%;
    line-height: 14px;
    font-size: 13px;
    vertical-align: middle;
}

  .tbl_heading {
    font-weight: normal;
    display: table-row;
    background-color: #be2819;
    text-align: left;
    line-height: 1.4rem;
    font-size: 1.3rem;
    color: #fff;
    text-transform: uppercase;
  }

  .tbl_row {
    display: table-row;
    text-align: left;
    color: #333;
  }

  .tbl_heading .tbl_col {
    line-height: 18px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .election_con .tbl_col {
    display: table-cell;
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 2%;
    line-height: 14px;
    font-size: 13px;
    vertical-align: middle;
  }

  .result-tbl {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto 10px;
    font-size: 1rem;
    font-weight: bold;
    background: #fff;
    .bjp, .pdp, .jkn, .inc {
      display: inline-block;
      margin: 0 10px 0 0;
    }
  }

  .tbl_col.col1 {
    font-weight: bold;
  }

  .party_logo, .tbl_col.party_logo {
    line-height: 28px;
  }

  .party_logo img {
    max-width: 36px !important;
    float: left;
    margin-right: 6px;
  }

  .result-tbl .tbl_row:last-child {
    background: #f5f5f5;
  }

  .el_oops {
    text-align: center;
    padding: 10px 5%;
    line-height: 22px;
    p {
      padding: 10px 0;
      font-size: 18px;
      color: #333;
    }
    .refresh_btn {
      width: 150px;
      line-height: 25px;
      font-size: 16px;
      background: #be2819;
      padding: 10px 5px;
      text-align: center;
      margin: 20px auto 10px auto;
      a {
        color: #fff;
      }
      .ex_res {
        width: 25px;
        vertical-align: text-bottom;
        margin-right: 10px;
      }
    }
  }
