@import 'sprite';

.bottom_nav {
  background: $color-white;
  h3 {
    color: $color-black;
  }
  ul {
    li {
      a {
        color:#4a4a4a;
        &:before {
          border:1px solid #4a4a4a;
        }
      }
    }
  }
}


.footer {
  background: $footer-background;
  h4 {
    border-bottom: 1px solid $footer-border-bottom;
    color: $footer-heading-color;
  }
  .head {
    color: $footer-heading-color;
  }
  .footlinks-wrapper a {
    color: $footer-link-color;
  }
  .trending-topics {
    a {
      border: 1px solid $footer-trending-color;
      color: $footer-link-color;
    }
  }
  .app-n-follow {
    background-color: $color-white;
    border:1px solid $footer-trending-color;
  }
  .copy-right {
    color: $footer-link-color;
    a {
      color: $footer-link-color;
    }
  }
  .sociallink .heading,  .app-wrapper span{
      color: $footer-heading-color;
  }
}

.bottom_nav{padding: 15px 3%;}
.bottom_nav h3{margin:0; font-size: 1.6rem; line-height: 1.9rem;}
.bottom_nav ul{margin-top:20px;}
.bottom_nav ul li{display:inline-block; width:49%; box-sizing:border-box; margin-bottom:15px; font-size: 1.4rem;}
.bottom_nav ul li a{position:relative; padding:0 0 0 15px}
.bottom_nav ul li a:before{content: ''; height: 6px; width: 6px; border-radius: 50%;position: absolute; left: 0; top: 5px;}

.footer {padding: 20px 3% 0;}
.footer-pd-bottom{padding-bottom: 80px;}
.footer h4 {font-size: 1.4rem; margin: 0 0 10px; padding: 0 10px 8px 0; text-transform: uppercase;}
.footer .head {display: inline;	font-size: 1.3rem; font-weight:600;	text-transform: uppercase;}
.footer .footlinks-wrapper {display:block; margin-bottom: 15px; word-break: break-word;}
.footer .footlinks-wrapper a:after {content: "|";	margin: 0 5px;}
.footer .footlinks-wrapper a:last-child:after {content: ""; margin: 0}
.footer .footlinks-wrapper a {display: inline; font-size: 1.3rem;	line-height: 2.2rem;}
.footer .trending-topics {margin-bottom: 15px;}
.footer .trending-topics .head{display: block;}
.footer .trending-topics a {padding: 3px 10px;	border-radius: 20px;	margin: 0 8px 8px 0; display: inline-block;	font-size: 1.3rem;}
.footer .footer-links{text-align:center; font-family: arial;}
.footer .footer-links a{font-size: 1rem;}
.footer .copy-right {display: block; font-size: 1rem; line-height: 1.8rem; text-align: center; font-family: arial;}
.footer .copy-right a .footer .copy-right a:visited {text-decoration: none;}
.footer .sociallink {width:50%; padding-left: 5%; box-sizing: border-box; text-align: center; display: inline-block; vertical-align: top;}
.footer .sociallink .heading {margin-bottom: 10px; display:block;  font-size: 1.2rem; font-weight: 600; font-family: arial;}
.footer .sociallink a {margin-right: 15px; display: inline-block;}
.mobile_body .footer .sociallink a {margin-right: 7px;}
.footer .sociallink a:last-child{margin: 0}
.footer .sociallink .icons a{width:30px; height:30px; display:inline-block; vertical-align: top; border-radius: 50%;}
.footer .sociallink .icons a svg {margin: auto; width: 16px; color: #fff;}
.footer .sociallink .icons a.facebook{background-color: #3A5897;}
.footer .sociallink .icons a.google-plus{background-color: #DA4835;}
.footer .sociallink .icons a.twitter{background-color: #5EA8DC;}
.footer .sociallink .icons a.youtube {background-color: #E10000; color: #fff;}
.footer .sociallink .icons a.telegram {background-color: #27A7E8;}

.footer .app-wrapper{text-align: center; display: inline-block; vertical-align: top; width: 50%; padding-right: 5%; box-sizing: border-box; border-right: 2px solid #e1e1e1;}
.footer .app-wrapper span{font-size: 1.2rem; font-weight: 600; white-space: nowrap; text-transform: uppercase; display: block; margin-bottom: 10px; font-family: arial;}
.footer .app-wrapper a{width:30px; height:30px; display: inline-block; vertical-align: top; border-radius: 50%; background-color: #000; margin-right: 15px;}
.footer .app-wrapper a svg {margin: auto; font-size: 18px; color: #fff;}
.footer .app-wrapper a:last-child{margin-right: 0;}

.app-n-follow{
  margin: 10px 0;	padding: 12px 3% 8px;
}

/*interstitial start*/
.interstitial_con {
  display: block;
  width: 0; height: 0; overflow: hidden;
  position: fixed;
  background: #fff;
  top: 0;
  bottom: 0;
  z-index: 9999999999;
  .int_nav {
    /*background: $home-section-more-bg;*/
    background: #eee;
    padding: 4% 20% 2% 4%;
    position: relative;
    .logo {
      display: inline-block;
      vertical-align: top;
      img {
        max-width: 110px;
      }
      b {
        display: block;
        color: #000;
        font-size: 1.4rem;
        line-height: 2.0rem;
        margin: 8px 0 0 0;
        font-weight: normal;
        font-family: arial;
      }
    }
    .skip {
      color:#000;
      display: none;
      font-size: 1.4rem;
      text-transform: uppercase;
      position: absolute;
      right: 4%;
      padding: 0 15px 0 0;
      top: 50%;
      transform: translateY(-50%);
      font-weight: bold;
      font-family: arial;
      line-height: 2rem;
      &:after {
        content: "";
        height: 6px;
        width: 6px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        border-top: 2px solid #000;
        border-right: 2px solid #000;
        transform: rotate(45deg);
        right: 5px;
      }
    }
  }
  .int_body {
    padding: 2%;
    text-align: center;
    .next_story {
      padding: 5% 0;
      text-align: left;
      b {
        text-decoration: underline;
        color: #949494;
        font-size: 1.8rem;
        font-weight: normal;
      }
      h3 {
        font-weight: normal;
        font-size: 1.8rem;
        line-height: 2.4rem;
        color: #fff;
        margin: 15px 0 0 0;
        display: block;
      }
    }
  }
}
/*interstitial end*/