@import 'sprite.scss';
.mobile_body{
    .wdt-inline-gadgets{background: #fff;} 
    .wdt-inline-gadgets ul.scroll{display: block; margin: 0; padding: 0; overflow-x: auto; overflow-y: hidden;}
    .wdt-inline-gadgets ul.scroll li:hover:before{display: none;}
    .wdt-inline-gadgets ul.scroll li.active a{border-bottom:2px solid #000;}
    .wdt-inline-gadgets ul.scroll li.active label{font-weight:bold;color:#000;}
    .wdt-inline-gadgets ul.scroll li.active a{padding-top:10px}
    .wdt-inline-gadgets ul.scroll li.active:after{display: none;}
    .wdt-inline-gadgets ul.scroll li.gdt-refrigerator .svg-icons{width:14px; height:32px;}
    .wdt-inline-gadgets .synopsis{padding: 0 3% 4%; font-size: 1.6rem; line-height: 2.4rem; word-wrap: break-word;}
    .wdt-inline-gadgets .inline-gadgets-content .wdt_loading{margin:0 3%}
    .wdt-inline-gadgets .inline-gadgets-content ul li .slide.upcoming{padding-top: 35px}
    .wdt-inline-gadgets .inline-gadgets-content ul li .slide.upcoming .top-caption{display: block;}
    .wdt-inline-gadgets .inline-gadgets-content ul li .slide.rumoured{padding-top: 35px}
    .wdt-inline-gadgets .inline-gadgets-content ul li .slide.rumoured .top-caption{display: block;}
    
    .con_brands{margin-bottom: 4%; background: #fff;}
    .con_brands .brands_slider .slider{margin: 0;}
    .con_brands .brands_slider .brands_content{min-height: 75px; margin: 0 3% 4%; padding-bottom: 0;}
    .con_brands .brands_slider .brands_content .wdt_loading{min-height: 75px; margin: 0 3%; top:0}
    .con_brands .brands_slider .brands_content ul li .slide{width:80px; margin:15px 0 0 0; height: 50px;}
    .con_brands .brands_slider li:nth-child(4n+4) .slide{border-right: 0;}
    .con_brands .brands_slider .brands_content ul li .slide img {max-width: 70px; max-height: 40px;}
    .con_brands .brands_slider .change_device{position: absolute; top: -50px; right: 7%; background: #fff; max-width:110px; padding-right: 20px; white-space: nowrap; overflow: hidden;}
    .con_brands .brands_slider .change_device label{position: absolute; color: #666; height: 30px; line-height: 35px; font-size: 1.4rem; right:24px}
    .con_brands .brands_slider .change_device label:after{content: ''; display: block; height: 8px; width: 8px; margin: auto; position: absolute; top: 8px; transform: rotate(135deg); right: -20px; border-top: solid 2px #a7a7a7; border-right: solid 2px #a7a7a7;}
    .con_brands .brands_slider .change_device select{opacity: 0; height:30px}

    .wdt_rating.mobile{
        .tabs_circle{margin-bottom: 15px;}
        .con_review_rate {margin: 15px 4% 0;}
        .rateBox, .rating-values {display:none}
        .rateBox.visible, .rating-values.visible {display:block}
        .rateBox .rate_con{width:100%}
        .rating-values .user_review{width:40%}
        .rating-values .user_star{width:60%;}
        .rating-values .user_star li .star_bg{width:130px; height:15px}
        .rating-values .user_star li .star_txt{font-size: 16px;}
        .user_star .star5,.user_star .star4,.user_star .star3,.user_star .star2,.user_star .star1{height:15px;}
    }
    .wdt_varients{margin: 0 0 4%; border-bottom: 2px solid #c6c6c6; padding: 0 0 3%;}
    .wdt_varients ul li{width:100%}
    /*gadget amz scroll start*/
    .gadget-amz-scroll ul {list-style-type: none; white-space: nowrap; overflow-x: auto; margin: 0 3%}
    .gadget-amz-scroll ul li{border:1px solid #e3e3e3; text-align: center; padding: 30px 10px 10px; margin-right: 10px; display: inline-block; vertical-align: top; width: 130px; white-space: normal; max-height: 256px; position: relative;}
    .gadget-amz-scroll ul li:last-child{margin-right: 0;}
    .gadget-amz-scroll ul li .img_wrap {width: auto; height: 110px;}
    .gadget-amz-scroll ul li .img_wrap img {max-height: 100px; width: auto;}
    .gadget-amz-scroll ul li .item_name .text_ellipsis{font-size: 1.4rem; line-height: 2.2rem; height: 4.4rem; color: #000; font-weight: bold; margin: 5px 0}
    .gadget-amz-scroll ul li .btn_purchase{background: #fed20a; height: 20px; line-height: 23px; font-size: 1.2rem; padding: 0 7px; display: block; border-radius: 3px; margin-bottom: 10px; cursor: pointer;}
    .gadget-amz-scroll ul li .btn_purchase:last-child{margin-bottom: 0}
    /*gadget amz scroll end*/
    .thumb_img_reviews{
        .image_caption{
            /*background: #000;*/
            .rating{
                .table_col {
                    text-align: center;
                    width: 50%;
                    &:only-child{
                        display: block;
                    }
                }
                .txt{font-size: 1.4rem; display:inline-block;}
                .count{font-size: 1.6rem; display:block; font-family: arial}
                .count b{font-size: 2.6rem; font-weight: normal;}
                .critic, .users{position: relative;}
                .critic:before{color:#ff001f; content: "\2605"; font-size: 20px; line-height: 30px; position: absolute; top: -4px; left: -25px}
                .users:before{color:#00b3ff; content: "\2605"; font-size: 20px; line-height: 30px; position: absolute; top: -4px; left: -25px}
            }


        }
    }
    .rating_txt {
        display: block;
        color: #505050;
        font-size: 1.4rem;
        margin-top: 5px;
        b {
            font-family: arial;
            font-weight: normal;
            small {
                color: #000;
                font-size: 1.4rem;
                font-weight: bold;
            }
        }
    }
    .more_brands{
        display: block;
        margin-top: 5px;
        line-height: 1.8rem;
        a {
            color: #1f81db;
            font-size: 1.2rem;
            line-height: 1.8rem;
            position: relative;
            display: inline-block;
            vertical-align: top;
            &:after {
                content: '|';
                margin: 0 5px;
            }
            &:last-child{
                &:after{
                    content: '';
                    margin: 0;
                }
            }
        }
    }
    .story-article .tbl_articleshow .top-head{background:#e9e9e9; font-size: 1.6rem; line-height:2.4rem; font-weight: bold; padding:10px 10px 4px; margin-bottom: 0;}
    .story-article .tbl_articleshow .top-head a{color:#000}
    .story-article .tbl_articleshow .bottom-btn{background:#005499; color:#fff; font-size:1.6rem; height:36px; line-height: 38px; text-align: center; display: block; margin-right:0}
    .story-article .tbl_articleshow .bottom-btn:after{display: none;}

    .wdt_popular_slider, .wdt_lstcomparsion_slider{
        margin-bottom: 4%;
        background: #fff;
        padding-bottom: 3%;
        overflow: hidden;
        .section{
            padding: 0;
        }
        .slider {
            padding: 0;
            .slider_content{
                white-space: nowrap;
                overflow: hidden;
                overflow-x: auto;
                width: 97%;
                margin-left: 3%;
                ul{
                    flex-wrap: nowrap;
                    display: inline-flex;
                    li{
                        flex-shrink: 0; 
                        width: auto;
                        min-height: 135px;
                        &:nth-child(3n+3){
                            margin-right: 15px;
                        }
                        .slide{
                            width:100px;
                            min-height: auto;
                        }
                    }
                }
            }
        }
    }

    .wdt_amazon_slider{
        margin-bottom: 4%;
        background: #fff;
        padding-bottom: 3%;
        overflow: hidden;
        .section{
            padding: 0;
        }
        .slider {
            .slider_content{
                width: 97%;
                margin-left: 3%;
            }
        }
    }
    /*common css for slider start*/
    .ui_slider .slider .slider_content li .slide{min-height: 210px;}
    /*common css for slider end*/
    .photo_video_section .section h2 span{height:40px; line-height: 40px;}

    .wdt_next_slider{
        margin: 0 0 4%;
        background: #fff;
        width: 100%;
        .section{
            padding:0;
        }
        .slider{
            margin: 0 3% 2%;
            ul li{
                margin: 0 3% 0 0;
                &:last-child{
                    margin: 0;
                }
            }
        }
    }
    .rhs-in-gadgetlist{
        .tech-rhs-news{
            background: #fff; margin-bottom: 4%;
            .section{
                width: 100%;
            }
        }
        .gn_trending{
            background: #fff; 
            margin-bottom: 4%;
            padding-bottom: 4%;
            h3{
                padding: 0;
            }
        }
        .box-item{
            width: 100%;
            &.rhs-ads{
                background: transparent;
                padding: 0;
                &.ad1{
                    margin-bottom: 4%;
                }
            }
        }
        .rhs-video-list{
            margin-bottom: 4%;
            .section{
                padding: 0;
            }
            .list-horizontal{
                display: flex;
                flex-wrap: nowrap;
                width: 100%;
                overflow: hidden;
                overflow-x: auto;
                padding-left: 3%;
                box-sizing: border-box;
                li{
                    padding-right: 3%;
                    .img_wrap{
                        img{
                            width: 130px;
                        }
                    }
                    .con_wrap {
                        margin: 10px 0 0;
                        display: block;
                        min-height: 6rem;
                        .text_ellipsis {
                            font-size: 1.2rem;
                            line-height: 2.0rem;
                            max-height: 6.0rem;
                            -webkit-line-clamp: 3;
                        }
                    }
                }
            }
        }
    }
    .section-wrapper.gn{
        .container-comparewidget.pwa{
            background: #fff;
            .section{
                padding: 0;
            }
            .wdt_compare-gadgets{
                padding-top: 0;
                h2 {
                    font-size: 18px;
                    .search-suggest{
                        margin-top: 5px;
                        display: block;
                    }
                }
            }
        }
    }
  }