/*compare list for PWA*/
.container-comparewidget.pwa{
    .wdt_compare-gadgets{
        /*
        padding: 4% 3%;
        margin-bottom: 3%; 
        overflow: initial; 
        background: #fff;
        .wdt-inline-gadgets{
            margin-bottom: 30px;
            ul.scroll{
                margin: 0;
            }
        }
        
        h3{font-size:22px;margin:0 0 10px;font-weight:bold;}
        .input_field{display:block; margin-bottom:12px;width:100%;position:relative;}
        .input_field input[type='text']{padding:8px 25px 6px 10px;font-size:14px;box-sizing:border-box;width:100%;color:#000;border-radius:5px;outline:none;border:1px solid #d5d5d5;}
        .info-camparsion{display:block;text-align:center;color:#ff0000;font-size: 1.2rem; line-height: 1.8rem;}
        */
        .input_field:after {content: "vs"; background: #135394; width: 22px; height: 22px; font-size: 13px; line-height: 22px; color: #fff; border-radius: 50%; position: absolute; left: 50%; bottom: -16px; text-align: center; z-index: 2; font-family: arial;}
        .input_field:nth-child(3):after, .input_field:last-of-type:after{display: none;}
        .input_field .auto-suggest{position:absolute;top:35px;left:0;right:0;margin:0 auto;border-left:1px solid #d5d5d5;border-right:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5;background:#fff;z-index:11; overflow-y:auto;overflow-x:hidden;}
        .input_field .auto-suggest ul li{display:block;line-height:22px;margin-bottom:3px;font-size:14px;cursor:pointer;padding:3px 10px 0;}
        .input_field:last-child{margin-right:0;}
        .input_field .close_icon{top:7px;right:5px;}
        .input_field .auto-suggest ul li span{text-align:left;}
        .input_field .auto-suggest ul li:hover, .input_field .auto-suggest ul li.active{background:#135394;border-radius:0; color: #fff;}
        .input_field .auto-suggest ul li span{margin:0;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
        .btn-blue{margin-bottom: 5px;}
    }
    .wdt_suggested_slider .list-slider{
        margin: 0 0 0 3%; 
        width: 97%;
    }
    .ad1.mrec2{margin-bottom: 4%;}
    .wdt_popular_items{
        .ui_slider .items-in-list{
            margin: 0;
            ul li{
                margin: 0 3% 4%;
                width: 100%;
                padding-bottom: 4%;
                a{
                    padding-left: 30px;
                    position: relative;
                    min-height: 3rem;
                    svg{
                        position: absolute;
                        top: 0;
                        left: 0;
                        color:#b8b8b8;
                        width: 25px;
                        height: 25px;
                        bottom: 0;
                        margin: auto;
                    }
                }
            }       
        }
    }
}



