

/*compare show for WEB and PWA*/
.container-compare-show{
    
    margin:0 0 20px;
    .detailed-spec-show{margin-bottom:40px;}
    .detailed-spec-show .gn_table_layout{margin:0 0 20px;}
    .detailed-spec-show .gn_table_layout:last-child{margin:0;}
    .detailed-spec-show .gn_table_layout table{margin:2%;width:96%;}
    .detailed-spec-show .gn_table_layout table td{font-size:14px;padding:12px 15px 7px;border:0;border-right:1px solid #d6d6d6;}
    .detailed-spec-show .gn_table_layout table tr td:last-child{border:0;}
    .detailed-spec-show .gn_table_layout table tr th{font-size:15px;border:1px solid #d6d6d6;background:#eeeeee;color:#000;font-weight:bold;text-align:center;}
    .detailed-spec-show .gn_table_layout table tr:last-child{border-bottom:1px solid #d6d6d6;}
    .detailed-spec-show .gn_table_layout .spec + table{display:none;}
    .detailed-spec-show .gn_table_layout .spec{background:#a5b6c4;font-size:18px;color:#fff;text-align:left;display:block;padding:12px 15px 9px 45px;position:relative;cursor:pointer;font-weight:bold;margin-bottom:2%;}
    .detailed-spec-show .gn_table_layout .spec:before{content:'';position:absolute;border:2px solid #fff;border-radius:50%;top:9px;left:10px;height:22px;width:22px;}
    .detailed-spec-show .gn_table_layout .spec:after{content:'\002B';position:absolute;top:10px;left:17px;font-size:22px;font-weight:bold; font-family: arial;}
    .detailed-spec-show .gn_table_layout .spec.active:after{content:'\2212';font-size:23px;}
    .detailed-spec-show .gn_table_layout .spec.active + table{display:table;}
    .detailed-spec-show .gn_table_layout .charging-no{position:relative;height:28px;width:20px;color:#fff;font-size:1px;display:inline-block;vertical-align:top;}
    .detailed-spec-show .gn_table_layout .charging-no:after{content:'\2716';font-size:25px;font-weight:bold;position:absolute;top:0;left:0;height:20px;line-height:26px;color:#ff0000;}
    .detailed-spec-show .gn_table_layout .charging-yes{position:relative;height:28px;width:20px;color:#fff;font-size:1px;display:inline-block;vertical-align:top;}
    .detailed-spec-show .gn_table_layout .charging-yes:after{content:'\2714';font-size:25px;font-weight:bold;position:absolute;top:0;left:0;height:20px;line-height:26px;color:#75da00;}
    .detailed-spec-show .gn_table_layout table td .stars-in-value{display:inline-block;vertical-align:top;margin:2px 10px 0 0;}
    .detailed-spec-show .gn_table_layout table td .stars-in-value b{font-weight:bold;}
    .detailed-spec-show .gn_table_layout table td .rt-submit{color:#044e97; display: block; margin-top: 10px; text-align: center;}

    .only_difference{display:inline-block;vertical-align:top;margin:6px 0 0 20px;}
    .only_difference input{display:none;}
    .only_difference label{position:relative;cursor:pointer;font-size:16px;line-height:26px;}
    .only_difference label:before{content:'';-webkit-appearance:none;background-color:transparent;border:2px solid #979797;box-shadow:0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);padding:8px;display:inline-block;position:relative;vertical-align:middle;cursor:pointer;margin-right:8px;border-radius:3px;top:-3px;}
    .only_difference input:checked + label:after{content:'';display:block;position:absolute;top:2px;left:8px;width:4px;height:10px;border:solid #979797;border-width:0 2px 2px 0;transform:rotate(45deg);}
}

.wdt_compare-gadgets.details ul{white-space:nowrap;}
.wdt_compare-gadgets.details b.close_icon {top: 5px; right: 5px;}
.wdt_compare-gadgets.details.fixed{position:fixed;top:34px;z-index:100;margin:auto;left:0;right:0;width:960px;border-radius:0;padding:10px 20px;text-align:center;}
.wdt_compare-gadgets.details.fixed ul li{min-height:160px;padding:10px 15px;}
.wdt_compare-gadgets.details.fixed ul li .img_wrap{height:90px;}
.wdt_compare-gadgets.details.fixed ul li .img_wrap img{max-height:70px;}
.wdt_compare-gadgets.details.fixed ul li .con_wrap h4{-webkit-line-clamp:1;max-height:22px;}
.wdt_compare-gadgets.details.fixed ul li .con_wrap .price_tag{display:none;}
.wdt_compare-gadgets.details.fixed ul li .input_field{margin-top:60px;}
.wdt_compare-gadgets .input_field .search_icon{position: absolute; right: 3px; top: 0; bottom: 0; margin: auto; color: #b2b2b2;}
.wdt_compare-gadgets .input_field input[type='text']{padding:8px 25px 6px 10px;font-size:14px;box-sizing:border-box;width:100%;color:#000;border-radius:5px;outline:none;border:1px solid #d5d5d5;}
.wdt_compare-gadgets .input_field .auto-suggest{position:absolute;top:35px;left:0;right:0;margin:0 auto;border-left:1px solid #d5d5d5;border-right:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5;background:#fff;z-index:11; overflow-y:auto;overflow-x:hidden;}
.wdt_compare-gadgets .input_field .auto-suggest ul li{display:block;line-height:22px;margin-bottom:3px;font-size:14px;cursor:pointer;padding:3px 10px 0; min-height: auto; width: auto; margin: 0;}
.wdt_compare-gadgets .input_field:last-child{margin-right:0;}
.wdt_compare-gadgets .input_field .auto-suggest ul li span{text-align:left;}
.wdt_compare-gadgets .input_field .auto-suggest ul li:hover, .wdt_compare-gadgets .input_field .auto-suggest ul li.active{background:#135394;border-radius:0; color: #fff;}
.wdt_compare-gadgets .input_field .auto-suggest ul li span{margin:0;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.wdt_compare-gadgets.details.fixed .compare_criteria{display:none;}
.wdt_compare-gadgets.details .compare_criteria{display:block; background:#d8d8d8;border-radius:8px;padding:10px;margin:20px 0 0 0;}
.wdt_compare-gadgets.details .compare_criteria select{border:1px solid #c5c5c5;background:#fff;font-size:16px;padding:8px 5px 5px;display:inline-block;vertical-align:top;border-radius:5px;/*-webkit-appearance:none;*/}

/*compare show for PWA*/
.container-compare-show.pwa{
    .detailed-spec-show {
        margin: 0;
        .gn_table_layout{
            background: #fff;
            margin-bottom: 4%;
            padding-bottom: 4%;
        }
    }
    .wdt_compare{
        display: flex;
        justify-content: flex-end;
        margin: 0 5px 10px 0;
        .btn-compare{
            color: #005499;
            cursor: pointer;
            display:flex;
            .compare_icon{
                width:25px;
                height:25px;
                margin: 2px 5px 0 0;
            }
        }
    }
    .fake-compare-show-card{background: #fff; padding: 4% 3%;}
}

.wdt_compare-gadgets.details.wap.fixed{top:0; width: auto; padding: 5px;}
.wdt_compare-gadgets.details.wap.fixed .wdt_compare{display: none;}
.wdt_compare-gadgets.details.wap.fixed ul li{padding: 10px 5px 5px;}

.mobile_body{
    .wdt_compare-gadgets.details .compare_criteria{background: transparent; border-radius: 0; margin: 5px 0 0 0; text-align: center;}
    .wdt_compare-gadgets.details .only_difference{margin: 0;}
    .wdt_compare-gadgets.details .compare_criteria select{display: none;}
    /*search tool (popup)*/
    .wdt_compare-gadgets.search-tool{
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 101;
        /*height: calc(100vh - 160px);*/
        height: 100vh;
        overflow: hidden;
        padding-top: 75px;
        .backToScreen {
            background: #135394; 
            height: 55px; 
            line-height: 55px; 
            font-size: 1.6rem; 
            color: #fff; 
            padding: 0 0 0 45px; 
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            span{
                cursor: pointer;
                position: absolute;
                left: 0;
                top: 0;
                width:45px;
                height:55px;
                line-height: 70px;
                text-align: center;
                svg{
                    width: 25px;
                    height: 25px;
                }
            }
        }
        .input_gadgets{
            padding:0 3%;
            height: calc(100vh - 160px);
            overflow: auto;
        }
        .close_icon {top: 7px; right: 5px;}
        .input_field{margin: 0 0 12px;}
        .input_field:after {content: "vs"; background: #135394; width: 22px; height: 22px; font-size: 13px; line-height: 22px; color: #fff; border-radius: 50%; position: absolute; left: 50%; bottom: -16px; text-align: center; z-index: 2; font-family: arial;}
        .input_field:nth-child(3):after, .input_field:last-of-type:after{display: none;}
    }
}
