/*gadget list mobile css, must include after desktop gadget list css*/
.gadgetlist_body.pwa{
    .gl_top_bar {
        background: #fff;
        margin: 0;
        padding: 0 3%;
        .section{
            padding: 0;
            .top_section{
                margin: 0 0 4%;
            }
        }
    }
    .gl_tabs{
        width: 100%;
        padding: 0;
        span{
            display: none;
        }
        ul {
            margin: 5px 3% 15px 0;
            justify-content: flex-end;
            li {
                padding: 0 5px;
                border: 1px solid #2f6ba8;
                font-size: 14px;
                display: inline-block;
                vertical-align: top;
                font-weight: 400;
                height: 25px;
                line-height: 25px;
                margin: 0;
                min-width: 60px;
                box-sizing: border-box;
                &:first-child {
                    border-radius: 15px 0 0 15px;
                }
                &:last-child {
                    border-radius: 0 15px 15px 0;
                }
                &.active {
                    background: #135394;
                    color: #fff;
                }
            }
        }
    }
    .gl_list_mobiles{
        background: #fff;
        padding-bottom: 4%;
        margin-bottom: 4%;
        .bg-gray{
            background: transparent;
            .gadgets-in-list>{
                ul>{
                    li{
                        margin: 0 3% 4%;
                        border: 1px solid #e3e3e3;
                        padding: 20px 3% 4%;
                        position: relative;
                        .add-to-compare{
                            position: absolute;
                            right: 0;
                            top: 0;
                            padding: 7px 5px 0 5px;
                            cursor: pointer;
                            svg{
                                color: #b8b8b8;
                                width: 26px;
                                height: 26px;
                                vertical-align: top;
                            }
                            &.highlighted{
                                svg{
                                    color: #005499;
                                }
                            }
                        }
                        .top_spec{
                            display: flex;
                            flex-wrap: wrap;
                            .gadget_img{
                                width:25%;
                                border: 0;
                                height: auto;
                                margin: 0;
                                padding: 0;
                                img {
                                    max-width: 60px;
                                    max-height: 100px;
                                }
                            }
                            .gadget_detail{
                                width: 75%;
                                margin: 0;
                                .gd_name{
                                    width: 90%;
                                }
                                .gd_price{
                                    color: #000;
                                    font-weight: bold;
                                }
                            }
                            .gadget_specs{
                                margin-top: 10px;
                                width: 100%;
                                ul{
                                    display: flex;
                                    flex-wrap: wrap;
                                    justify-content: space-between;
                                    li{
                                        width: 44%;
                                        &:only-child{
                                            width: 94%;
                                        }
                                    }
                                }
                            }
                            .rd_more{
                                width: 100%;
                            }
                            .gd_head{
                                display: block;
                                font-size: 1.4rem;
                                font-weight: bold;
                            }
                            .gadget_buy{
                                width: 100%;
                                margin-top: 10px;
                                .dotted-box{
                                    white-space: normal;
                                    li{
                                        width: auto;
                                        display: flex;
                                        flex-wrap: wrap;
                                        min-height: auto;
                                        margin: 0 0 5px;
                                        .txt{
                                            width: 100%;
                                        }
                                        .gd_price{
                                            font-size: 1.4rem;
                                            font-weight: bold;
                                            color: #000;
                                            margin-top: 5px;
                                            b{
                                                text-decoration: line-through;
                                                color: #9b9b9b;
                                                margin: 0 0 0 10px;
                                            }
                                        }
                                        .btm{
                                            margin: 0 0 0 auto;
                                            .amazon{
                                                margin: 0 10px 0 0;
                                            }
                                        }
                                        &:last-child{
                                            margin: 0;
                                        }
                                    }
                                }
                            }
                        }
                        .bottom_spec{
                            margin: 0;
                        }
                        &.upcoming, &.rumoured {
                            padding-top: 35px;
                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    
}
.gl_latestGadgets.pwa{
    padding: 0 0 4%;
    margin-bottom: 4%;
    background: #fff;
    .section{
        width: 100%;
        h2{
            height: auto;
            span{
                height: auto;
                line-height: 30px;
                max-width: initial;
                padding-right: 0;
            }
        }
    }
    .gn_table_layout{
        margin: 0 3%;
        max-width: 94%;
    }
}
.seo-btf-content.pwa{
    margin: 0 0 4%;
    background: #fff;
    padding: 4% 3%;
}

/*overlay filters and compare start*/
.overlay_compare_filter{overflow:hidden}
.overlay_compare_filter .btn{text-align:center;color:#fff;font-family:'NotoSans Regular',Arial,Helvetica,sans-serif;font-size:1.6rem}
.overlay_compare_filter .btn span{position:relative; display: block; pointer-events: none; height: 40px; line-height: 37px;}
.overlay_compare_filter .btn span .compare_count{background:#135394;height:18px;width:18px;position:absolute;top:0px;right:8px;border-radius:50%;color:#fff;font-size:11px;z-index:10;line-height:18px; font-family:arial; display:none;font-weight:400}
.overlay_compare_filter .btn-compare.btn.active span:before{background-position:-71px -197px;left:-37px}
.overlay_compare_filter .btn-compare.btn.active{background:#fff;box-shadow:0 0 7px #ddd}
.overlay_compare_filter .btn-compare.btn.active span .compare_count{display:block}
.overlay_compare_filter .btn-compare.btn.active span{margin-left: -5px;}
.overlay_compare_filter .btn-compare.btn.active span svg{color:#005499}
.overlay_compare_filter .btn{position:fixed;bottom:160px;margin:0;z-index:99;width:12%;font-weight:400;background:#135394; min-height: 40px;}
.overlay_compare_filter .btn-compare{right:50px;padding-left:10px;border-radius:5px 0 0 5px}
.overlay_compare_filter .btn-compare span svg{width:25px;height:25px; color:#fff; vertical-align: middle;}
.overlay_compare_filter .btn-filter span svg{width:20px;height:20px; color:#fff; vertical-align: middle;}
.overlay_compare_filter .btn-filter{right:0;padding-left:5px;padding-right:5px}
.overlay_compare_filter .btn-filter span:before{top:0;left:-30px;background-position:-61px -275px;width:20px;height:20px}
.overlay_compare_filter .overlay{height:0%;width:100%;position:fixed;z-index:101;top:0;left:0;background-color:#eee;overflow-y:hidden;transition:.5s}
.overlay_compare_filter .overlay .backToScreen{background: #135394; height: 55px; line-height: 55px; font-size: 1.6rem; color: #fff; padding: 0 0 0 45px; overflow: hidden; font-family: Arial, Helvetica, sans-serif;}
.overlay_compare_filter .overlay .backToScreen .bck{cursor: pointer; position: absolute; left: 0; top: 0; width: 45px; height: 55px; line-height: 70px; text-align: center; color:#fff}
.overlay_compare_filter .overlay .backToScreen .bck svg{pointer-events: none; width: 30px; height: 30px;}
.overlay_compare_filter .overlay .backToScreen .btn_filter{font-size:1.2rem;color:#fff;text-transform:uppercase;padding:0 15px; height:35px; line-height:37px; font-family:arial; margin:9px 10px 0 0;cursor:pointer}
.overlay_compare_filter .overlay .backToScreen .clear{float:right; clear:none;}
.overlay_compare_filter .overlay .backToScreen .apply{background:#003469;float:right;}
.overlay_compare_filter .overlay-content{position:relative;height:calc(100vh - 55px);overflow:hidden}
.overlay_compare_filter .overlay-content .overlay_scroll{overflow:auto;background:#fff;height:calc(100vh - 150px)}
/*need to combine in single css*/
.overlay_compare_filter .overlay-content .input_gadgets{padding:4% 3% 0px}
.overlay_compare_filter .overlay-content .input_gadgets .close_icon {top: 7px; right: 5px;}
.overlay_compare_filter .overlay-content .input_gadgets .input_field{margin: 0 0 12px; position: relative;}
.overlay_compare_filter .overlay-content .input_gadgets .input_field input[type='text'] {padding: 8px 25px 6px 10px; font-size: 14px; box-sizing: border-box; width: 100%; color: #000; border-radius: 5px; outline: none; border: 1px solid #d5d5d5;}
.overlay_compare_filter .overlay-content .input_gadgets .input_field:after {content: "vs"; background: #135394; width: 22px; height: 22px; font-size: 13px; line-height: 22px; color: #fff; border-radius: 50%; position: absolute; left: 50%; bottom: -16px; text-align: center; z-index: 2; font-family: arial;}
.overlay_compare_filter .overlay-content .input_gadgets .input_field:nth-child(3):after, .overlay_compare_filter .overlay-content .input_gadgets .input_field:last-of-type:after{display: none;}
.overlay_compare_filter .overlay-content .input_gadgets .input_field .auto-suggest{position:absolute;top:35px;left:0;right:0;margin:0 auto;border-left:1px solid #d5d5d5;border-right:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5;background:#fff;z-index:11; overflow-y:auto;overflow-x:hidden;}
.overlay_compare_filter .overlay-content .input_gadgets .input_field .auto-suggest ul li{display:block;line-height:22px;margin-bottom:3px;font-size:14px;cursor:pointer;padding:3px 10px 0; min-height: auto; width: auto; margin: 0;}
.overlay_compare_filter .overlay-content .input_gadgets .input_field:last-child{margin-right:0;}
.overlay_compare_filter .overlay-content .input_gadgets .input_field .auto-suggest ul li span{text-align:left;}
.overlay_compare_filter .overlay-content .input_gadgets .input_field .auto-suggest ul li:hover, .overlay_compare_filter .overlay-content .input_gadgets .input_field .auto-suggest ul li.active{background:#135394;border-radius:0; color: #fff;}
.overlay_compare_filter .overlay-content .input_gadgets .input_field .auto-suggest ul li span{margin:0;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
/*need to combine in single css*/
.overlay_compare_filter .filterapplied{white-space:nowrap;overflow:auto;margin:0 10px}
.overlay_compare_filter .filterapplied .filterkey{display:inline-block;margin:8px 10px 10px 0;background:#135394;border-radius:5px;font-size:1.2rem;line-height:1.4rem;color:#fff;padding:10px 10px 8px 30px;position:relative}
.overlay_compare_filter .filterapplied .filterkey:last-child{margin-right:0}
.overlay_compare_filter .filterapplied .filterkey .close_icon{left:9px;top:9px;width:15px;height:15px}
.overlay_compare_filter .filterapplied .filterkey .close_icon:after,.overlay_compare_filter .filterapplied .filterkey .close_icon:before{height:15px;width:3px;background-color:#fff}
.overlay_compare_filter .filters .tabs{float:left;width:110px;overflow:scroll;background:#efefef;height:calc(100vh - 180px)}
.overlay_compare_filter .filters .tabs li{text-align:center;border-bottom:1px solid #e5e5e5}
.overlay_compare_filter .filters .tabs li span{position:relative;display:block;text-transform:uppercase;font-size:1.2rem;line-height:1.8rem;color:#666;padding:40px 10px 5px}
.overlay_compare_filter .filters .tabs li.active{background:#fff}
.overlay_compare_filter .filters .tabs li.active span{color:#135394}
.overlay_compare_filter .filters .tab-values{float:left;width:calc(100% - 110px);height:calc(100vh - 56px);overflow-y:auto;padding:10px 10px 60px;box-sizing:border-box;background:#fff;overflow-x:hidden}
.overlay_compare_filter .filters .filters-search-box{font-size:1.2rem;line-height:normal;color:#333;width:90%;border:1px solid #d8d8d8;padding:0 5%;height:35px; line-height: 35px; outline:0;display:block;margin-bottom:15px}
.overlay_compare_filter .filters .tab-values li{display:none}
.overlay_compare_filter .filters .tab-values li.active{display:block}
.overlay_compare_filter .filters .tab-values li label{border-bottom:1px solid #d8d8d8;padding-bottom:10px;margin-bottom:10px;display:block;font-size:1.2rem}
.overlay_compare_filter .filters .tab-values li label input{margin:2px 8px 0 0;display:inline-block;vertical-align:top}
.overlay_compare_filter .filters .tab-values li label.hide{display: none;}
.overlay_compare_filter .filters .tabs li span svg{content:"";position:absolute;top:10px;left:0;right:0;margin:auto}
.filters .tabs li.filterby-sort span svg{width:16px;height:16px}
.filters .tabs li span svg{color:#888; pointer-events: none;}
.filters .tabs li.active span svg{color:#005499;}
.filters .tabs li.filterby-processor-core span svg{width:22px;height:22px}
.filters .tabs li.filterby-sim span svg{width:16px;height:22px}
.filters .tabs li.filterby-os span svg{width:22px;height:22px}
.filters .tabs li.filterby-screen-size span svg{width:26px;height:26px}
.filters .tabs li.filterby-primary-camera span svg{width:20px;height:15px}
.filters .tabs li.filterby-price-range span svg{width:25px;height:25px}
.filters .tabs li.filterby-internal-memory span svg{width:18px;height:22px}
.filters .tabs li.filterby-battery-backup span svg{width:22px;height:12px}
.filters .tabs li.filterby-ram-capacity span svg{width:30px;height:30px}
.filters .tabs li.filterby-upcoming span svg{width:30px;height:30px}
.filters .tabs li.filterby-brand span svg{width:20px;height:20px}
.filters .tabs li.filterby-colour span svg{width:30px;height:30px}
.filters .tabs li.filterby-network span svg{width:30px;height:30px}
.filters .tabs li.filterby-secondary-camera span svg{width:25px;height:25px}
.filters .tabs li.filterby-processor-speed span svg{width: 25px; height: 25px;}
.filters .tabs li.filterby-rumoured span svg{width: 25px; height: 25px;}
/*overlay filters and compare end*/