.productdetails_body.pwa{
    h1{
        font-size: 1.8rem;
        line-height: 2.6rem;
        padding: 4% 3% 2%;
        margin: 0;
        background: #fff;
    }
    .pd_top_nav{
        margin: 0;
        padding: 0 3% 4%;
        background: #fff;
        width: 100%;
        overflow-x: auto;
        .nav_items {
            width: 100%;
            border: 0;
            ul li{
                margin:0 20px 0 0;
                &:last-child{
                    margin: 0;
                }
            }
        }
    }
    .product_summary {
        background: #fff;
        margin-bottom: 4%;
        padding: 0 3% 4%;
        .product_slider {
            width: 100%;
            margin: 0 0 4%;
            float: none;
            ul.slider-tabs{
                display: block;
                margin: 0;
                overflow-x: auto;
                white-space: nowrap;
                width: auto;
                li{
                    width: 210px;
                    min-height: 200px;
                    display: inline-block;
                    vertical-align: top;
                    margin: 0 10px 0 0;
                    img{
                        max-height: 150px;
                        margin: auto;
                    }
                }
            }
        }
        .enable-read-more .caption {
            font-size: 1.2rem;
            line-height: 2.2rem;
            max-height: 17.6rem;
            transition: max-height .4s ease-out;
            font-weight: 400;
            -webkit-line-clamp: 8;
            &.more {
                -webkit-line-clamp: unset;
                max-height: none;
                transition: max-height 1s ease-in;
                display: block;
            }
        }
    }   
    .gadgetslider {
        li {
            .proditem {
                box-shadow: 0 0 5px #b8b8b8;
                white-space: normal;
                text-align: center;
                margin: 5px 0 0 0;
                width: 150px;
                padding: 5px 10px 10px;
                background: #fff;
                position: relative;
                height: 100%;
                box-sizing: border-box;
                .prod_img {
                    text-align: center;
                    display: block;
                    padding: 10px 0 0;
                    height:120px;
                    img {max-width: 100%; max-height: 100px; width: auto; height: auto;}
                }
                .prod_dec {
                    margin-top: 5px;
                    display: block;
                    h4 a{
                        font-size: 1.2rem;
                        line-height: 2.0rem;
                        max-height: 4.0rem;
                        font-weight: bold;
                    }
                    .rtng {
                        display: block;
                        margin: 5px 0;
                        font-size: 1rem;
                        span {display: block;}
                    }
                    .price_tag {font-size: 1.2rem; font-weight: bold; margin-bottom: 5px; display: inline-block;}
                }
                .btn_wrap.absolute {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    a {display: inline-block;}
                }
            }
        }
        
    }
    .wdt_varients {
        background-color: #fff;
        border-bottom: none;
        width:100%;
        ul{
            margin:10px 3% 0;
        }
    }
    .usrreviewswidget {
        width: 100%;
        .wdt_review_rate{
            padding: 0;
            .user_review {
                color:#808080;
                span {
                    font-size: 30px;
                    small {font-size: 20px;}
                }
            }
            .rating-values {
                padding:15px 4% 0;
            }
            .user_star {
                width: 68%;
                margin-left: 2%;
                li {
                    .star_txt {font-size: 12px; line-height: 15px;}
                    .star_bg {
                        width: 155px;
                        height: 15px;
                        span[data-attr]:after {right: 2px; font-size: 10px; line-height: 15px; top: 0;}
                    }
                }
            }
            .btn-blue {
                right: 0; 
                position: static; 
                margin: 0 2% 0 3%; 
                width: 46%; 
                display: inline-block; 
                border-radius: 20px; 
                height: 35px; 
                line-height: 36px; 
                white-space: nowrap; 
                cursor: pointer; border: 1px solid #333; 
                background: #fff; 
                color: #333; 
                font-size: 1.1rem; 
                font-weight: 700;
                padding: 0 5px;
                &:last-child{
                    margin: 0;
                }
            }
        }
    }
    
    .price-widget.gn_table_layout{
        margin-bottom: 4%;
        width: 100%;
        .section {
            h2 {
                height: auto;
                span {height: auto; line-height: 2.6rem; padding: 5px 0;}
            }
        }
        table {width: 94%; margin: 0 3%;}
    }
    .pd-accordion{
        margin: 0; 
        .pd-spec-show {
            margin: 0 3%;
            .gn_table_layout {
                margin-bottom: 0;
                table {border: 1px solid #d6d6d6; border-bottom: none; margin-bottom: 20px;}
                .spec {
                    background-color: transparent; padding-left: 27px;
                    &::before {height: 16px; width: 16px; top: 11px; left:0; border-width: 1px;}
                    &::after {top: 12px; left: 5px; font-size: 16px; font-weight: normal;}
                }
            }
        }
    }
    .list-slider, .pd_suggested_slider .slider .slider_content{
        margin: 0 0 0 3%;
        width: 97%;
    }
    .pd_suggested_slider, .wdt_popular_slider{
        margin-bottom: 4%;
    }
    .wdt_popular_slider.ui_slider .slider .slider_content li{width:auto}
    .section {padding: 0;}
    .wdt_amazon_list ul li.horizontal {width: auto;}
    .box-item {width: 100%; box-sizing: border-box;}

    .tabs_circle {
        padding: 0 0 15px;
        text-align: center;
        background: #fff;
        .tabs_circle_list {
            white-space: nowrap;
            li {
                display: inline-block;
                border-radius: 20px;
                height: 35px;
                line-height: 36px;
                margin: 0 2% 0 0;
                white-space: nowrap;
                cursor: pointer;
                width: 48%;
                vertical-align: top;
                text-align: center;
                border: 1px solid #333;
                background: #fff;
                color: #333;
                font-size: 1.2rem;
                font-weight: 700;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }

    .thumb_img_reviews{
        background: #fff;
        padding: 0 3% 4%;
        margin-bottom: 4%;
        overflow: hidden;
        .image_caption{
            background: #000;
            position: initial;
            white-space: nowrap;
            display: block;
            .head{
                font-size:1.2rem;
                line-height: 2rem;
                display: flex;
                justify-content: center;
                margin: 0;
            }
            .rate_txt{
                font-size: 1.8rem;
            }
            .lft{
                width: 49%;
                .icon_star{
                    position: relative;
                    &:after{
                        font-size: 20px;
                    }
                }
            }
            .cen{
                width: 49%;
                border: 0;
                .icon_star{
                    position: relative;
                    left: auto;
                    &:after{
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .rating_popup .container{width:95%}
    .wdt_popular_slider.ui_slider .slider .slider_content li .slide{min-height: auto;}
}
.pdp-story-seperator.pwa .end-ad{
    padding: 4% 0;
}