@import 'sprite';

.header {
  background: $navbar-top-bgcolor;
  position: relative;
  &:after{content: ''; display: block; clear: both;}
  /* 
  .hamburger i {background-color: $hamburger-bg-color; border-radius: 2px; content: ''; display: block; width: 18px; height: 2px; margin-top: 3px; background-color: #000;} 
  &.top_fixed{position: fixed; left: 0; top: 0; width: 100%; z-index: 99; display: block;}
  .top_drawer.active:after{content:''; position: absolute; bottom: -10px; border: solid #e2e2e2; border-width: 0 1px 1px 0; display: inline-block; padding: 9px; transform: rotate(-135deg); -webkit-transform: rotate(-135deg); left:0; right:0; margin: 0 auto; width:0px; background:#F2F2F2; z-index:1;}
  */
  
}
header {
  .dropDown_city{
    svg{
      animation-name: locationAnimation;
      animation-duration: 4s;
      animation-iteration-count:infinite;
    }
  }
}

.other-sites {
  position: relative;
  margin: 7px 15px 0 0;
  z-index: 12;
  display: inline-block !important;
  vertical-align: top;
  height: 30px;
  .svg-icons {
    font-size: 15px;
    vertical-align: sub;
    margin-right: 3px;
  }
  span.head a, span.head i{
    display: block;
    padding: 6px 20px 4px 6px;
    position: relative;
    z-index: 1;
    height: 15px;
    font-weight: bold;
    margin-bottom: -10px;
    font-size: 12px;
    line-height: normal;

    &:after {
      position: absolute;
      content: '';
      border: solid #000;
      width: 6px;
      height: 6px;
      border-width: 0 1px 1px 0;
      top: 9px;
      right: 7px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      box-sizing: border-box;
    }
  }

  &:hover .restLang {
    display: block;
  }

  .restLang {
    position: absolute;
    top: 28px;
    left: 0px;
    display: none;
    background: #fff;
    z-index: 1;
    box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.2);
    min-width: 80px;
    padding: 5px;
    border-top: 0;
    li {
      a {
        margin: 0 5px 6px;
        display: block;
        font-size: 1.1rem;
        line-height: 1.8rem;
        text-align: left;
      }
      &:last-child {
        a {
          margin-bottom: 0;
        }
      }
    }
    
  }
}

.fixed_bar_with_app{
  display: block;
  &.top_fixed{position: fixed; left: 0; top: 0; width: 100%; z-index: 99; display: block;}
  
  .open_app_strip{
    background: $navbar-bg-color;
    position: relative;
    display:flex;
    height:45px;
    box-sizing: border-box;
    padding: 2% 3%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px #b8b8b8;
    .app_txt{
      font-family: arial;
      font-size: 12px;
      color: #7c7c7c;
      b{
        display: block;
        margin-bottom: 3px;
        color: #000;
        text-transform: capitalize;
      }
    }
    .btn_appdownload{
      height: 30px;
      background: #f30000;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: arial;
      font-size: 12px;
      text-transform: uppercase;
      border-radius: 5px;
      padding: 0 15px;
      margin-left: auto;
    }
    .close_icon{
      position: relative;
      background: transparent;
      margin-left: 10px;
      width: 25px;
      height: 25px;
      &:after, &:before{
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 15px;
        margin: auto;
      }
    }
    &.mobilehide{
      display: none;
    }
  }
  
}


.hrnavigation {
  background: $navbar-bg-color;
  border-top: 1px solid $navbar-border-top;
  overflow: hidden; 
  position: relative;
  -webkit-box-shadow: 0 2px 5px $navbar-border-shadow;
    -moz-box-shadow:  0 2px 5px  $navbar-border-shadow;
        box-shadow:  0 2px 5px  $navbar-border-shadow;
  ul{
    li {
      svg {display: inline-block; margin-top: -2px; width: 28px; height:28px; vertical-align: middle;}
      &.hide {
        display: none !important;
      }
      &.special_new {
        &:not(.isicon) {
          position: relative;
          padding-right: 16px;
          &:before {
            @extend .newbadge;
          }
        }
      }
      &.special_dot {
        &:not(.isicon) {
          position: relative;
          &:before {
            @extend .newdot;
          }
        }
      }
      &.special_color {
        &:not(.isicon) {
          a.nav_link {
            color: #ff0000;
            font-weight: 600;
          }
        }
      }
      a.nav_link {
        color: $navbar-link-color;
        display: inline-block;
        padding: 7px 8px;
      }
    }
  }
  .nav_scroll {
    &:empty{display: none;}
  }
  ul {
    li {
      display: inline-block; margin: 0 5px; padding: 0; text-align: center; vertical-align: middle; width: auto; min-height: 40px; border-bottom: solid 2px transparent; position:relative;overflow:hidden;transform:translate3d(0,0,0);
      &.active{
        border-bottom: solid 2px #000;
        a{
          font-weight: bold;
          &.nav_link {display: block; margin: 0; padding: 7px 10px;}
        }
      }
      &.hrnavparent {
        a {
          position: relative;
          &:after{content:'❯'; font-size: 1.3rem; position: absolute; right: -8px; top: 12px;}
        }
      }
      /*
      &:after{content:"";display:block;position:absolute;width:100%;height:100%;top:0;left:0;pointer-events:none;background-image:radial-gradient(circle,#000 10%,transparent 10.01%);background-repeat:no-repeat;background-position:50%;transform:scale(10,10);opacity:0;transition:transform .5s,opacity 1s}
      &:active:after{transform:scale(0,0);opacity:.2;transition:0s}
      */
    }
  }
}
/*sidenav start*/
.sidenav {
  background-color: #fff; height: 100vh;width: 80%; z-index: 100; top: 0; left: 0; overflow-x: hidden; position: fixed; transform : translateX(-1000px); transition: transform 0.3s ease-in-out; display: block;
  .closebtn {position: absolute; top: 8px; right: 15px;}
  a {
    border-bottom: solid 1px #F5F5F5; color: #333; padding: 15px; text-decoration: none; font-size: 1.5rem; display: block; transition: 0.3s;
  }
  .active_secName {
    box-shadow: 0px -1px 13px 0px grey;
    background: #f5f5f5;
    color: #000;
    display: block;padding:15px 20px;
    .backicon{margin: 2px 15px 0 0; vertical-align: top; width: 24px; height: 24px;}
    b{display: inline-block; vertical-align: top; height: 25px; line-height: 32px;}
  }
  .dir-right:after{transform: rotate(45deg); right:5px;}
  .linearrow {
    display:block; position:absolute; width:40px; height:45px; margin:auto; right:0; top:0; box-sizing: border-box; transition:all 550ms ease-in-out;
    &:after{content:""; display:block; height:6px; width:6px; margin: auto; position: absolute; top: 0; bottom: 0; right: 0; left: 0; transition:all 350ms ease-in-out;}
    &.active {
      &.dir-right:after {transform: rotate(-45deg); top: 5px;}
    }
  }
  li {
    position: relative;
    &.hide {
      display: none !important;
    }
    &.special_new {
      span {
        position: relative;
        padding-right: 25px;
        &:before {
          @extend .newbadge;
          top: -10px;
        }
      }
    }
    &.special_dot {
      span {
        position: relative;
        &:before {
          @extend .newdot;
          top: -2px;
          right: -6px;
        }
      }
    }
    &.special_color {
      span {
        color: #ff0000;
        font-weight: 600;
      }
    }
    .active > .linearrow {
      background-color: #f8f8f8;
      transition:all 550ms ease-in-out;
    }
  }
  .dir-right:after {
    border-top: solid 1px #a7a7a7;
    border-right: solid 1px #a7a7a7;
  }
  .sub_navigation {
    background-color: #f8f8f8; display: block; margin:-5px 0 0; max-height: 0; overflow: hidden; transition: all 350ms ease-in-out; position: relative; padding:0 40px;
    a{
      border-bottom:1px solid #eaeaea;
    }
    li:last-child a{border: 0}
  }
  ul>li>[type="checkbox"]:checked~ul.sub_navigation {max-height: 100vh;}
  ul>li>[type="checkbox"]:checked~a.subnav{font-weight:600;}
  [type="checkbox"] {display: none;}
  a[href*=eisamaygold] {color: #f5ae2d;}
  .other-sites {
    padding: 0;
    margin: 0;
    width: 100%;
    .head {
      display: flex;
      align-items: center;
      font-size: 14px;
      padding: 5px 10px;
      background: #efefef;
      color: #737373;
      i {
        margin: 0 0 0 30px;
        padding: 6px 20px 6px 6px;
      }
    }
    ul {
      width: 100%;
      box-sizing: border-box;
    }
  }
}
/*sidenav ends*/

/*login container css start*/
.login-block{
  background:#2d2d2d; padding:35px 15px 20px;
  .top:after {content: "";display: table;clear: both;}
  .user-img{float:left; width: 25%}
  .user-info{
      float:left; width: 75%;
      .user-name{
          font-size: 1.5rem; font-weight: normal; line-height: 2.0rem; display: inline-block; vertical-align: middle; text-transform: capitalize; color:#fff; margin: 0 0 5px;
          b{font-weight: normal; color: #fff}
      }
      .tp-details{
          font-size: 1.1rem; line-height: 1.5rem; display: block;
          b{font-weight: normal; float: left;}
          &:after {content: "";display: table;clear: both;}
          .tp-txt{margin:3px 0 0 5px}
      }
  }
  .user-icon{
      background: #b8b8b8; border: solid 3px #b8b8b8; border-radius: 50%; overflow: hidden; display: inline-block; vertical-align: middle; width:50px; height:50px; line-height: 50px; text-align: center; vertical-align: top;
      .default-user-icon{width: 50px; height: 50px;}
      img{height: 50px; width: 50px;}
  }
  .btn{
      font-size: 1.4rem; height: 2.6rem; line-height:2.8rem; background: #CC0000; border: 1px solid #CC0000; border-radius: 2px; display: inline-block; color: #fff; white-space: nowrap; width: 45%; text-align: center;
      &.no-bg{background: transparent; border: 0; width: auto; text-decoration: underline; font-weight: bold; font-size: 1.2rem;}
  }
  .logout{background:#cc0000;}
  .earn-btn{background: #fff; color:#CC0000; margin-right: 3%;}
  .wdt-tp-redeem{
      display: flex; justify-content: space-between; margin-bottom: 10px; align-items: center;
      p{color:#fff; font-size: 1.2rem; line-height: 1.8rem; font-family: Arial, Helvetica, sans-serif; max-width: 55%;}
      .tp-redeem{padding: 0; display: block; text-transform: uppercase; font-family: arial; font-size: 1.1rem; width: 38%; line-height: 2.7rem;}
  }
}
.tp-icon {
  svg{height:16px; width:16px}
  .tp-1, .tp-2 {stroke: #707070; stroke-width: 0.25px;}
  .tp-1 {fill: #fcc600;}
  .tp-2 {fill: #fcac16;}
}
/*login container css end*/

/*auto suggest for gadget now*/
.tech .header .searchbox {
  .search-result {
    position: absolute; left: 0; right: 0; background: #fff; top: 47px; padding:0 4%; overflow-y: auto; overflow-x: hidden; z-index: 100; box-shadow: 0 2px 5px #b8b8b8; margin-bottom: 4%; padding-top: 2%; padding-bottom: 2%;
    li{
      position: relative; font-size: 1.4rem; font-weight: bold; text-transform: uppercase; padding-top: 5px; line-height: normal;
      a {
        font-weight: normal; position: relative; margin-left: 4%; display: block; line-height: 2.2rem;
        &:before {position: absolute; content: ''; background: #454545; width: 4px; height: 4px; border-radius: 50%; left: -12px; top: 7px;}
        &:empty:before{display:none}
      }
    }
  }
}
.greyLayer{
  background:$layer-bg; position: fixed; left:0px; top:0px; z-index: 99; width: 100vw; height: 100vh; display: none;
}

#subNavigation{position: absolute; width:100%; top:0; background: #fff; z-index: 10; min-height: 300px}
#subNavigation:before{content: ''; display: block}

#headerContainer{
    -webkit-transition: all .4s cubic-bezier(.37,.15,.32,.94);
    -moz-transition: all .4s cubic-bezier(.37,.15,.32,.94);
    -ms-transition: all .4s cubic-bezier(.37,.15,.32,.94);
    transition: all .4s cubic-bezier(.37,.15,.32,.94)
}


@keyframes locationAnimation {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.8);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.6);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.3);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(0.5);
  }
  60% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
  75% {
    animation-timing-function: ease-out;
    transform: scale(0.8);
  }
  90% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}