li.nbt-horizontalView {
    border-bottom: 1px solid $card-border-bottom;
    .article-text{
      color: $card-text-color;
    }
    .con_wrap {
      color: $card-text-color;
    }
}


li.nbt-horizontalView span.article-text {vertical-align: top; text-align: left; font-size: 1.5rem; line-height: 2.0rem; margin-bottom:1%; display:inline-block; font-weight: 600;}
li.nbt-horizontalView {margin: 0 3% 4%; padding-bottom: 4%; width:auto; position: relative;}
li.nbt-horizontalView.video .nbt-list li.nbt-listview{width:200px; margin: 0 10px 0 0;}
li.nbt-horizontalView.photo .nbt-list li.nbt-listview{width:200px; margin: 0 10px 0 0;}
li.nbt-horizontalView .nbt-list li.nbt-listview:last-child{margin: 0}

li.nbt-horizontalView .nbt-list li.nbt-listview {width:120px; vertical-align: top; margin: 0 2px 0 0; padding-bottom: 0; box-sizing: border-box; display: inline-block; position: static; border:0}
li.nbt-horizontalView .nbt-list li.nbt-listview .img_wrap{width:100%; float:none; display: block;}
li.nbt-horizontalView .nbt-list li.nbt-listview .con_wrap{display: block; padding:10px 0 0 0; position: static;}
li.nbt-horizontalView .nbt-list li.nbt-listview .text_ellipsis{font-size: 1.4rem; line-height: 2.2rem; max-height: 4.4rem}

.wdt-recommended li.nbt-horizontalView .scroll_content{white-space: nowrap;}
.wdt-recommended li.nbt-horizontalView .scroll_content .default-outer-player.mobile{background-size: contain; background-repeat: no-repeat; height:112px}
.wdt-recommended li.nbt-horizontalView .scroll_content .default-outer-player.mobile .image-container:before{height:32px; width:32px}