@import 'sprite';
.lb_container {
  background: #fff;
  .lb_summaryCard {
    background: #fff;
    width: 100%;
    h1, h2 {
      color: #fff;
    }
    .source {
      color: #fff;
    }
    .caption {
      color: #fff;
    }
    &.desktop {
      .lb_top_summary {
        width: 100%;  box-sizing: border-box;
        img {margin-bottom: 0;}
      }
      h2, .caption {clear: none;}
      .source {display: inline-block;}
    }
    
  }
  .lb_summaryCardD {
    .livepost {
      background: none;
      li {
        &.livelist.only-txt {
          background: #fff;
          margin: 0 0 2% 0;
          font-size: 1.3rem;
          line-height: 2.2rem;
          padding:0;
          a {
            color: #1b75ff;
          }
          .blog_timestamp{
            border: none;
            margin-top: 7px;
          }
          .blog_time {
            color:#6a6a6b;
            font-size: 0.9rem;
            font-family: arial;
          }
          .blog_date {
            color:#6a6a6b;
            font-size: 0.9rem;
            font-family: arial;
          }
          .blog_txt {
            border-left: 0;
            padding: 2px 0 12px 0px;
            &:after {
              border: 0;
              background: #fff;
            }
            src[type="kaltura"] {
              display: none;
            }
            .score-with-url{
              border: 1px solid #cccccc;
              b{
                color:#3291e0;
              }
            }
          }
        }
        &.livelist{
          &.quote{
            .blog_txt{
              font-weight: bold;
              font-style: italic;
              .author-name{
                display: block;
                text-align: right;
                font-weight: normal;
                font-style: normal;
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
  }
  .lbshareicons {
    .wdt_social_share {
      span {width: 28px; height: 28px; margin: 0 5px 0 0;}
      .iconsquare {
        width: 28px; height: 28px;
        svg {width: 16px; height: 16px;}
      }
    }
  }
  .livepost {
    background: #e4e4e4;
    li {
      &.livelist {
        background: #fff;
      }
      a {
        color: #1b75ff;
      }
      .blog_timestamp{
        border: 1px solid #3592e1;
      }
      .blog_time {
        color: #3291e0;
      }
      .blog_date {
        color: #3291e0;
      }
      .blog_txt {
        border-left: 1px solid #dadada;
        &:after {
          border: 1px solid #3291e0;
          background: #fff;
        }
        src[type="kaltura"] {
          display: none;
        }
        .score-with-url{
          border: 1px solid #cccccc;
          b{
            color:#3291e0;
          }
        }
        .youtubeembed {
          width: 100%;
          min-height: 360px;
        }
      }
    }
  }
  
  .fb-post {
    overflow:hidden;
  }
  .video_icon {
    width: 41px;
    height: 41px;
    @extend .videoicon; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.last_updated{font-size: 12px;display: inline;}
.lb_container .lbhighlight h2 {color: #000}
.lb_container .lb_summaryCard .lb_top_summary{padding:15px; background-image:radial-gradient(#73a8d4, #4d93ce, #0072d2); position:relative; min-height: 215px;}
.lb_container .lb_summaryCard .lbimg{float: left; width:100px; border:2px solid #fff; margin: 0 15px 10px 0}
.lb_container .lb_summaryCard h1{font-size: 1.6rem; line-height: 2.4rem; padding:0;}
.lb_container .lb_summaryCard h2{font-size: 1.4rem; line-height: 2.2rem; padding:0; display: block; clear: both;}
.lb_container .lb_summaryCard .source {margin: 0 0 10px; display: block; font-size: 1.1rem;}
.lb_container .lb_summaryCard .caption{font-size: 1.1rem; display: block; padding: 5px 0 0; line-height: 1.7rem; margin-bottom: 10px;}

.lb_container .livepost li.livelist {margin: 0 0 2%; font-size: 1.4rem; line-height: 2.2rem; border-bottom: 1px solid #ddd; padding:3%}
.lb_container .livepost li.list_over_end{margin: -1% 0 0; background: #fff; padding: 3%}
.lb_container .livepost li .over_end{background: #e3f2ff; border:1px solid #c6daeb; border-radius: 29px; font-size: 1.2rem; line-height: 1.8rem; text-align: center; margin: 0 auto; padding:6px 0 3px}
.lb_container .livepost li .over_end span{display: block; font-weight: bold; margin:0 0 2px}
.lb_container .livepost li .blog_timestamp{display: table;border-radius: 14px; padding: 4px 10px 3px;}
.lb_container .livepost li .blog_time{font-size: 1.1rem; font-family: arial; display: table-cell; vertical-align: middle; line-height: normal;}
.lb_container .livepost li .blog_date{font-size: 1.1rem; font-family: arial; display: table-cell; padding:0 0 0 4px; vertical-align: middle; line-height: normal;}
.lb_container .livepost li .blog_txt{padding: 12px 0 12px 10px; margin: 0 0 0 10px; position: relative;}
.lb_container .livepost li .blog_txt:after{position: absolute; border-radius: 50%; height:9px; width:9px; content: ''; left: -6px; bottom: 0;}
.lb_container .livepost li .score-with-url{border-radius: 14px; font-size: 1.1rem; font-weight: bold; line-height: normal; display: inline-block; padding: 4px 15px 4px 25px; margin: 10px 0 10px 0; position: relative;}
.lb_container .livepost li .score-with-url b{font-size:1.0rem; font-family: arial; margin:0 0 0 10px}
.lb_container .livepost li .score-with-url span{width: 24px; height: 24px; background: #000; color: #fff; font-family: arial; font-size: 0.9rem; line-height: normal; position: absolute; top: -10px; left: -5px; border-radius: 50%; text-align: center; display: flex; justify-content: center; align-items: center; font-weight: normal;}
.lb_container .livepost li .score-with-url span.cls_W{background: #ff0000; color:#fff;}
.lb_container .livepost li .score-with-url span.cls_NB, .lb_container .livepost li .score-with-url span.cls_LB{background: #f5a623; color:#fff;}
.lb_container .livepost li .score-with-url span.cls_WD{background: #7400da; color: #fff}
.lb_container .livepost li .score-with-url span.cls_6{background: #66c300; color:#fff}
.lb_container .livepost li .score-with-url span.cls_4{background: #3291e0; color:#fff}
.pos_fixed .btn_newupdates{cursor:pointer;background: #ff0d00; color: #fff; height: 35px; line-height: 37px; font-size: 1.1rem; font-family: arial; padding: 0 20px; border-radius: 20px;margin-left: -270px;}

/*liveblog scorecard start*/
.lb_container .lb_summaryCard .width_scorecard{margin-bottom: 65px;}
.lb_container .lb_summaryCard .liveblog-scorecard img{border:0; width:auto;}
.liveblog-scorecard{border-radius: 8px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24); background: #fff; font-family: arial; padding: 10px 10px 8px; margin: 10px 0 -65px;}
.liveblog-scorecard .teama{width:40%;}
.liveblog-scorecard .teamb{width:40%;}
.liveblog-scorecard .versus{width:10%; position: relative;}
.liveblog-scorecard .versus i {display: block; position: absolute;top: -2px;left: 8px;}
.liveblog-scorecard .teama img{float: left; margin:0 5px 0 0}
.liveblog-scorecard .teamb img{float: right; margin:0 0 0 5px}
.liveblog-scorecard .teamb .country{text-align: right; margin: 0 5px 3px 0}
.liveblog-scorecard .teamb{text-align:right}
.liveblog-scorecard .country{display: block; font-size: 14px; font-weight: bold; line-height: normal; color: #333333; text-transform: uppercase; text-align: left; margin:0 0 3px 5px}
.liveblog-scorecard .score{font-size: 18px; font-weight: bold; color:#000; display: block; vertical-align: top; margin:10px 0 0}
.liveblog-scorecard .over{font-size: 12px; color:#787878; display: block; vertical-align: top;}
.liveblog-scorecard .versus span{height: 22px; width: 30px; border-radius: 50%; border: 1px solid #cccccc; background: #f5f5f5; display: inline-block; color: #4c4c4c; font-size: 12px;  text-align: center;  font-weight: bold;  padding: 8px 0 0 0;}

/*liveblog tabs*/
.liveblog_tabs{padding:0 3%;margin: 20px 0; width: 100%; text-align: center; box-sizing:border-box;}
.liveblog_tabs ul li{display: inline-block; vertical-align: top; border-radius: 20px; margin: 0 15px 0 0; border:1px solid #000; width:140px;}
.liveblog_tabs ul li.current{background: #3291e0; border:1px solid #3291e0}
.liveblog_tabs ul li.current b{color:#fff}
.liveblog_tabs ul li:last-child{margin:0}
.liveblog_tabs ul li a, .liveblog_tabs ul li b{display: block; height:35px; line-height: 35px; text-align: center; color:#000; font-weight: normal; font-size:1.4rem}
.desktop_body .lb_container .lb_summaryCard .lbimg {width: 240px;}
.desktop_body .lb_container .livepost li.livelist{padding:0 2% 2%}
.liveblink {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  margin-right: 5px;
  &::before, &::after {
    opacity: 0;
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #fff;
    box-shadow: 0 0 10px #fff, inset 0 0 10px #fff;
    border-radius: 100px;
    background-clip: padding-box;
  }
  &::before {
    z-index: 2;
    animation: blink 2s infinite;
  }
  &::after {
    z-index: 1;
    animation: blink 2s infinite 1s;
  }
}
@keyframes blink {
	0% {
		-webkit-transform: scale(0);
		opacity: 0
	}
	50% {
		opacity: 1
	}
	to {
		-webkit-transform: scale(1);
		opacity: 0
	}
}

.mobile_body {
  .lb_container .lb_summaryCard h1{margin-top: -7px;}
  .pos_fixed .btn_newupdates{margin-left: 0;}
  .lb_container .lb_summaryCard .lb_top_summary{min-height: 120px;}
}