.lb-strip {
  background-color: $lb-bg-color;
  .lb-head-wrapper {
    .lb-heading {
      color: $color-red;
    }
    .lb-title {
      color: $color-black;
    }
  }
  .lb-card {
    .time-caption {
      color: $card-date-color;
    }
    .con_wrap {
      color: $card-text-color;
      border-left: 1px solid $lb-border-color;
      &:after {
        border: 1px solid $lb-circle-color;
        background: $lb-bg-color;
      }
    }
  }
}

.lb-strip{padding:3%;}
.lb-strip .lb-head-wrapper{margin: 0 0 10px; font-size: 1.6rem; line-height: 2.4rem; font-weight: 600;}
.lb-strip .lb-head-wrapper .lb-heading:after{padding: 0 5px; content: "|"; color:#000;}
.lb-strip .lb-card .con_wrap{padding: 1px 0 20px 15px; margin: 0 0 0 5px; position: relative;}
.lb-strip .lb-card .con_wrap:last-child{padding-bottom: 0;}
.lb-strip .lb-card .con_wrap:after {position: absolute; border-radius: 50%; height: 10px; width: 10px; content: ''; left: -6px; top: 0;}
.lb-strip .lb-card .time-caption{font-size: 1.0rem; line-height: 1.2rem; display:block; margin:0 0 5px; font-family: arial;}
.lb-strip .lb-card .text_ellipsis{
  font-size: 1.2rem; line-height: 2.0rem; max-height: 4.0rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box; /* autoprefixer: off */
  -webkit-box-orient: vertical; /* autoprefixer: on */
  -webkit-line-clamp: 2;
}
.lb-strip .lb-card .btn_wrap{width: 30%; text-align: right;}

/*Live bog on home page for desktop*/
.desktop_body{
  .wdt_lb_home{
    h3{
      height: 50px;
      line-height: 55px;
      font-size: 1.8rem;
    }
    .lb-strip{
      max-height: 250px;
      overflow: hidden;
      overflow-y: auto;
      padding: 15px 10px;
      margin-bottom: 10px;
    }
  }
}

