/*.scorecard-listview{margin: 0 3% 4%; padding-bottom: 4%; border-bottom: 1px solid #ebebeb;}*/
.scorecard-listview{width:100%}
.miniscorecard{background: #2185B1; background: linear-gradient(#2185B1, #01B18A); color:#FFF; overflow:hidden; font-size:12px; font-family:Arial;}
.miniscorecard a, div.miniscorecard a:active{color:#fff !important; padding:7px 10px 5px; display: block;}
.miniscorecard .head_score{margin:2% 2% -4px;color:#000; text-align:center;display:block;background:#ebebeb;font-weight:600; font-size:1rem;line-height:1.5rem;}
.miniscorecard .liveScore .live{padding-bottom:3px; display:inline-block;}
.miniscorecard .liveScore strong{margin-top:-1px;}
.miniscorecard .liveScore .mSummery{padding-top:4px; display:block;}
.miniscorecard .liveScore .live small{background-color:#07c910; display:inline-block; padding:5px; margin-right:5px;}
.miniscorecard .liveScore .midbox{overflow:hidden; height:50px; margin:5px 0}
.miniscorecard .liveScore .midbox .dates{float:left; font-weight:bold; text-align:center; height:44px; width:15%; color:#fff; font-size:20px;padding-top:6px; background:#32aea7; }
.miniscorecard .liveScore .midbox .dates small{font-size:14px; display:block; font-weight:normal;}
.miniscorecard .liveScore .midbox .teama{padding:2px 5px 3px 10px; overflow:hidden; line-height:21px;  white-space:nowrap}
.miniscorecard .teama .teaminfo{width:25%; font-size:13px; display:block; text-align:center; padding:0 3% 0 1%; float:left; color:#F9FF00}
.miniscorecard .teama .teamscore{width:70%; font-size:13px; display:block; float:left}
.miniscorecard .teama .teamscore .teamaScore, .teamb .teamscore .teambScore{margin:0 5px 0 0}
.miniscorecard .teamb .teaminfo{width:25%; font-size:13px; display:block; text-align:center; padding:0 3% 0 1%; float:left; color:#F9FF00}
.miniscorecard .teamb .teamscore{width:70%; font-size:13px; display:block; float:left}
.miniscorecard .teama .teaminfo img, .teamb .teaminfo img{display:block; margin:0 5px 2px 0; float:left; border-radius:50%; overflow:hidden; background:#fff}
.miniscorecard .liveScore .midbox .teamb{padding:2px 5px 3px 10px; text-align:left; overflow:hidden; line-height:21px; white-space:nowrap}

.story-article .story-content .scorecard-listview{margin: 0; width: 100%}
.story-article .story-content .scorecard-listview a{color: #fff; line-height: 1rem;}
.story-article .story-content .miniscorecard .liveScore .midbox .dates{line-height: 21px}

.scorecard-listview .miniscorecard{display: inline-block; min-height:107px;margin: 0 3% 0 0; white-space: normal; width:90%; min-width: 305px; vertical-align: top}
.scorecard-listview .miniscorecard:only-child{width: auto; display: block}
.scorecard-listview .miniscorecard:last-child{margin:0}

div.scorecard-listview{white-space: nowrap;}