.wdt_schedule {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.24);
  background: #fff;
  .match_date_venue {
    color: #000;
    span {
      color: #000;
    }
  }
  .country {
    color: #333;
  }
  .score {
    color: #000;
  }
  .score.active{
    color:#00b758;
  }
  .over {
    color: #666;
  }
  .match_final_status {
    color: #000;
    .status_live{
      background: #00b758;
      color: #fff;
      &:after{
        content: '';
        position: absolute;
        height:5px;
        width:5px;
        display: inline-block;
        border:1px solid #fff;
        border-radius: 50%;
        top: 5px;
        left: 5px;
      }
      &:before{
        content: '';
        position: absolute;
        height:3px;
        width:3px;
        display: inline-block;
        background: #fff;
        border-radius: 50%;
        top: 7px;
        left: 7px;
      }
    }
    .match_venue {
      color: #999;
    }
  }
  .versus {
    span {
      background: #8e8e8e;
      color: #fff;
    }
  }
  .calendar{
    width:20%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    .mt-mumber{
      font-size:10px;
      color:#fff;
      background: #e44650;
      display: block;
      border-radius: 10px 10px 0 0;
      padding: 10px 0 4px;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        top:-4px;
        width:3px;
        height:10px;
        background: #000;
        left:20%;
      }
      &:before{
        content: '';
        position: absolute;
        top:-4px;
        width:3px;
        height:10px;
        background: #000;
        right:20%;
      }
    }
    .mt-date{
      font-size: 11px;
      color:#000;
      background: #eaebc2;
      display: block;
      font-weight: bold;
      border-radius: 0 0 10px 10px;
      padding: 12px 0;
    }
  }
  .teama{
    .team_color{
      float:left; margin:2px 5px 0 0; width:18px; height: 18px; border-radius: 50%;
    }
  }
  .teamb{
    .team_color{
      float:right;margin:2px 0 0 5px; width:18px; height: 18px; border-radius: 50%;
    }
  }
  .teaminfo{
    .rcb{background: #bd243f;}
    .csk{background: #fdd103;}
    .sh{background: #ffa603;}
    .dc{background: #324b9e;}
    .kxip{background: #ea4354;}
    .kkr{background: #4b2d83;}
    .mi{background: #027dc8;}
    .rr{background: #084ca2;}
    .default-color{background: #e44650;}
  }
}

.matchNvenue{
  select{
    border: solid 1px #bababa;
    color: #808080;
    background: #fff;
  }
}
.mobile_body{
  .schedule_intro .section{
    padding: 0;
  }
}

.btf-content{
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin:0 0 4%;
  padding:4% 3% 4%;
  background: #FFF;
}

.desktop_body{
  .mini_schedule .slider .btnPrev, .mini_schedule .slider .btnNext{display:block; background:#fff; box-shadow:0 0 4px 0 rgba(0, 0, 0, 0.24); height: 30px; width: 30px;bottom: 0; top: 0;}
  .mini_schedule .slider .btnPrev:after, .mini_schedule .slider .btnNext:after{border-top: 1px solid #000; border-right: 1px solid #000; height: 8px; width: 8px;}
  .wdt_schedule {
    .calendar{
      width:12%;
      .mt-mumber{
        font-size: 12px;
      }
      .mt-date{
        font-size: 14px;
      }
    }
  }
  .btf-content{
    margin: 0 0 20px;
    padding: 0;
  }
}

