li.moviereview-listview {
  border-bottom: 1px solid #ebebeb;
  .con_wrap {
    color: #333;
    .title {
      color: #000;
    }
    .filled-stars.critic {
      color:#ff001f;
    }
  }
  .des {
    color: #7f7f7f;
  }
  .time-caption{
    color: #7f7f7f;
  }
}


li.moviereview-listview.lead-post {
  .con_wrap {
    color: #afafaf;
    .caption {
      color: #ffdc00;
    }
    .title {
      color: #fff;
    }
    .des {
      color: #afafaf;
    }
    .filled-stars.critic {
      color:#ff001f;
    }
  }
}

li.moviereview-listview {margin: 0 3% 4%; padding-bottom: 4%; width:auto; position: relative;}
li.moviereview-listview .img_wrap{position:relative; width:35%; vertical-align:top;}
li.moviereview-listview .img_wrap img{vertical-align:bottom; width: 100%; height: auto;}
li.moviereview-listview .con_wrap {text-align: left; word-break: break-word; padding: 0 0 0 10px; vertical-align: top; position: relative;}
li.moviereview-listview .con_wrap .title{font-size: 1.6rem; line-height: 2.4rem; font-weight: 600; margin: 0 0 5px; display: block;}
li.moviereview-listview .con_wrap .cast{margin: 0 0 15px;}
li.moviereview-listview .text_ellipsis{font-size: 1.4rem; line-height: 2.2rem; max-height: 4.4rem;}
li.moviereview-listview .des{font-size: 1.4rem; line-height: 2.2rem; display: block;}
li.moviereview-listview .time-caption {display: block; font-size: 1.1rem; line-height: 1.2rem;}
li.moviereview-listview .rating{margin: 0 0 5px; display: block;}
li.moviereview-listview .rating b{display: inline-block; vertical-align: top; font-size: 1.4rem; line-height: 2.2rem; font-weight: normal; margin: 0 10px 0 0}

li.moviereview-listview.lead-post{margin:0 0 4%; width: 100%;}
li.moviereview-listview.lead-post .table_row .poster-bg{position: absolute; object-fit: cover; width: 100%; height:174px;}
li.moviereview-listview.lead-post .img_wrap{width: auto; text-align: center;}
li.moviereview-listview.lead-post .img_wrap img{width:auto; max-width: 140px; max-height: 187px; margin: 15px 15px 0; box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1); border: 5px solid #fff;}
li.moviereview-listview.lead-post .con_wrap{padding:15px 10px 0 0; box-sizing: border-box; width: 100%}
li.moviereview-listview.lead-post .caption{font-size: 1.6rem; line-height: 2.0rem; margin: 0 0 5px; display: block;}
li.moviereview-listview.lead-post .text_ellipsis{font-size: 2.0rem; line-height: 2.8rem; font-weight: normal; max-height: 5.6rem; display: -webkit-box;}
li.moviereview-listview.lead-post .lang b{font-weight: normal; display: inline-block; font-size: 1.4rem; line-height: 2.2rem;}
li.moviereview-listview.lead-post .lang b:after {content: "|"; margin: 0 3px;}
li.moviereview-listview.lead-post .lang b:last-child:after{content: ''; margin: 0}

li.moviereview-listview.lead-post, li.moviereview-listview .rating-stars{vertical-align: middle;}
