@import 'sprite';

/*offline container start*/
.networkContainer{position: fixed; bottom: 0; left: 0; right: 0; z-index: 1005; background: #000; opacity: .95; padding:10px 3%;}
.networkContainer .table{min-height: 44px;}
.networkContainer .img_wrap{width:20%; text-align: center;}
.networkContainer .con_wrap{color:#b3b3b3; font-size: 1.2rem; line-height: 2.4rem;}
.networkContainer .con_wrap span{font-size: 1.8rem;}
.networkContainer .close_icon{top:5px; right: 5px;}
.networkContainer .close_icon:before, .networkContainer .close_icon:after{background:#ccc; width: 1px}
.networkContainer .offline_icon{width: 34px; height: 37px;}
/*offline container end*/

.networkContainer{visibility: hidden;}

.networkContainer.offline{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}
.networkContainer.online {
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 10s, opacity 5s;
}
.networkContainer.online .img_wrap{display: none;}
