.networkStatus{
	position: fixed;
    bottom: 50px;
    background: #111;
    color: #fff;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    width: 280px;
    max-width: 280px;
    line-height: 19px;
    text-align: center;
	left: 50%;
	margin-left: -150px;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 2s;
    z-index: 10001
}

