@import 'sprite';
li.nbt-listview {
    /*border-bottom: 1px solid $card-border-bottom;*/
    border-bottom: 1px solid #EFEFEF;
    .news_section{
      a{
        color: #0e76bc;
      }
    }
    .con_wrap {
      .text_ellipsis{
        color: $card-text-color;
      }
    }
    .time-caption {
      color: $card-date-color;
    }
}

li.nbt-listview.lead-post{
  .news_section{
    a{
      color: #0e76bc;
    }
  }
  .con_wrap {
    .text_ellipsis{
      color: $card-lead-text-color;
    }
  }
  .time-caption {
    color: $card-lead-date-color;
  }
}

.box-content.videoview {
  background: $videoview-bg-color;
  h2{
    span{
      color: $videoview-txt-color;
    }
  }
  .nbt-list li.nbt-listview.lead-post {
    .con_wrap {
      .text_ellipsis{
        color: $videoview-txt-color;
      }
    }
  }
  li.nbt-horizontalView {
    .nbt-list li.nbt-listview .con_wrap {
      .text_ellipsis{
        color: $videoview-txt-color;
      }
    }
  }
}

.nbt-list {margin:0; padding: 0; list-style-type: none;}
.nbt-list li.nbt-listview {margin: 0 3% 4%; padding-bottom: 4%; width:auto; position: relative;}
.nbt-list li.nbt-listview .img_wrap{position:relative; width:32%; vertical-align:top;display: table-cell;}
.nbt-list li.nbt-listview .img_wrap img{vertical-align:bottom; width: 100%; height: auto;}
.nbt-list li.nbt-listview .con_wrap {text-align: left; word-break: break-word; padding: 0 0 0 10px; vertical-align: top; position: relative;}
.nbt-list li.nbt-listview .text_ellipsis{font-size: 1.6rem; line-height: 2.4rem; max-height: 4.8rem;}
.nbt-list li.nbt-listview .time-caption {font-size: 1.1rem; line-height: 1.2rem; display: block; position: absolute; bottom: 0; font-weight: normal;}
.nbt-list li.nbt-listview:last-child {margin-bottom: 0; padding-bottom: 0}
.nbt-list li.nbt-listview .img_wrap[data-tag]:after {font-family: arial; font-size: 1.1rem; position: absolute; bottom: 10px; right: 10px; padding: 2% 3%; line-height: 1.2rem; background:rgba(0, 0, 0, 0.6); content: attr(data-tag); text-align: center; color: #fff; z-index:10}
.nbt-list li.nbt-listview .img_wrap[data-tag=""]:after {display:none}
.nbt-list li.nbt-listview[data-list-type] .con_wrap{padding-bottom: 15px}
.nbt-list li.nbt-listview[data-list-type]:after {content: attr(data-list-type); position: absolute; right:0px; bottom:14px; font-size: 1.2rem; border: 1px solid #9a9a9a; color: #747474; background: #f0f0f0; height:28px; line-height: 30px; border-radius: 20px; width:25%; text-align: center; font-weight:normal; white-space: nowrap;}
.nbt-list li.nbt-listview[data-list-type=""]:after {display:none}
.nbt-list li.nbt-listview:last-child[data-list-type]:after{bottom:0}
.nbt-list li:last-child{border:0}

.nbt-list li.nbt-listview.app-exclusive:after {display:none}
.nbt-list li.nbt-listview.app-exclusive{background: #EFEFEF; margin: 0 1% 4%; padding: 3% 2% 3%; border-radius: 8px; box-shadow: 0px 1px 3px 0 rgba(0,0,0,.5)}
.nbt-list li.nbt-listview.app-exclusive .app-txt{font-size: 1.2rem; display: inline-block; width: 25%; background:#fed20a; color: #000; right: 2%; position: absolute; bottom: 7px; height: 25px; line-height: 28px; border-radius: 20px; text-align: center; padding: 0 5px; white-space: nowrap;}

.nbt-list li.nbt-listview.lead-post.app-exclusive:after {display:none}
.nbt-list li.nbt-listview.lead-post.app-exclusive{background:transparent; padding:0; border-radius:0; box-shadow: none}
.nbt-list li.nbt-listview.lead-post.app-exclusive .app-txt{right: 2%; top: 3%; bottom: initial;}

.nbt-list li.nbt-listview.lead-post {border-bottom: 0; padding-bottom: 0; position:relative; margin:0 0 4%;}
.nbt-list li.nbt-listview.lead-post .img_wrap{min-height: 178px}
.nbt-list li.nbt-listview.lead-post .con_wrap {padding:10px 0 0 0}
.nbt-list li.nbt-listview.lead-post .text_ellipsis{font-size: 2.0rem; line-height: 3.0rem; max-height: 6.0rem;}
.nbt-list li.nbt-listview.lead-post, .nbt-list li.nbt-listview.lead-post .table_row, .nbt-list li.nbt-listview.lead-post .table_col{display:block; width:auto; float:none}
.nbt-list li.nbt-listview.lead-post .video_icon {width:40px; height:40px;@extend .videoicon; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);}
.nbt-list li.nbt-listview.lead-post .photo_icon {width:40px; height: 32px; @extend .videoicon; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);}
.nbt-list li.nbt-listview.lead-post .time-caption {position:static;}
.nbt-list li.nbt-listview.lead-post[data-list-type]:after{content: ''; display:none}
.nbt-list li.nbt-listview .img_wrap.photolead_img_warpper{background-color: #000}
.nbt-list li.nbt-listview .img_wrap.photolead_img_warpper img{height: 270px; object-fit: contain}

/*videoview start*/
.box-content.videoview h2{border:0; margin-bottom: 2%;}
.box-content.videoview h2 span:before{border:0}
.box-content.videoview .nbt-list li.nbt-listview.lead-post{margin: 0 3% 4%;}
.box-content.videoview .nbt-list li.nbt-listview.lead-post .img_wrap{min-height: auto;}
.box-content.videoview .nbt-list li.nbt-listview.lead-post .con_wrap{margin:0}
.box-content.videoview .sub-list{display: none;}
.box-content.videoview li.nbt-horizontalView{border:0}
/*videoview end*/


@media screen and (max-width:450px) {
  .nbt-list.list-small-image li.nbt-listview:nth-child(2n+1) {padding-right: 4px; margin-left: 4%}
  .nbt-list.list-small-image li.nbt-listview:nth-child(2n+2) {padding-left: 4px; margin-right: 4%}
}

@media screen and (min-width:451px) {
.nbt-list.list-small-image li.nbt-listview, .nbt-list.list-small-image li.nbt-listview.lead-post  {width: 31%; margin: 0 0 4% 0}
.nbt-list.list-small-image li.nbt-listview:nth-child(3n+1) {padding-right: 4px; margin-left: 3%}
.nbt-list.list-small-image li.nbt-listview:nth-child(3n+2) {padding: 0 2px}
.nbt-list.list-small-image li.nbt-listview:nth-child(3n+3) {padding-left: 4px; margin-right: 3%}
}

//navbar removed in recommended pages
body[pagetype='recommended'] .hrnavigation { display: none;}
