.photolistview {
  background: $card-bg-color;
  .con_wrap {
    color: $card-text-color;
  }
}

.photolistview.lead-post {
  background: $card-bg-color;
  .con_wrap {
    color: $card-lead-text-color;
  }
}

.nbt-list li.nbt-listview.photolistview.lead-post{margin:0 0 4%; padding: 0}
li.nbt-listview.photolistview {display: inline-block; width:45.9%; min-height: 100px; vertical-align: top; margin: 0 0 4% 0; box-sizing: border-box; padding:0; border:0}
li.nbt-listview.photolistview .img_wrap{display:block; width: 100%}
li.nbt-listview.photolistview .con_wrap{display:block; padding: 10px 0 0;}

.nbt-list li.nbt-listview.photolistview.lead-post.singleCol{
  margin-bottom: 0px;
  img{height:auto}
  .con_wrap{margin-bottom: 0px;}
  .photolead_img_warpper{margin-bottom: 0px;}
}

@media screen and (max-width:450px) {
li.nbt-listview.photolistview:nth-child(2n+2) {padding-right: 4px; margin-left: 4%}
li.nbt-listview.photolistview:nth-child(2n+3) {padding-left: 4px; margin-right: 4%}
}

@media screen and (min-width:451px) {
li.nbt-listview.photolistview  {width: 31%; margin: 0 0 4% 0}
li.nbt-listview.photolistview:nth-child(3n+2) {padding-right: 4px; margin-left: 3%}
li.nbt-listview.photolistview:nth-child(3n+3) {padding: 0 2px}
li.nbt-listview.photolistview:nth-child(3n+4) {padding-left: 4px; margin-right: 3%}
}
