@import 'sprite';
.photomazzashow-content {
  background: $photomazzashow-body-color;
  h1 {
    color: $photomazzashow-heading-color;
  }
}

.photo_story li.photo_card {
  background: $photomazzashow-blk-bg;
  .pagination {
    span{
      color: $photomazzashow-txt-color;
      background: $photomazzashow-pagination-bg;
      b{
        // color: $photomazzashow-pagi-color;
      }
      &:after {
        background: $photomazzashow-pagination-bg;
      }
    }
  }
  .photo_des {
    color: $photomazzashow-caption-color;
    .caption{
      a{
        color: #1a75ff;
      }
    }
  }
  h2 {
    color:$photomazzashow-txt-color;
  }
  .readmore {display: none;
    &:after {
      border: solid $photomazzashow-txt-color;
      border-width: 0 2px 2px 0;
    }
  }
}

.ps_view_from_start a{
  color: $color-white;
  background: #000;
}

.adcard {
  border-top: 0px;
  border-bottom: solid 2px $photomazzashow-adcard-border;
  .brandctn {
    color: $photomazzashow-adcard-txt-color;
  }
}

.photomazzashow-content h1{text-align: left; font-size: 2.0rem; line-height: 3.0rem;}
.photo_story li.photo_card {min-height: 200px; position: relative; width: 100%; opacity: .75; margin: auto; transform: scaleX(.9); transition: transform 0.2s ease;}
.photo_story li.photo_card .place_holder{position: relative;}

.photo_des{padding: 20px 3%;}
.photo_story li.photo_card .photo_des .table_col:first-child{width:90%}
.photo_story li.photo_card .photo_des .table_col:last-child{width: 10%; vertical-align:bottom; margin: 0 0 20px}
.photo_story li.photo_card .pagination {position: absolute; left: 3%; top: 3%; display: block;}
.photo_story li.photo_card .pagination span{padding: 0 10px; font-size: 1.4rem; height: 30px; line-height: 30px; font-family: arial; display: block;}
.photo_story li.photo_card .pagination span b{font-size: 1.4rem; font-weight: normal;}
.photo_story li.photo_card h2 {font-size: 1.8rem; line-height: 2.8rem; font-weight: normal; margin: 0 0 10px}
.photo_story li.photo_card .caption {font-size: 1.6rem; line-height: 2.4rem; max-height:4.8rem;  transition: max-height .40s ease-out; word-break: break-word;}
.photo_story li.photo_card .readmore {position: relative; display: block;}
.photo_story li.photo_card .readmore:after {position: absolute; content: ''; width: 8px; height: 8px; right: 10px; top: 0; transition: all .5s;}
.photo_story li.photo_card .readmore.expand:after{transform: rotate(45deg);}
.photo_story li.photo_card .readmore.collapse:after{transform: rotate(-135deg); top: 5px;}
.photo_story li.photo_card .share_icon {position: absolute; bottom: 10px; right: 10px; background:rgba(0, 0, 0, 0.5); box-shadow: none; width:40px; height: 40px;}
.photo_story li.photo_card .share_icon span{cursor: pointer;}
.photo_story li.photo_card .share_icon svg {width: 15px; color: #fff;}
.photo_story li.photo_card .more{ -webkit-line-clamp: unset; max-height: 1000px; transition: max-height 1s ease-in; display: block;}
.photo_story li .wdt_amz iframe{width:100%}
.ps_view_from_start{text-align: center; margin: 0 0 10px;}
.ps_view_from_start a{font-size: 1.4rem; text-align: center; display: inline-block; padding: 0 50px 0 20px; border-radius: 6px; height:40px; line-height: 42px; position: relative;}
.ps_view_from_start .nextstory {
  width: 25px;
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 12px;
  margin: auto;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*full size show effect on inview*/
.photo_story li.card_inview {opacity: 1;transform: scaleX(1);}

/*app doenload inline start*/
.inline_app_download{background: #49eac6; padding: 15px 3%}
.inline_app_download .con_wrap{font-size: 1.6rem; font-weight: 600; display: block; height: 31px; line-height: 35px;}
.inline_app_download .btn_wrap{text-align: right;}
.btn_appdownload{background: #6d0ec1; color: #fff; font-size: 1.4rem; padding:0 5px; border-radius:10px; height: 31px; line-height: 33px; display: block; text-align: center; text-transform: uppercase;}
/*app doenload inline end*/


.photo_story.horizontal {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  margin: 0 0 15px;
  background: #000;
  li.photo_card {
    display: inline-block; 
    vertical-align: top;
    border-right:5px solid #fff;
    width:80%;
    min-height: 245px;
    background: transparent;
    border-bottom: 0;
    margin-bottom: -200px;
    padding-bottom: 200px;
    &:last-child {
      border-right: 0;
    }
    .pagination {
      display: none;
    }
    .caption {
      white-space: initial;
    }
    .place_holder{
      height: 180px;
      background: #e8e8e8;
      border: 2px solid #d7d7d7;
      border-bottom: 0;
      img{
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        max-width: 100%;
        max-height: 100%;
      }
      .adgsplash_float {
        bottom:0;
      }
    }
    h4 {
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      padding: 10px;
      white-space: normal;
      background: linear-gradient(rgba(0, 0, 0, 0.9) ,rgba(0, 0, 0, 0));
      margin:0;
      .text_ellipsis{
        font-size: 1.4rem;
        line-height: 2.2rem;
        max-height: 4.4rem;
      }
    }
    .enable-read-more {
      color: #fff;
      padding: 10px 0 0 10px;
      .first_col{
        width:85%;
      }
      .second_col{
        width:15%;
      }
      .readmore{
        &:after{
          top:15px;
          border-width: 0 2px 2px 0;
        }
      }
    }
  }
  
}

.disable-photo-card{position: absolute; top:0; bottom:0; left: 0; right: 0; margin: auto; background: rgba(0, 0, 0, 0.9); color:#fff; z-index: 98}
.disable-photo-card .middle{width: 230px; position: absolute; top: 0; bottom: 0; left: 0; right: 0; text-align: center; height: 160px; margin: auto;}
.disable-photo-card .middle b{display:block; font-size: 2.0rem; line-height: 3.0rem; margin:0 0 10px; font-weight: normal;}
.disable-photo-card .btn_appdownload{font-size: 2.2rem; height: 41px; line-height: 43px;}

.next_article {
  .nxttitle {
    background: #f3f3f3;
    color: #000;
  }
  .nxtlink {
    background: #a0a0a0;
    color: #fff;
  }
}

.mobile_body{
  .ps_view_from_start{
    margin: 0;
    padding: 15px 0 0 0;
  }
  .wdt_list_vertical{
    padding: 2% 0 4%;
    margin: 0 0 4%;
    background: #eee;
    .section{
        background: transparent;
        .top_section{
          margin: 0;
          h2{
            border-bottom: 0;
            margin: 0;
            span{
                background: transparent;
                padding: 0;
                color: #000;
                &:before{
                    border: 0;
                }
            }
        }
        .read_more{
            display: none;
        }
        }
        
    }
    ul.view-horizontal{
        li.vertical{
            margin: 0 3% 0 0;
            padding:0;
            .img_wrap{
                img{
                    width: 140px;
                }
            }
            &.photo{
              a{
                  &:before{
                    width:25px; 
                    height: 21px; 
                  }
                }
            }
        }
    }
  }
  .photo_story{
    [data-plugin="ctn"]{
      margin-top: 2%;
    }
  }
  
}


