.wdt_pointsTable {
  .section{
    padding: 0;
    width: 100%;
  }
  .table_layout {
    width: 97%;
    overflow-x: auto;
    table {
      tr {
        td {
          background-color: #fff;
          border-bottom: 1px solid #dddddd;
          &:first-child{
            white-space: nowrap;
          }
        }
        &:first-child th {
          background-color: #fff;
          color: #6c6c6c;
          /*border-top: 2px solid #000;*/
          border-bottom: 2px solid #dddddd;
        }
      }
    }
  }
}

.mobile_body{
  .points_table_container{
    background:#fff;
  }
}

.section-wrapper.list-component{
  .trending-bullet{
    margin-bottom: 25px;
  }
}
