.pollContainer {
  background: $color-white;
  border: 1px solid $poll-border-color;
  h4 {
    color: $color-black;
  }
  ul li label {
    background: $poll-label-color;
    color: $card-text-color;
  }
  .answer-bar {
    background: $poll-answer-color;
    color: $color-white;
  }
  .btnsubmit {
      border: solid 1px $home-section-more-border;
      color: $home-section-more-color;
      background:$home-section-more-bg;
  }
  .errorMsg {
    color: $color-red;
  }
  .txt{
    color:$card-text-color;
  }
}

.pollContainer{box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1); padding:15px 4% 10px; margin:15px 0; clear: both;}
.pollContainer.wdt{margin: 0 3%}
.pollContainer h4{font-size:2.0rem; line-height: 2.8rem; margin:0 0 15px}
.pollContainer ul li label{font-size: 18px; padding:0 30px 0 10px; display: block; margin: 0 0 10px; line-height: 33px; position: relative;}
.pollContainer .answer-bar {height: 100%;line-height: 33px; transition: width 1.5s ease-in-out; text-align: center; position: absolute; right: 0; font-size: 1.4rem; font-weight: 600;}
.pollContainer ul li label input[type="radio"]{position: absolute; right: 10px; top: 0; bottom: 0; margin: auto; left:initial; opacity: 1;}
.pollContainer .captcha-box{position: relative; padding:10px 0 0 0; height: 55px;}
.pollContainer .captcha-box .btnsubmit{display:inline-block; text-align: center; padding:0 15px; height:30px; line-height: 30px; font-size:1.6rem; font-weight: 600; position: absolute; right: 0; top: 20px; -webkit-appearance: none; cursor: pointer;}
.pollContainer .captcha-box .g-recaptcha{-webkit-transform:scale(0.70); transform:scale(0.70); -webkit-transform-origin:0 0; transform-origin:0 0;}
.pollContainer .errorMsg{text-align: left; margin:5px 0 0 10px; font-size: 1.4rem; line-height: 1.6rem;}
.pollContainer .txt{margin:0 0 10px; font-size: 1.6rem; line-height: 1.8rem}

.pollContainer .progress {width: 100%;height: 10px; border-radius:5px;}
.pollContainer .progress-top {overflow: hidden;position: relative;margin:1% 0 5% 0;}
.pollContainer .progress-child{overflow: hidden;position: absolute;top:0;left:0;width: 0;}

.pollContainer strong{display: block; margin: 0 0 10px;}
.pollContainer .pollanslist label{display: block; margin-bottom: 5px; font-size:1.4rem}

.login-before-result{padding: 0; text-align: center;}
.login-before-result h5{font-size: 1.6rem; line-height: 2.4rem; margin: 5px 0 10px}
.login-before-result h5 span{display: block; font-weight: normal; margin: 0 0 10px}
.login-before-result .check_icon {height: 60px; width: 60px; border: 3px solid #33ba00; border-radius: 50%; display: inline-block; position: relative;}
.login-before-result .check_icon:after {left: 24px; top: 10px; width: 12px; height: 29px; border: solid #c3c3c3; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); content: ""; position: absolute; border-color: #33ba00;}
.login-before-result .btn-login{background: #fed20a; color: #000; height: 45px; line-height: 50px; font-size: 1.2rem; border-radius: 20px; text-align: center; display: inline-block; padding: 0 20px; font-weight: 600; cursor: pointer; white-space: nowrap;}

.mobile_body{
  .wdt_poll{
    .section{
      .top_section{
        margin: 0 0 4%;
        h2{
          margin: 0;
        }
      }
    }
    .pollContainer{
      box-shadow: none;
      border: 0;
      padding: 0;
      ul li{
        label{
          border-radius: 10px;
          font-size: 14px;
          line-height: 39px;
          height: 35px;
        }
      }
      .btnsubmit{
        border-radius: 15px;
        padding:0 20px;
      }
      .login-before-result{padding: 20px 10% 30px}
      .login-before-result h5{font-size: 2.4rem; line-height: 3.0rem; margin: 15px 0 20px}
      .login-before-result .btn-login{font-size: 1.4rem;}
    }
  }
}
