.poster-content {
  background: #fff;
}

.pos_section {
  .pos_title {
    color: $poster-txt-color;
  }
  h3 {
    color: $poster-h3-color;
  }
  .pos_more {
    background: $poster-btn-bg;
    border:1px solid $poster-border-color;
    color: $poster-btn-txt-color;
  }
}

.poster-content{margin: 0 0 4%;}
.pos_section{width:100%; height:200px; position: relative;}
.pos_section .poster-bg{position: absolute; object-fit: cover; width: 100%; height:200px; z-index: 0}
.pos_section .pos_title{position: absolute; top:10px; left:10px; font-size: 1.6rem; line-height:2.4rem; z-index: 1}
.pos_section .pos_text{position: absolute; top: 60%; transform: translateY(-60%); left: 0; right: 0; margin: 0 2%; z-index: 1; text-align: center}
.pos_section h3{font-size: 2.5rem; font-weight: normal; text-align:center;}
.pos_section .pos_more{font-size: 1.6rem; border-radius:10px; margin: 10px auto 0; width: auto; padding: 0 20px 0; display: inline-block; height:30px; line-height: 30px;}

.poster-content.custom-poster{background: transparent}
.poster-content.custom-poster .pos_section{text-align: center; height: auto;}
.poster-content.custom-poster .pos_section .poster-bg{position: initial; height: auto; width: auto; max-width: 360px; object-fit: initial;}