@import 'sprite';
.mobile_body{
    .section-wrapper{
        .section{
            width:100%;
        }
        .top-news-content{
            li{
                &:nth-child(3){
                    border-top: 1px solid #dfdfdf;
                    padding-top: 4%;
                }
               &.list-slider, &.nbt-horizontalView.app-exclusive{
                   ul{
                       li{
                            &:nth-child(3){
                                border-top: 0;
                                padding-top: 0;
                            }
                       }
                   }
               }
               &.list-slider{
                    .view-horizontal .con_wrap .text_ellipsis {
                        font-size: 1.4rem;
                        line-height: 2.2rem;
                        max-height: 4.4rem;
                        -webkit-line-clamp: 2;
                    }
               } 
            }
            
            .news-card.lead.col6{
                .con_wrap{
                    margin-left: 0;
                    margin-right: 0;
                }
                &.video{
                    .img_wrap{
                        a{
                            &:before{
                                width: 32px;
                                height: 32px;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }
                }
                &.photo{
                    .img_wrap{
                        a{
                            &:before{
                                width: 34px;
                                height: 26px;
                                top:10px;
                                left:10px;
                            }
                        }
                    }
                }
            }
            .top_notification{
                margin-top: 0;
                padding-top: 0;
                .close_icon{
                    top:-10px;
                }
            }
            /*scorecard widget on HomePage*/
            .scorecard-listview{
                border-bottom: 1px solid #dfdfdf;
                margin: 0 3% 4%;
                padding-bottom: 4%;
                &.scroll_content {
                    white-space: nowrap;
                }
            }
        }
        .list-slider{
                margin: 0 0 0 3%; 
                width:97%; 
                min-height: calc(120px + 6rem);
                .news-card.video .img_wrap img {min-height: 110px}
        }
        .list-slider .view-horizontal{padding:0}
        /*.box-item .view-horizontal{margin:0 3%}*/
        .news-card{
            &.horizontal{
                &.app-exclusive{
                    background: #efefef;
                    margin: 0 0 4%;
                    padding: 3% 3% 35px;
                    position: relative;
                    border:0;
                    .con_wrap{
                        .text_ellipsis {
                            max-height: 4.2rem; 
                            -webkit-line-clamp: 2;
                        }
                    }
                    .app-txt {
                        font-size: 12px;
                        display: inline-block;
                        width: 25%;
                        background: #fed20a;
                        color: #000;
                        right: 2%;
                        position: absolute;
                        bottom: 7px;
                        height: 25px;
                        line-height: 25px;
                        border-radius: 20px;
                        text-align: center;
                        padding: 0 2px;
                        white-space: nowrap;
                        font-family: arial;
                        font-weight: bold;
                    }
                }
            }
        }
        .goldsection {
            background-color: #ffffff;
            margin-bottom: 4%;
            .section .top_section {
                margin-top: 0;
                h2 a {color: #e49f32;}
            }
            li.news-card.horizontal{
                padding-right: 35px;
                position: relative;
                box-sizing: border-box;
                width:100%;
                margin-right: 3%;
                border-bottom: 1px solid #dfdfdf;
                padding-bottom: 4%;
                &:nth-child(2n+2) {
                    margin-right: 3%;
                }
                .con_wrap {
                    width: calc(100% - 90px);
                    display: inline-block;
                    .section_name {display: none;}
                    a {
                        display: block;
                        &:after {
                            @extend .gold_icon;
                            content: "";
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 32px;
                            height: 31px;
                            background-size: auto;
                            background-position: initial;
                        }
                    }
                }
                .img_wrap img {
                    width: 80px;
                }
            }
        }
        /*timespoint homepage widget*/
        .tp_home_widget{
            position: relative;
            width: 100%;
            margin: 0 3% 4%;
            display: block;
            border-top: 2px solid #000;
            border-bottom: 2px solid #000;
            padding-bottom: 3%;
            background: #efefef;
            min-height: 90px;
            .close_icon{
                top:10px;
                right:10px;
                &:before, &:after{
                    height:15px;
                    left:0;
                    right:0;
                    top:0;
                    bottom:0;
                    margin: auto;
                }
            }
            .tp-bg {
                position: absolute;
                width: 81px;
                height: auto;
                z-index: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                left: 5%;
            }
            .tp-txt{
                color: #000;
                width: 60%;
                padding-left: 40%;
                h4{
                    font-size: 16px;
                    line-height: 24px;
                    margin: 10px 0 0 0;
                }
                .desc{
                    font-size: 14px;
                    line-height: 22px;
                    display: block;
                    margin-bottom: 10px;
                }
                .btn{
                    background: #cc0c00;
                    font-size: 12px;
                    text-transform: uppercase;
                    padding: 0 20px;
                    height: 30px;
                    line-height: 32px;
                    display: inline-block;
                    color:#fff;
                    border-radius: 4px;
                    text-align: center;
                }
            }
        }
        .row.ipl{
            .wdt_capcard{
                .orange, .purple{
                    margin:0 3% 4%;
                    width: auto;
                    .news-card{
                        .con_wrap{
                            .name{
                                font-size: 1.4rem;
                                line-height: 1.8rem;
                            }
                        }
                    }
                }
            }
            .hp_pointTable{
                .wdt_pointsTable{
                    width: 100%;
                    margin: 4% 0 0 0;
                    padding: 0;
                    .table_layout{
                        width: 97%;
                        overflow: auto;
                        max-height: 200px;
                    }
                }
            }
        }
        .btn-subscribe{
            width: 100%; 
            margin: 0 3%;
            .youtube-iframe{
                margin-left:auto
            }
        }
        .photo_video_section{
            .btn-subscribe{
                margin-top: 15px;
                .txt{
                    color: #fff;
                }
            }
        }
        .city_drawer{
            .selectCity_wrapper{width:100%}
            .wdt_select_city{
                width: 100%;
                margin: 0;
                padding: 12px;
                box-sizing: border-box;
                .sel-city-btn{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    h4{
                        font-size: 14px;
                        width: 100%;
                        display: block;
                        line-height: 22px;
                        margin-bottom: 5px;
                    }
                    a, span{
                        width:100%;
                        svg{
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .ext-photogallery {           
        margin-bottom: 4%;
        background: #282e34;
        .section {
            .top_section {margin-bottom: 0;}
            h1, h2, h3 {
                border-bottom: none;
                span {
                    line-height: 58px;
                    color: #ffffff;
                    a {color: #ffffff;}
                    &:before {display: none;}
                }
            }
        }
        iframe {
            width: 100%;
            height: 275px;
        }
    }

    /*web stories*/
    .webstories{
        .top_section h2 {
            span{
                line-height: 45px;
                a{
                    position: relative;
                    padding-left: 30px;
                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        @extend .webstory_headicon;
                        height: 22px;
                        width: 22px;
                    }
                }
            }
        }
        ul.view-horizontal{
            margin:0 3%;
            max-width: 94%;
            li.vertical {
                margin-bottom: 0;
                .img_wrap{
                    a {
                        position: relative;
                        display: block;
                        &:after {
                        content: '';
                        border-top: 3px #fff dashed;
                        height: 20px;
                        left: 10px;
                        right: 10px;
                        margin: auto;
                        position: absolute;
                        bottom: 0;
                        }
                        &:before {
                            content: '';
                            @extend .webstory_icon;
                            position: absolute;
                            top:auto;
                            left: 0;
                            right: 0;
                            bottom: 30px;
                            margin: auto;
                            width: 25px;
                            height: 22px;
                            background-repeat: no-repeat;
                        }
                        img {
                        border-radius: 8px;
                        overflow: hidden;
                        width: 123px;
                        height: 205px;
                        }
                    }
                }
                .con_wrap {
                    .text_ellipsis {
                        max-height: 4.4rem;
                        -webkit-line-clamp: 2;
                    }
                }
            }     
        }
    }
    /*webstories image crop for listing pages (a hack)*/
    .news-card.horizontal.webstories.midthumb{
        .img_wrap{
            a{
                display: block;
                max-height: 60px;
                overflow: hidden;
            }
        }
    }
    .lb-strip {
        .lb-card {
            &:last-child{
                .con_wrap {padding-bottom: 0;}
            }
        }
    }
}