@import 'sprite';

.item_drawer {
  border:1px solid #dbdbdb;
  .label {
    color: #000;
    h4 {
      color:#000;
    }
  }
  .bg_circle {
    border: 1px solid #c7c7c7;
    background:#f4f4f4;
  }
  .text_email{
    input{
      border:1px solid #717171;
      color: #333333;
    }
  }
  .btn-draweralert {
    background: #fff;
    color: #333333;
    border:1px solid #717171;
  }
}

.service_drawer{white-space: nowrap; margin:0 0 4%;}
/*chrome alerts start*/
.item_drawer{padding: 4%; margin: 0 0 0 4%; position: relative; background: #fff; text-align: right; display: inline-block; min-width: 70%; max-width: 70%; vertical-align: top; min-height: 100px}
.item_drawer:last-child{margin-right:4%}
.item_drawer:only-child{display: block; max-width: initial;}
.item_drawer .label {font-size: 1.6rem; line-height: 2.4rem; margin: 0 0 10px; white-space: normal;}
.item_drawer .label h4{font-size: 1.6rem; line-height: 2.4rem; margin: 0 0 5px}
.item_drawer .label img{width: 50px; display: inline; vertical-align: baseline; margin: 0 2px 0;}
.item_drawer .text_email{margin: 0 0 10px}
.item_drawer .text_email input{font-size: 1.2rem; padding: 5px 5px 3px; width:55%}
.item_drawer .bg_circle{height: 65px; width:65px; border-radius: 50%; display: inline-block; position: absolute; left:15px; bottom: 15px;}
.item_drawer .bell_icon{width: 30px; height: 33px;}
.item_drawer .phone_icon{width: 22px; height: 41px; margin-top: 11px;}
.item_drawer img.portal_icon{position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 51px;}
.item_drawer .newsletter_icon{width: 37px; height: 24px;}
.item_drawer .btn-draweralert{border-radius: 4px; font-size: 1.4rem; height: 28px; line-height: 32px; padding: 0 4%; display:inline-block;}
.item_drawer.con_newsletter .label{margin: 0 0 5px}
.item_drawer.con_facebooklike  iframe{right:0; width: 75px !important}
.item_drawer .fb-like{background: #3a5897; font-size: 14px; font-family: arial; height: 30px; display: flex; width: 70px; margin-right: auto; position: absolute; right: 4%; justify-content: center; align-items: center; color: #fff; font-weight: bold; border-radius: 3px; bottom: 15px;}
.item_drawer .fb-like span{display: flex;}
.item_drawer .fb-like span svg{color: #fff; height: 15px; margin-right: 4px;}
/*chrome alerts end*/
