.shareModalContainer, .wdt_social_share {
  // display: none;
  background-color: $shareModalContainer-bg;
  .shareContent {
    background-color: $shareModalContent-bg;
  }
  .shareHeader {
    h3 {
      color: $shareModalHeading-color;
    }
  }
  .socialText {
    color: $shareModalTxt-color;
  }
  .iconsquare {
    width: 45px;
    height: 35px;
    border-radius: 3px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 24px; height: 24px; color: #ffffff;
    }
  }
  .social-cell{
    &.fb .iconsquare {background: #3a5897;}
    &.twitter .iconsquare {background: #5ea8dc;}
    &.sms .iconsquare {background: #666;}
    &.email .iconsquare {background: #00a8ec;}
    &.telegram .iconsquare {background: #27A7E8;}
    &.gplus .iconsquare {background: #da4835;}
    &.whatsapp .iconsquare {background: #2bae1c;}
    &.comments .iconsquare {background: #DE4949;}
    &.koo .iconsquare {
      svg {
        width: 48px;
        height: 48px;
      }
    }
  }
}

.shareModalContainer {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    .iconsquare {
      width: 48px;
      height: 48px;
      border-radius: 5px;
      svg {
        width: 32px; height: 32px;
      }
    }
}

.shareModalContainer .shareContent {
    position: fixed;
    bottom: 0;
    left:0px;
    width: 100%;
    -webkit-animation-name: slideIn; /* slide in */
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

.shareModalContainer .shareHeader {padding: 15px 5% 10px;}
.shareModalContainer .shareHeader h3{font-size: 20px}
.shareModalContainer .shareBody {padding: 0px 2.5%;}
.shareModalContainer .shareFooter {padding:5px 2.5%;}
.shareModalContainer .close_position {float: right; top:15px; right:5%;}
.shareModalContainer .socialText{font-size: 1.4rem; margin-top: 5px;}
.shareModalContainer .social-table{display: table; width: 100%; text-align: center; padding: 10px 0;}
.shareModalContainer .social-table .social-cell{display: table-cell; width: 25%; vertical-align: middle;}
