.news_card {
  h1 {
    color: #000;
  }
  .enable-read-more{
    display:block;
    .caption{
      color:#7d7d7d;
    }
    .readmore {
      display: none;
      &:after {
        border: solid #7d7d7d;
        border-width: 0 2px 2px 0;
      }
    }
  }
  .news_card_source {
    color: #a0a0a0;
    a{
      color: #1f81db;
    }
  }
}

.tophighlight , .lbhighlight{
  background: $lb-bg-color;
  h2 {
    color: $card-text-color;
  }
  li {
    color: $highlights-txt-color;
    a{
      color: $highlights-txt-color;
    }
    &:before {
      border: 1px solid $highlights-txt-color;
      background: $lb-bg-color;
    }
    &:after {
      background:$highlights-border-color;
    }
  }
}

.bulletContent{
  h2 {
    display: none;
  }
  li {
    color: $card-text-color;
    &:before {
      border: 1px solid $color-black;
      background: $color-black;
    }
  }
}

.story-article .tophighlight .btn_open_in_app {
  color: #fff;
  background-image: linear-gradient(94deg, #ff0303, #c90000);
  b {
    &:after {
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
    }
  }
}

.backToBrandwire a:before{content: ""; display: block; height: 6px; width: 6px; position: absolute; top: 4px; left: -10px; transform: rotate(-135deg); transition: all .35s ease-in-out; border-top: 1px solid #a7a7a7; border-right: 1px solid #a7a7a7;}
.news_card .news_card_source .brandstories{margin-bottom: 3px;}
/*highlights*/
.top-article{padding:2% 3%; margin:0 0 4%; clear:both}
.top-article h3{font-size: 16px; margin:0 0 5px}
.top-article li{position: relative; padding:0 0 0px 15px; font-size: 1.4rem; line-height: 2.2rem; margin:0 0 10px}
.top-article li:before {content: ''; height: 6px; width: 6px; border-radius: 50%; position: absolute; left: 0; top:7px; z-index: 2}
.top-article li:after{content: ''; position: absolute; left:3px; top:10px; bottom: -20px; width:1px; z-index: 1}
.top-article li:last-child{margin:0}
.top-article li:last-child:after{width: 0;}

.story-article .tophighlight .btn_open_in_app{font-size: 1.2rem; text-align: center; line-height: 38px; outline: none; border-radius: 40px; visibility: visible;}
.story-article .tophighlight .btn_open_in_app b{position: relative;}
.story-article .tophighlight .btn_open_in_app b:after{content: ""; display: block; height: 8px; width: 8px; margin: auto; position: absolute; top: 0; bottom: 0; right: 0; transform: rotate(45deg); right: -10px;}
.mobile_body{
  .top-article{padding:3%;}
}
