.utility-widget{
  background-color: #f0f0f0; 
  margin: 0; 
  padding: 10px 0 8px; 
  border:solid 1px #d8d8d8; 
  box-sizing: border-box;
  h3{font-size: 1.6rem; line-height: 2.4rem; margin-bottom: 5px;}
  .iconcol {
    text-align: center; width: 80px;
    img {max-width: 32px;}
  }
  .borderrgt {
    position: relative;
    &::after {
      position: absolute;
      right: 15px;
      top: 0;
      content: "";
      display: block;
      height: 100%;
      width: 1px;
      background-color: #d2d7d7;
    }
  }
  .fueldetails {
    font-size: 1rem;
    .value {
      span {font-size: 1.6rem; font-weight: bold;}
    }
  }
  .polutiondetails {
    font-size: 1.1rem;
    margin-bottom: 5px;
    .value {font-weight: bold; display: inline-block; padding: 1px 10px; border-radius: 18px;}
    .color-green {background-color: rgb(0, 228, 0); color: #000000;}
    .color-yellow {background-color: yellow; color: #000000;}
    .color-orange {background: rgb(255, 126, 0);color:white;}
    .color-red {background-color: red;color:white;}
    .color-purple {background-color: rgb(143, 63, 151);color:white;}
    .color-maroon {background-color: rgb(126, 0, 35 ); color:white;}
  }
  .temp {
    font-size: 2.8rem; font-weight: 600; font-family: arial;
    b {
      position: relative;
      &:after {content: ''; position: absolute; top: 3px; right: -8px; border: 2px solid #000; border-radius: 50%; height: 3px; width: 3px;}
    }
  }
  .lastcol {width:37%;}
  .location {
    .rain, .hight-low-temp{font-size: 1.1rem; display: block; margin: 0 0 3px 4px; font-family: arial;}
  }
}

.utility-widgets {
  width: 100%;
  margin-top: 10px;
  .utl-header {
    position: relative;
    margin-bottom: 10px;
    h2 {
      font-size: 1.6rem;
      line-height: 2.8rem;
      border-bottom: 2px solid #dfdfdf;
      span {
        padding: 0 10px 0 0;
        display: inline-block;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          bottom: -2px;
          left: 0;
          right: 0;
          border-bottom: 2px solid #000;
        }
      }
    }
    .custom-select{position: absolute; right: 0; top: 2px;}
    select{font-size: 1.1rem; display: block; background: transparent; border: 0; font-weight: 600; outline: none; width:150px; padding: 0 30px 0 5px; line-height: 34px; direction: rtl; text-align-last: right;}
    select option {direction: ltr;}
  }
  .utility-widget {margin: 10px 0 5px;}
}

.custom-select {
  position: relative;
  height: 30px;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    right: 10px;
    bottom: 0;
    margin: auto;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    pointer-events: none;
  }

  &:before {
    width: 30px;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    background: transparent;
    content: '';
    pointer-events: none;
  }

  &:hover {
      background: #EFEFEF;
  }

  select {
    box-shadow: none;
    border-radius: 0;
    height: 100%;
    cursor: pointer;
    // Disable default styling on ff
    -moz-appearance: none;
    // Disable ugly ass outline on firefox
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }
    // Disable default styling on webkit browsers
    -webkit-appearance: none;

    // Disable default arrow on IE 11+
    &::-ms-expand {
      display: none;
    }

    &:focus {
      border-color: #EFEFEF;
    }
  }
}
.mobile_body {
  .utility-widgets {
    .utility-widget {margin: 10px 10px 5px;}
    .utl-header {padding: 0 10px;}
  }
}