li.videolistview {
    background: $card-bg-color;
    .con_wrap {
      color: $card-text-color;
    }
    .time-caption {
      color: $card-date-color;
    }
}

li.videolistview.lead-post {
  background: $card-bg-color;
  .con_wrap {
    color: $card-lead-text-color;
  }
}

.videolist-container .nbt-list li.nbt-listview.lead-post .img_wrap{min-height: 178px}

.nbt-list li.nbt-listview.videolistview.lead-post{margin:0 0 4%; padding: 0}
li.nbt-listview.videolistview .time-caption {position: static;}
li.nbt-listview.videolistview{display: inline-block; width:45.9%; min-height: 100px; vertical-align: top; margin: 0 0 4% 0; box-sizing: border-box; padding:0; border:0}
li.nbt-listview.videolistview .img_wrap{display:block; width: 100%}
li.nbt-listview.videolistview .con_wrap{display:block; padding: 10px 0 0;}

@media screen and (max-width:450px) {
  li.nbt-listview.videolistview:nth-child(2n+2) {padding-right: 4px; margin-left: 4%}
  li.nbt-listview.videolistview:nth-child(2n+3) {padding-left: 4px; margin-right: 4%}
}
@media screen and (min-width:451px) {
  li.nbt-listview.videolistview:nth-child(2n+1) {margin-right: 4%}
  li.nbt-listview.videolistview{width: 48%;}
}
