
@import 'sprite';
.default-outer-player{
    cursor: pointer;
    .default-player{
        height:100%;
    }
    // .default-player .__player > div {width: 100% !important; height: 100% !important; transform: scale(1) !important;}
    .image-container{
        position: absolute;
        width: 100%;
        z-index: 9;
        height: 100%;
        &:before{
            content: '';
            position: absolute;
            @extend .videoicon;
        }
    }
    &.desktop{
        .image-container{
            &:before {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 40px;
                height: 40px;
            }
        }
    }
    &.mobile{
        .image-container{
            &:before {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 40px;
                height: 40px;
            }
        }
    }
}
#outer_minitv_container, .outer_minitv_container{
    .default-outer-player{
        &.desktop{
            .image-container{
                &:before {
                    top: 50%;
                    left: 50%;
                    width: 40px;
                    height: 40px;
                    transform: translate(-50%, -50%);
                }
            }
        }
        &.mobile{
            .image-container{
                &:before {
                    top: 50%;
                    left: 50%;
                    width: 25px;
                    height: 25px;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}
