.weather-wrapper {min-height: 120px;}
.wdt-weather{background: url(https://static.#{$image-sitename}.indiatimes.com/img/bg_weather.png) 0 0 no-repeat; background-size: cover; margin: 0 3% 4%; padding: 4%; border:1px solid #DCDCDC;}
.wdt-weather h3{font-size:2.0rem; line-height: 3.0rem;}
.wdt-weather .wth-details{overflow: hidden;}
.wdt-weather .wth-details .forecast{width:55px}
.wdt-weather .wth-details .forecast img{width:42px;}
/*.wdt-weather .wth-details .forecast{background: url(https://static.#{$image-sitename}.indiatimes.com/img/sprite_weather.svg) no-repeat; background-size: 68px 237px; float:left; margin: 5px 20px 0 0}*/
.wdt-weather .wth-details .icon_sunny{width: 42px; height: 42px; background-position: -7px -94px}
.wdt-weather .wth-details .icon_clearsky{width: 42px; height: 42px; background-position: -6px -3px}
.wdt-weather .wth-details .icon_rain{width: 42px; height: 42px; background-position: -7px -48px}
.wdt-weather .wth-details .icon_thunderstorm{width: 42px; height: 42px; background-position: -8px -140px}
.wdt-weather .wth-details .icon_cloudy{width: 42px; height: 42px; background-position: -9px -186px}
.wdt-weather .wth-details .temp{font-size: 3.2rem; font-weight: 600; font-family: arial;}
.wdt-weather .wth-details .temp b{position: relative;}
.wdt-weather .wth-details .temp b:after {content: ''; position: absolute; top: 3px; right: -8px; border: 2px solid #000; border-radius: 50%; height: 3px; width: 3px;}
.wdt-weather .wth-details .loaction{width:35%}
.wdt-weather .wth-details .loaction select{font-size: 1.2rem; display: block; background: transparent; border: 0; font-weight: 600; outline: none; width:120px; padding: 0 0 0 5px; line-height: 34px}
.wdt-weather .wth-details .loaction .rain, .wdt-weather .wth-details .loaction .hight-low-temp{font-size: 1.2rem; display: block; margin: 0 0 3px 4px; font-family: arial;}
.wdt-weather .locationname {font-size: 12px; font-weight: bold; margin: 0 0 5px 4px;}
.custom-select {
  position: relative;
  height: 30px;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    right: 10px;
    bottom: 0;
    margin: auto;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    pointer-events: none;
  }

  &:before {
    width: 30px;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    background: transparent;
    content: '';
    pointer-events: none;
  }

  &:hover {
    &:before {
      background: #EFEFEF;
    }
  }

  select {
    box-shadow: none;
    border-radius: 0;
    height: 100%;
    cursor: pointer;
    // Disable default styling on ff
    -moz-appearance: none;
    // Disable ugly ass outline on firefox
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }
    // Disable default styling on webkit browsers
    -webkit-appearance: none;

    // Disable default arrow on IE 11+
    &::-ms-expand {
      display: none;
    }

    &:focus {
      border-color: #EFEFEF;
    }
  }
}
