
@import '../sprite';
.articleshow_body {
  .wdt_social_share{
    text-align: right; float: right; width: 36%;
    span {
      &.email{
        float: right;
        .iconsquare {border-radius: 0 8px 8px 0; background: #B7BCC2;}
      }
      &.comments{
        margin: 0; position: relative;
        .iconsquare {border-radius: 8px 0 0 8px;}
      }
      &.comments b{font-weight: normal; position: absolute; height: 16px; border-radius: 8px; background: #000; font-size: .9rem; color: #fff; text-align: center; top: -8px; right: 0; line-height: 16px; font-family: arial; padding: 0 4px;}
    }
  }
  .article-section{width:100%}
  .news_card {
    h1{padding:0; margin:0 0 15px}
    .source_sharing{
      padding:0 0 10px 0; margin: 0 0 10px 0; border-bottom: 1px solid #c3c3c3; position: relative;
      .wdt_timespoints{
        position: absolute; right: 32%; top: 0; width: 90px; z-index: 2;
        &:empty {width: auto;}
        .tpwidget .text-normal {font-size: 13px;}
      }
      .only-web{
        position: relative;
        .btn-subscribe{
          display: inline-block;
          vertical-align: top;
        }
      }
    }
    .news_card_source{
      margin: 2px 0 8px; display: block;
      span {
        &[itemProp='author']{font-weight:bold; display: inline-block; margin: 0 0 2px; vertical-align: top;}
        &.sep{display: none;}
        &.time{display: inline-block; vertical-align: top; margin: 2px 0 0 10px;}
      }
    }
    .enable-read-more{padding: 0 0 10px; overflow: hidden;}
  }
  .story-article {
    .img_wrap{
      margin: 0 0 10px;
      .img_caption {font-size: 1.2rem; line-height: 2.0rem; color: #8d8d8d; margin: 5px 0 0 0;}
    }
    .story-content{
      padding: 0 0 20px;font-size: 1.6rem; line-height: 3.0rem;color:#333;
      [data-plugin="ctn"]{margin:2% 0 !important; float:none !important;}
    }
    article {
      section{padding: 0; box-shadow: none; clear:both;}
      .twitter_widget, .fb-post, [class*="instagram"] {clear: both;}
    }
    .youtube-frame{
      width:100%; background: #000; text-align: center; clear: both;
      iframe{width:600px}
    }
    iframe{display: block; margin: auto; clear: both;}
    .wdt_embedslider{
      margin:10px auto;
      clear: both;
      .slider{
        margin:auto;
        .embedslide_desc{
          font-size: 1.2rem;
          line-height: 2.0rem;
          color: #8d8d8d;
          white-space: normal;
          margin-top: 5px;
        }
        .btnPrev{top:200px; bottom: auto; left:20px; width: 65px; height: 65px; opacity: .8; z-index:999;}
        .btnNext{top:200px; bottom: auto; right:20px;width: 65px; height: 65px; opacity: .8; z-index:999;}
      }
    }
  }
  .trending-bullet{
    margin: 20px 0 10px; padding: 0; border: 0; padding-bottom: 10px; border-bottom: 1px solid #bebebe; text-align: left;
    h3{font-size: 1.6rem; margin: 0 0 15px; display:block}
  }
  .webtitle{margin: 20px 0 0; font-size:1.2rem; line-height: 2.0rem; color:#000}
  .story_partition {margin: 20px 15px 45px; width:100%}
  .top-ad{
    min-height: 90px; text-align: center; padding: 20px 0 0; margin: 0 15px 30px; width: 100%;
    .ad1{background: transparent;}
  }
  .comments-n-socail{
    display: flex; margin: 30px 0; overflow: hidden;
    .comments-wrapper{
      width:50%; margin: 0;
      .cmtbtn-wrapper{margin: 0 auto; text-align: left;}
      .cmtbtn{width:80%}
    }
    .btm-social{
      width: 50%;
      .wdt_social_share{float: none; width: auto; margin-top: 4px;}
    }
  }
  .tableContainer{
    overflow: hidden;clear:both;
    table{table-layout: fixed;}
  }
  .recommended_news .col12, .rest-releated-news .col12, .top_stories .col12{padding:0}
  .news-app{
    color: #666; font-weight: bold; font-size: 1.1rem; line-height: 2.4rem; display: block; margin: 0 0 10px; clear:both;
    a{font-family: arial; color: #1f81db; margin: 0 5px 0 0;}
    .btn-like {
      iframe {width: 120px; display: inline-block; vertical-align: middle; margin-left: 10px;}
    }
  }
  /*superhit widget*/
  .wdt_superhit {
    margin: 0 0 20px; background: #e6ecee; padding: 15px 20px 10px 18px;
    h3{font-size: 16px; color: #000; margin: 0 0 5px 6px; text-align: left; position: relative;}
    .slide_desc{padding:20px 0 0 0}
    .slider {
      .slider_content {
        li:first-child .slide:first-child{margin-left: 1%;}
        li:last-child .slide:last-child{margin: 10px 15px 10px 0;}
        .slide {
          margin: 10px 10px 0 0; box-sizing: border-box;
          .img_wrap a:before{left:initial; right:10px; display: none;}
          .con_wrap .text_ellipsis{font-size: 1.2rem; line-height: 2.0rem; max-height: 4rem; display: -webkit-box; color: #000; -webkit-line-clamp: 2;}
        }
      }
      .btnPrev{top:45px; left:-10px}
      .btnNext{top:45px; right: -10px;}
    }
  }

  .wdt_popular_videos{
    margin:20px 0; background: #1c1c1c; padding:15px 20px 20px; overflow: hidden;
    h2{font-size: 18px; color: #fff; margin: 0 0 15px;}
    .slide_desc{
      padding:20px 0 0 0;
      .text_ellipsis{font-size: 1.3rem; line-height: 2.1rem; max-height: 4.2rem; display: -webkit-box; color: #fff;}
    }
    .slider{
      overflow:visible;
      .btnPrev{background:#de4949; width: 32px; height: 28px; border-radius: 4px; top: -40px; right: 40px; left: auto; opacity: 1;}
      .btnNext{background:#de4949; width: 32px; height: 28px;width: 32px; height: 28px; border-radius: 4px; top: -40px; right: 0; left: auto; opacity: 1;}
      .btnPrev:after, .btnNext:after{height: 8px; width: 8px; border-top: 2px solid #fff; border-right: 2px solid #fff;} 
    }
  }
  .popular-inline-video{
    margin: 0 0 20px;
    h3{
      font-size: 1.6rem;
      font-weight: normal;
      border-bottom: 1px solid #dfdfdf;
      padding: 0 0 5px;
      margin: 0 0 10px;
      text-align: left;
    }
    ul.col12 {
      padding: 0;
      display: flex;
      justify-content: space-between;
      li.news-card{
        width: 32%;
        border: 0;
        padding: 0;
        margin: 0;
        .img_wrap{
          margin: 0 10px 0 0;
        }
        .con_wrap{
          width: 55%;
          .text_ellipsis{
            color:#333333;
          }
        }
      }
    }
  }
  .inlineshare{
    position: relative; display: inline-block;
    .shareModalContainer{
      background: transparent; position: absolute; height: 50px; overflow: hidden; width: 130px; right: auto; right: -135px; left:auto;
      .shareContent{background: transparent; top: 5px; bottom: auto; right: 5px; left: auto; position: absolute;}
      .shareHeader{
        padding:0;
        h3{display: none;}
      }
      .close_position{
        height: 16px; width: 16px; background: #000; padding: 5px; top: 0; left: 0; border-radius: 50%;
        &.close_icon:before, &.close_icon:after{left:0; right: 0; margin: auto; height: 15px;}
      }
      .shareBody{text-align:right; padding:0}
      .social-table{display: inline-flex; width: auto; padding:0}
      .socialText {text-indent: -10000px;}
      span{
        width:24px; 
        height:24px; 
        display: inline-block; 
        vertical-align: top; 
        margin: 0 0 0 5px; 
        cursor: pointer;
        .iconsquare{
          height:24px;
          width:24px;
          svg{
            display:block; 
            width:18px; 
            height:18px
          }
        } 
        &.whatsapp, &.comments, &.email, &.sms{display: none;}
      }
    }
  }
  &.recipeArticle {
    .recipeStepsTitle{margin: 0 0 20px;}
  }
  .top-article.bulletContent{padding: 2% 0 0;}
  .txtdisclaim{
    padding: 0 0 10px;
  }
  .wdt_amz.as-deals {
    margin-bottom: 30px;
    iframe{
      height: 520px;
      vertical-align: top;
    }
  }
}

.box-item.rhs-videolist .list-horizontal.video{height: 490px; overflow: hidden; overflow-y: auto;}
.box-item .ad1{text-align: left;}
.story-article .news_card .youtube-iframe{
  margin-left: auto; 
  margin-top: 8px;
  iframe{
    overflow: visible;
  }
}


.comments-wrapper{
  width: 100%;
  outline: none;
  margin-top: 20px;
  .bottom-comments-btns {
    clear: both;
    margin: 20px auto;
    text-align: center;
  }
  .cmtbtn {
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 44px;
    text-align: center;
    font-weight: bold;
    vertical-align: top;
    width: 45%;
    outline: none;
    b{
      display: inline-block;
      @extend .include-desktop-sprite;
      vertical-align: middle;
    }
    &.view {
      border: 1px solid #d0d0d0;
      position: relative;
      color: #333;
      border-radius: 3px;
      font-size: 1.3rem;
      margin: 0 3% 0 0;
      b{
        background-position: -52px -97px;
        width:18px;
        height:18px;
        margin:3px 0 0 10px;
      }
    }
    &.add {
      border: 1px solid #de4949;
      background: #de4949;
      position: relative;
      color: #fff;
      border-radius: 3px;
      font-size: 1.3rem;
      b{
        background-position: -17px -96px;
        width:20px;
        height:20px;
        margin:0 0 0 10px;
      }
    }
  }
}

.bottom-comments {
  .comment-box {
    &:hover {
      background: #fafafa;
    }
    padding-left: 45px;
    padding-right: 15px;
    padding-top: 10px;
    position: relative;
    box-shadow: 0 0 5px #b8b8b8;
    padding-bottom: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
    &:last-child {
      border: 0;
    }
    .user-thumbnail {
      height: 60px;
      left: -30px;
      position: absolute;
      top: 12px;
      width: 60px;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 0 5px #b8b8b8;
      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin: 5px;
      }
    }
    a.name,
    span.name {
      color: #454545;
      font-size: 1.4rem;
      line-height: 2.4rem;
      margin-bottom: 5px;
      text-transform: capitalize;
      display: inline-block;
      font-weight: bold;
      float: none;
    }
    .short_comment {
      color: #666;
      cursor: pointer;
      font-size: 1.3rem;
      line-height: 2.1rem;
      margin-bottom: 5px;
      word-wrap: break-word;
      clear: both;
    }
    .footbar {
      display: block;
      margin:5px 0;
      position: relative;
      &:after {
        content: '';
        display: table;
        clear: both;
      }
      a {
        color: #777;
        float: left;
        font-size: 1.1rem;
        text-transform: uppercase;
        padding: 0 5px;
        line-height: normal;
      }
      span {
        color: #777;
        float: left;
        font-size: 1.1rem;
        text-transform: uppercase;
        padding: 0 5px;
        line-height: normal;
        &[commentsdata-action='comment-reply'] {
          color: #0365f7;
          padding-left: 0;
          padding-top: 0;
          cursor: pointer;
          font-weight: bold;
          position: absolute;
          right: 0;
          border: 1px solid #0365f7;
          padding: 4px 30px 2px 12px; 
          border-radius: 10px;
          top: 3px;
          outline: none;
          &:after{
            content: '\2192';
            position: absolute;
            right: 6px;
            top: -1px;
            font-size: 1.8rem;
          }
        }
      }
      > span {
        margin: 0;
        padding: 2px 10px 0 0;
      }
      .icon-downarrow,
      .icon-uparrow {
        @extend .include-desktop-sprite;
        cursor: pointer;
        display: inline-block;
        height: 25px;
        vertical-align: middle;
        width: 25px;
      }
      .icon-downarrow {
        background-position: -126px -92px;
      }
      .icon-uparrow {
        background-position: -83px -92px;
        position: relative;
      }
    }
  }
}

/*Movie review show start (overriding the css of MovieReviewShowCrad.scss)*/
.desktop_body{
  .wdt_top_comments{
    background-color: #f3f3f3;
    padding: 12px 12px 10px;
    border-left: solid 4px #000000;
    margin: 20px 0;
    .cmt_head {
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 2.4rem;
      margin-bottom: 5px;
    }
    .cmt_txt {
      color: #555555;
      line-height: 2.2rem;
      font-size: 1.4rem;
    }
    .author_name{
      text-align: right;
      font-size: 1.2rem;
      color: #777777;
      font-style: italic;
      font-weight: bold;
      margin-top: 5px;
    }
  }
  /*inline topics popup start*/
  .topicpopup{
    display: none;
    position: fixed;
    z-index: 200;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 10px 0px, rgba(0, 0, 0, 0.05) 0px 2px 15px 0px;
    border-radius: 4px;
    overflow: hidden;
    background: #fff;
    width: 630px;
    min-height: 270px;
    max-height: 280px;
    padding: 10px 0;
    box-sizing: border-box;
    -webkit-transform: translateZ(0);
    .lft{
      display: inline-block;
      vertical-align: top;
      width: 50%;
      box-sizing: border-box;
      h3{
        font-size: 1.2rem;
        font-family: arial;
        margin: 4px 0 10px 10px;
        line-height: normal;
      }
      .topic_article{
        position: relative;
        max-width: 140px;
        padding:0;
        margin: 0 0 10px 10px;
        border-radius: 5px;
        overflow: hidden;
        .img_wrap{
          margin: 0;
        }
        .con_wrap{
          position: absolute;
          margin: auto;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 15px 5px 5px;
          background: linear-gradient(transparent,rgba(0,0,0,.9));
          border-radius: 0 0 5px 5px;
          overflow: hidden;
          .text_ellipsis{
            font-size: 1.2rem;
            line-height: 2.0rem;
            max-height: 4.0rem;
            color: #fff;
          }
          
        }
        &.col12{
          max-width:290px;
          margin-bottom: 0;
          .img_wrap{
            img{
              max-height: 105px;
              width: 100%;
            }
          }
        }
      }
    }
    .rgt.topics_ads{
      display: inline-block;
      vertical-align: top;
      width: 50%;
      box-sizing: border-box;
      text-align: center;
      font-size: 12px;
      padding:0 10px 0 0;
      h3{
        color:#C8C8C8;
        font-size: 1.2rem;
        font-family: arial;
        margin: 0 0 10px;
        line-height: normal;
        text-align: left;
        line-height: normal;
      }
      .ad1{ 
        &:before{
          position: absolute;
          content: '';
          top:5px;
          bottom:5px;
          left:5px;
          right:5px;
          margin: auto;
          z-index: -2;
          animation-duration: 2s; 
          animation-fill-mode: forwards; 
          animation-iteration-count: infinite; 
          animation-name: placeHolderShimmer; 
          animation-timing-function: linear; 
          background: #f6f7f8; background: 
          linear-gradient(to right,#eee 8%,#ddd 18%,#eee 33%); 
        }
      }
    }
  }
  
  .vodtitle,.vodDec{font-size: 14px; clear: both;line-height: 21px;
    margin-top: 10px;} 
/*inline topics popup end*/
  
  /*inline topics popup end*/
  .comments-n-socail {
    .btm-social {padding-top: 19px;}
  }
}

.box-item.rhs-videolist .list-horizontal.video{height: 490px; overflow: hidden; overflow-y: auto;}
.box-item .ad1{text-align: left;}

