.card-video-widget{
    background: #282e34;
    padding: 10px 20px 20px;
    margin-bottom: 20px;
    .section{
        display: flex;
        width: 100%;
        margin: 0 auto 4px;
        .top_section{
            margin: 0;
            h2{
                border: 0;
                margin-bottom: 0;
                padding: 0;
                span{
                    margin: 0 0 5px;
                    a{
                        color: #fff;
                        font-size: 1.8rem;
                        line-height: 3rem;
                    }
                    &:before{
                        border: 0;
                    }
                }
            }
            .read_more{
                display: none;
            }
        }
        .sub-section{
            margin: 8px 0 5px;
            width: 70%;
            margin-left: auto;
            ul.sub-list{
                li a{
                    color: #fff;
                }
            }
            span.more-sublist b{
                background: #fff;
                &:before, &:after{
                    background: #fff;
                }
            }
        }
    }
     
    .video_body{
        overflow: hidden;
        margin-bottom: 25px;
        &.video{
            .img_wrap{
                display: inline-block;
                vertical-align: top;
                width: 67%;
                position: relative;
                a{
                    background: red;
                    &:before{
                        width:50px; 
                        height:50px; 
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
            .img_wrap[data-tag]:after {
                font-family: arial;
                font-size: 1.1rem;
                position: absolute;
                bottom: 10px;
                right: 10px;
                padding: 1% 2%;
                line-height: 1.2rem;
                background: rgba(0, 0, 0, 0.6);
                content: attr(data-tag);
                text-align: center;
                color: #fff;
                z-index: 10;
            }
            .con_wrap{
                display: inline-block;
                vertical-align: top;
                margin-left: 3%;
                width: 30%;
                .text_ellipsis{
                    font-size: 1.8rem;
                    line-height: 3.2rem;
                    max-height: 16.0rem;
                    color: #fff;
                    -webkit-line-clamp: 5;
                }
                .videodesc {
                    color: #e0e0e0;
                    font-size: 1rem;
                    line-height: 1.7rem;
                    max-height: 16rem;
                    overflow: auto;
                    display: block;
                    margin-top: 10px;
                    a {color: #fff;}
                }
            }
        }
    }
    .video-slider{
        .slider .btnPrev{
            left:-19px;
            top:40px;
            &:after{
                border-width: 2px;
            }
        }
        .slider .btnNext{
            right:-19px;
            top:40px;
            &:after{
                border-width: 2px;
            }
        }
    }
    .btn-subscribe{
        width: 100%;
        margin: 15px 0 0 0; 
        .youtube-iframe{
            margin-left:auto;
            .txt{
                color: #fff;
            }
        }
    }
}