@import '../sprite';

#dock-root-container, #outer_minitv_container, .outer_minitv_container{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 102;
    background: #000;
    padding: 0;
    box-shadow: -2px -2px 5px 0px #ccc;
    .default-player, .image-container {
        margin-bottom: 0;
        /*
        width: 350px !important;
        height: 197px !important;
        */
        width: 300px !important;
        height: 169px !important;
        &.__sast {
            height: 95px !important;
            margin-bottom: 0;
        }
        .__player {
            #spl_Controls {
                .__fVlum{
                    width: 24px;
                    height: 24px;
                    svg {height: 18px;}
                    &.__fTop {top: 2px; left: 30px;}
                }
                .__top {
                    transform: translate(-20px, -12px);
                }
            }
            .__close {
                top: 68px;
                right: 9px;
                &:before, &:after {background: red;}
            }
        }
    }

    .video-header {
        a {
            position: absolute;
            top: 25px;
            width:100%;
            box-sizing: border-box;
            display: none;
            padding: 0 5px;
            z-index: 4;
            height: auto;
            line-height: normal;
            color: #fff;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 1.4rem;
        }

    }
    

    .close_icon{
        background: transparent;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        right: 4px;
        top: 4px;
        position: absolute;
        outline: none;
        display: none;
        z-index: 4;
        &:before, &:after{
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            background: #fff;
            height: 15px;
            width: 2px;
        }
    }
    &:before {
        content: '';
        background: linear-gradient(rgba(0,0,0,0.7), transparent);
        height: 80px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        z-index: 2;
    }
    .dragicon {display: none; position: absolute; top: 4px; left: 4px; z-index: 4; color: #fff; width: 16px; height: 16px; cursor: move;}
    .undock_icon{
        @extend .include-desktop-sprite; 
        background-position: -268px -139px; 
        height: 16px; 
        width: 16px;
        display: inline-block;
        text-indent: -10000px;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        position: absolute;
        top: 4px;
        left: 4px;
        z-index: 4;
    }
    &:hover {
        .video-header a {display: block;}
        .close_icon {display: block;}
        .dragicon {display: block;}
        &:before {display: block;}
    }
    /*for mobile*/
    &.mobile {
        bottom: 60px;
        .master-player-container{display: none;}
        .default-player, .image-container, .default-outer-player{
            width: 150px !important;
            height: 84px !important;
            margin-bottom: 0;
        }
        .default-player {
            &.__sast {
                height: 95px !important;
                width: 188px !important;
            }
        }
        &:before {
            content: '';
            background: linear-gradient(rgba(0,0,0,0.7), transparent);
            height: 20px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            z-index: 3;
        }
        .close_icon{
            display: block;
            height: 30px;
            width: 30px;
            &:before, &:after{height: 15px; width: 1px;}
        }
        .transparent-layer{
            background: transparent;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 10;
            margin: 35px 20px 20px 20px;
        }
    }
}

#outer_minitv_container{
    .default-outer-player{
        height:169px;
        .image-container {
            position: static;
            z-index: initial;
        }
    }
}