.dynamicpage {
    float: left;
    width: 100%;
    word-break: break-word;
    .rightfloatedad {
      float: right;
      margin: 0 0 10px 15px;
    }
    .eventbanner {
      margin-bottom: 15px; max-width: calc(100% - 315px);
      img {max-width: 100%;}
    }
    .profileDesc {
      margin: 15px 0;
    }
    .source_sharing {
      padding: 0 0 10px;
      margin: 0 0 10px;
      border-bottom: 1px solid #c3c3c3;
      position: relative;
      max-width: 670px;
      overflow: hidden;
    }
    .sourcedate {
      margin: 0; display: inline-block; font-size: 1.2rem; color: #a0a0a0;
      a {color: #1f81db;}
    }
    .wdt_social_share {
      text-align: right;
      float: right;
      width: 36%;
    }
    .topic-listing {clear: both !important;}
    .wdt_superhit {
        margin: 0 0 20px; background: #e6ecee; padding: 15px 20px 10px 18px;
        h3{font-size: 16px; color: #000; margin: 0 0 5px 6px; text-align: left; position: relative;}
        .slide_desc{padding:20px 0 0 0}
        .slider {
          .slider_content {
            li:first-child .slide:first-child{margin-left: 1%;}
            li:last-child .slide:last-child{margin: 10px 15px 10px 0;}
            .slide {
              margin: 10px 10px 0 0; box-sizing: border-box;
              .img_wrap a:before{left:initial; right:10px; display: none;}
              .con_wrap .text_ellipsis{font-size: 1.2rem; line-height: 2.0rem; max-height: 4rem; display: -webkit-box; color: #000; -webkit-line-clamp: 2;}
            }
          }
          .btnPrev{top:45px; left:-10px}
          .btnNext{top:45px; right: -10px;}
        }
    }
    .accordion-container {
      font-size: 1.2rem; line-height: 1.8rem;
      & > ol {
        & > li {
          list-style-type: decimal-leading-zero;
          font-weight: bold; 
          cursor: pointer;
          list-style-position: inside;
          border-bottom: 1px dashed rgba(0,0,0,.3);
          padding: 10px;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            right: 0;
            top: 10px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            text-align: center;
            border: 1px dashed rgba(226,27,34,.3);
          }
          &:before {
            content: "";
            border: 1px solid #e21b22;
            border-width: 0 1px 1px 0;
            display: inline-block;
            position: absolute;
            top: 20px;
            transform: rotate(45deg);
            width: 4px;
            height: 4px;
            right: 6px;
            margin-top: -4px;
          }
          &.active {
            &:before {
              border-color: #fff;
              margin-top: -3px;
              z-index: 1;
              transform: rotate(-135deg);
            }
            &:after {
              background: #e21b22;
            }
          }
          &:hover {background-color: #f2f2f2;}
          .description {
            margin-top: 10px;
            font-weight: normal;
            cursor:initial;
          }
        }
        ul {
          padding-left: 30px;
          li {list-style-type: disc;}
        }
      }
    }
}

.mobile_body {
  .dynamicpage {
    float: none;
    padding: 3%; 
    box-sizing: border-box;
    .profileDesc {
      margin: 0 !important;
      width: 100%;
    }
    .wdt_next_sections {
      background: #e6ecee;
      padding: 0 0 10px 15px;
      margin: 10px 0;
      .section, .view-horizontal {padding: 0;}
      .section{
        h2{
          font-size: 1.4rem;
        }
      }
    }
    .accordion-container {
      & > ol {
        & > li {
          padding: 10px 0;
          &:hover {background-color: transparent;}
        }
      }
    }
    .source_sharing {
      width: 100%;
      margin: 0;
      padding: 0;
      border: 0;
    }
  }
}