.desktopFooter{width: 1000px; margin: auto; box-sizing: border-box; padding: 20px}
.desktopFooter h4 {
    font-size: 1.3rem;
    margin: 0 0 5px;
    padding: 0 10px 5px 0;
}
.desktopFooter .footer-links{margin-bottom: 5px;}
.desktopFooter .app-n-follow{
    border-radius: 25px;
    margin: 20px 0;
    padding: 8px 3% 8px;
    .app-wrapper{
        text-align: left;
        border: 0;
        span{
            display: inline-block;
            vertical-align: top;
            margin: 0 15px 0 0;
            height: 30px;
            line-height: 30px;
        }
    }
    .sociallink{
        text-align: right;
        .heading{
            display: inline-block;
            vertical-align: top;
            margin: 0 15px 0 0;
            height: 30px;
            line-height: 30px;
        }
    }
}