@import '../sprite.scss';

/*
.wdt-inline-gadgets{position:relative; width:100%}
.wdt-inline-gadgets ul.scroll{display:flex; padding: 0 5px; width:100%; overflow: visible;}
.wdt-inline-gadgets ul.scroll li{width:75px;text-align:center;padding:0 5px 5px;border-bottom:2px solid #e5e5e5;display:inline-block;vertical-align:top;flex-basis:100%;cursor:pointer;height:70px;line-height:50px;position:relative;padding-top:10px;margin:5px 0; }
.wdt-inline-gadgets ul.scroll li label{font-size:1.2rem; line-height:1.6rem; margin-top:5px;cursor:pointer;position:absolute;bottom:5px;left:0;right:0; white-space: normal;}
*/
.wdt-inline-gadgets ul.scroll li a.seo-link{display: block;}
.wdt-inline-gadgets ul.scroll li:hover:before{box-shadow:0 0 5px #b8b8b8;content:'';position:absolute;top:0;bottom:4px;margin:0;left:0;right:0;}
.wdt-inline-gadgets ul.scroll li b{display:inline-block; @extend .include-gn-sprite;}
.wdt-inline-gadgets ul.scroll li .svg-icons{color: #b2b2b2;}
.wdt-inline-gadgets ul.scroll li.active .svg-icons{color: #135394;}
.wdt-inline-gadgets ul.scroll li:hover:before{display:none;}
.wdt-inline-gadgets ul.scroll li label{display:block; bottom:10px;color:#b2b2b2; text-transform: capitalize;}
.wdt-inline-gadgets ul.scroll li.active label{color:#135394; font-weight: bold;}
.wdt-inline-gadgets ul.scroll li.active a{padding-top:35px;}
.wdt-inline-gadgets ul.scroll li.active:after{content:'';position:absolute;bottom:-20px;border-bottom:3px solid #135394;left:0;right:0;width:70%;margin:0 auto;}
.wdt-inline-gadgets ul.scroll li.gdt-mobile .svg-icons{width:18px;height:32px; }
.wdt-inline-gadgets ul.scroll li.gdt-laptop .svg-icons{width:34px;height:22px;}
.wdt-inline-gadgets ul.scroll li.gdt-camera .svg-icons{width:29px;height:24px;}
.wdt-inline-gadgets ul.scroll li.gdt-tablet .svg-icons{width:22px;height:28px;}
.wdt-inline-gadgets ul.scroll li.gdt-smartwatch .svg-icons{width:21px;height:29px;}
.wdt-inline-gadgets ul.scroll li.gdt-fitnessband .svg-icons{width:21px;height:29px;}
.wdt-inline-gadgets ul.scroll li.gdt-tv .svg-icons{width:35px; height:29px;}
.wdt-inline-gadgets ul.scroll li.gdt-ac .svg-icons{width:44px; height:20px;}
.wdt-inline-gadgets ul.scroll li.gdt-washingmachine .svg-icons{width:28px; height:34px;}
.wdt-inline-gadgets ul.scroll li.gdt-washingmachine .svg-icons{width:28px; height:34px;}
.wdt-inline-gadgets ul.scroll li.gdt-refrigerator .svg-icons{width:22px; height:44px;}
.wdt-inline-gadgets ul.scroll li.gdt-powerbank .svg-icons{width:29px; height:39px;}

.wdt-inline-gadgets ul.scroll li.gdt-mobile b, .wdt-inline-gadgets ul.scroll li.gdt-mobile-phones b{background-position:-16px -7px;width:18px;height:32px;}
.wdt-inline-gadgets ul.scroll li.active.gdt-mobile b, .wdt-inline-gadgets ul.scroll li.active.gdt-mobile-phones b{background-position:-63px -7px;}
.wdt-inline-gadgets ul.scroll li.gdt-laptop b, .wdt-inline-gadgets ul.scroll li.gdt-laptops b{background-position:-8px -49px;width:34px;height:22px;}
.wdt-inline-gadgets ul.scroll li.active.gdt-laptop b, .wdt-inline-gadgets ul.scroll li.active.gdt-laptops b{background-position:-55px -49px;}
.wdt-inline-gadgets ul.scroll li.gdt-tablet b, .wdt-inline-gadgets ul.scroll li.gdt-tablets b{background-position:-13px -85px;width:22px;height:28px;}
.wdt-inline-gadgets ul.scroll li.active.gdt-tablet b, .wdt-inline-gadgets ul.scroll li.active.gdt-tablets b{background-position:-61px -85px;}
.wdt-inline-gadgets ul.scroll li.gdt-camera b, .wdt-inline-gadgets ul.scroll li.gdt-cameras b{background-position:-13px -123px;width:29px;height:24px;}
.wdt-inline-gadgets ul.scroll li.active.gdt-camera b, .wdt-inline-gadgets ul.scroll li.active.gdt-cameras b{background-position:-57px -123px;}
.wdt-inline-gadgets ul.scroll li.gdt-smartwatch b{background-position:-16px -157px;width:21px;height:29px;}
.wdt-inline-gadgets ul.scroll li.active.gdt-smartwatch b{background-position:-60px -157px;}
.wdt-inline-gadgets ul.scroll li.gdt-fitnessband b{background-position:-14px -627px;width:21px;height:29px;}
.wdt-inline-gadgets ul.scroll li.active.gdt-fitnessband b{background-position:-52px -627px;}

.desktop_body{
  .wdt-inline-gadgets {
    .slider{width:620px !important;}
    &.enable-slider{
      .slider{
        .btnPrev, .btnNext{
          top:-15px;
        }
      }
      ul{
        transform:translateX(0);transition:all 0.5s;
      }
      &.next-slide{
        ul{
          transform:translateX(-380px);transition:all 0.5s;
        }
      }
    }
  } 
  .section-wrapper.gn{
    .gray_wdt{
      .section{width:100%}
      .wdt_compare-gadgets{
        margin: 0;
        .wdt-inline-gadgets{
          .slider{width:600px !important;}
            ul.scroll{
                li{
                    a{
                      box-shadow: none;
                      label {
                          bottom:5px;
                      }
                    }
                    &:last-child{
                      margin-right: 0;
                    }
                }
            }
        }
      }
      .input_field{
        margin-right: 2%;
        width: 23%;
        input[type='text']{
          padding: 10px 25px 8px 10px;
          font-size: 12px;
        }
        &:nth-child(4){
          margin-right: 0;
        }
      }
    }
  }
}

/*
.wdt-inline-gadgets .slider .slider_content li .slide{display:inline-block;vertical-align:top;box-shadow:0 0 5px #b8b8b8;white-space:normal;text-align:center;margin:5px 0 5px 5px;padding:5px;min-height:300px;position:relative; box-sizing: border-box;}
.wdt-inline-gadgets .slider .slider_content li .slide:nth-child(3n + 3){margin-right:0;}
.wdt-inline-gadgets .slider .slider_content li .slide .txt_container{display:block;font-size:16px;line-height:24px;font-weight:bold;white-space:normal;margin:10px 0 0 0;}
.wdt-inline-gadgets .slider.trendingslider .prod_img{width:auto;height:120px;padding-top:20px;}
.wdt-inline-gadgets .slider.trendingslider .slide span{display:block; cursor: pointer;}
.wdt-inline-gadgets .slider.trendingslider img{max-width:100%; max-height:100px; width:auto}
.wdt-inline-gadgets .slider.trendingslider .title{display:inline-block;}
.wdt-inline-gadgets .slider.trendingslider .title .text_ellipsis{font-size:1.4rem;line-height:2.2rem; height:4.4rem;font-weight:bold; display: -webkit-box;}
.wdt-inline-gadgets .slider.trendingslider .rating{color:#505050;font-size:1.2rem;line-height:2.0rem;}
.wdt-inline-gadgets .slider.trendingslider .rating b{color:#000; font-family: arial; margin-left: 5px; cursor: default; position: relative; margin-right: 10px;}
.wdt-inline-gadgets .slider.trendingslider .rating b:last-child{margin: 0;}
.wdt-inline-gadgets .slider.trendingslider .rating b:last-child:after{display: none;}
.wdt-inline-gadgets .slider.trendingslider .rating b small{font-weight: normal; font-size: 1.0rem; color: #505050;}
.wdt-inline-gadgets .slider.trendingslider .rating b:after{content: ''; position: absolute; right: -5px; top: 2px; bottom: 1px; margin: auto; border-right: 1px solid #000;}
.wdt-inline-gadgets .slider.trendingslider .rating .sub-rating{color:#135394; }
.wdt-inline-gadgets .slider.trendingslider .price{margin-top:5px;min-height:21px;}
.wdt-inline-gadgets .slider.trendingslider .price b{font-size:1.2rem; font-family:arial; font-weight:bold;}
.wdt-inline-gadgets .slider.trendingslider .btn_wrap{margin-top:5px;}
.wdt-inline-gadgets .slider.trendingslider .btn_wrap button{text-align: center; color: #000; padding: 0 8px; font-size: 1.0rem; border: 0; height: 28px; line-height: 32px; cursor: pointer; background: #fed20a; border-radius: 3px; outline: none; font-weight: bold;}
*/
.wdt-inline-gadgets .slider.trendingslider .btn_wrap button{font-family: $font-family-name, arial, sans-serif;}
.wdt-inline-gadgets .slider .btnPrev, .wdt-inline-gadgets .slider .btnNext{top:0;bottom:0; background:#fff; box-shadow: 0 0 5px #b8b8b8; opacity: 1;}
.wdt-inline-gadgets .slider .btnPrev:after, .wdt-inline-gadgets .slider .btnNext:after{border-top: 1px solid #000; border-right: 1px solid #000;}
.wdt-inline-gadgets .slider.trendingslider .slide.upcoming .top-caption, .wdt-inline-gadgets .slider.trendingslider .slide.rumoured .top-caption{display:block;}
.wdt-inline-gadgets .slider.trendingslider .gd_launch{font-size: 1.1rem; line-height: 1.6rem; display: block; color: #505050; margin-top: 5px;}
.wdt-inline-gadgets .slider.trendingslider .rating .sub-rating{color: #135394;}
.wdt-inline-gadgets .slider.trendingslider .rating span:first-child:after{content:'|';position:absolute;right:-8px;}
.wdt-inline-gadgets .inline-gadgets-content{position:relative;min-height:280px; width: 100%;}
.wdt-inline-gadgets .inline-gadgets-content .wdt_loading{min-height: 280px;position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; background: #efefef; z-index: 10; opacity: 0.6;}
.wdt-inline-gadgets .seo-gadget-tags {display:block; position: absolute; right: 15px; top: -35px; z-index: 1;}
.wdt-inline-gadgets .seo-gadget-tags span {display: inline-block; vertical-align: top;}
.wdt-inline-gadgets .seo-gadget-tags span {font-size: 1.1rem; line-height: 1.5rem; color: #000;text-transform: capitalize; cursor: pointer;}
.wdt-inline-gadgets .seo-gadget-tags span:after {content: '|'; margin: 0 3px;}
.wdt-inline-gadgets .seo-gadget-tags span:last-child:after {content: ''; margin: 0;}
.wdt-inline-gadgets .inline-gadgets-content ul.ram-storage li:before{content:'';height:6px;width:6px;background:#666;border-radius:50%;position:absolute;top:6px;left:-10px;}
.wdt-inline-gadgets .inline-gadgets-content ul.ram-storage li label{font-weight:bold;text-transform:capitalize;}
.wdt-inline-gadgets .inline-gadgets-content ul.ram-storage li b{font-family:arial; font-weight: normal;}

ul.tabs{display:flex; flex-wrap:nowrap;overflow:auto;margin:0 0 10px;}
ul.tabs li{display:inline-block;text-align:center;white-space:nowrap;cursor:pointer;margin:0 20px 0 0;}
ul.tabs li:last-child{margin-right:0;}
ul.tabs li{display:block;color:#000;font-size:1.4rem;line-height:2.2rem;}
ul.tabs li.active{font-weight:bold;border-bottom:2px solid #000;}

/*.btn-blue {background: #135394; height: 40px; padding: 0 15px; color: #fff; font-size: 18px; cursor: pointer; line-height: 40px; outline: none; border: 0; display: block; width: 60%; margin: 20px auto; border-radius: 5px; text-align: center;}*/
.btn-blue.disabled {opacity: 0.5; background: #a6a9ad; cursor: not-allowed; color: #000;}

.con_brands .brands_slider{width:auto;position:relative;}
.con_brands .brands_slider ul.tabs{margin: 10px 0 0; flex-wrap: wrap;}
.con_brands .brands_slider li{display: inline-block; vertical-align: top;}
.con_brands .brands_slider li .slide{width:124px;margin:30px 0 0 0;text-align:center;border-right:1px solid #cccccc; height:85px; cursor:pointer; display: flex; align-items: center;}
.con_brands .brands_slider li .slide img{max-width:100px;max-height:60px; margin: auto;}
.con_brands .brands_slider li:nth-child(8n+8) .slide{border-right: 0;}
.con_brands .brands_slider li .slide .txt_container{display:block;margin:15px 0 0 0;}
.con_brands .brands_slider li .slide .txt_container span{color:#727272;font-size:1.2rem;line-height:2.0rem;max-height:4.0rem;font-weight:bold;white-space:normal;text-transform:uppercase;}
.con_brands .brands_slider ul.tabs li{font-size: 1.2rem; margin-bottom: 10px;}
.con_brands .brands_slider .brands_content{position:relative;min-height:230px; width: 100%; margin-bottom: 30px;}
.con_brands .brands_slider .brands_content .wdt_loading{min-height: 230px;position: absolute; top: 20px; left: 0; right: 0; bottom: 0; margin: auto; background: #efefef; z-index: 10; opacity: 0.6;}

.top-caption{display:none; height: 25px; line-height: 25px; background: #fed20a; position: absolute; top: 0; left: 0; z-index: 10; padding: 0 5px 0 10px; font-size: 1.1rem; text-transform: capitalize;}
.upcoming .top-caption:after{content: attr(data-attr)}
.rumoured .top-caption:after{content: attr(data-attr)}
.top-caption:before{background: linear-gradient(-235deg, #fed20a 50%, #ffffff 50%); height: 25px; top: 0; right: -20px; width: 20px; z-index: 1; position: absolute; content: "";}

.symbol_rupees {margin: 0 0 0 10px; position: relative; }
.symbol_rupees:before {content: '\20B9'; position: absolute; left: -12px; top: 0; font-weight: normal; }

.amazon_icon{background-image: url('https://navbharattimes.indiatimes.com/photo/58606011.cms'); width: 82px; height: 19px; background-repeat: no-repeat; display: inline-block; background-size: contain;}

/*gn homepage right trending*/
.gn_trending{
    .list-trending-topics{
        margin-bottom: 0;  
        a{
            width: 42%;
            margin: 0 15px 5px;
            font-size: 14px;
            line-height: 20px;
            &:before{
                left:-15px;
            }
            &:nth-child(2n+2){
                margin-right: 0;
                width:43%;
            }
        }
    }
}

.story-article .tbl_articleshow{clear: both;}
.story-article .tbl_articleshow .top-head a{font-size: 1.6rem; line-height:2.4rem; font-weight: bold; color:#000}
.story-article .tbl_articleshow .bottom-btn{text-align: right; margin: 10px 0 0 0; font-size: 1.4rem; color: #1a75ff; font-weight: bold; margin-right: 15px; display: block; position: relative;}
.story-article .tbl_articleshow .bottom-btn:after {content: ''; display: block; height: 6px; width: 6px; margin: auto; position: absolute; top: -3px; bottom: 0; transform: rotate(45deg); right: -13px; border-top: 2px solid #1a75ff; border-right: 2px solid #1a75ff;}

.tbl_articleshow .detailed-specification .gn_table_layout label.spec{display: none;}
.tbl_articleshow .detailed-specification .gn_table_layout{padding:0}
.tbl_articleshow .detailed-specification .gn_table_layout table td{font-size: 1.4rem;}
.tbl_articleshow .detailed-specification .gn_table_layout table tr td:first-child{color:#696969; width: 35%; border-right:0;}
.tbl_articleshow .detailed-specification .gn_table_layout table tr td:last-child{border-left: 0;}

.story-article .wdt_varients ul li a{color:#000}
.wdt_varients {margin: 20px 0 0; clear: both;}
.wdt_varients h2 {font-size: 1.6rem; margin: 0 0 15px; text-align: left;}
.wdt_varients ul {margin: 20px 0 0 0;}
.wdt_varients ul li {display: inline-block; margin: 0 0 5px; position: relative; line-height: normal; vertical-align: top; width: 50%;}
.wdt_varients ul li a, .wdt_varients ul li span {font-size:1.2rem; padding-left: 25px; height:30px; line-height: 35px; font-family: arial; display: block;}
.wdt_varients ul li a:before, .wdt_varients ul li span:before {content: ''; border: 1px solid #818181; border-radius: 50%; height: 16px; width: 16px; position: absolute; left: 0; top: 7px;}
.wdt_varients.active a:before, .wdt_varients ul li.active span:before {border-color: #135394;}
.wdt_varients ul li.active a:after, .wdt_varients ul li.active span:after {content: ''; background: #135394; border-radius: 50%; height: 12px; width: 12px; position: absolute; left: 3px; top: 10px;}

.icon_star {position: relative; height: 20px; width: 16px; display: inline-block;}
.icon_star:after {position: absolute; color: #000; font-size: 20px; left: 0; top: 0;}
.icon_star.one:after {content: '\2605'; }
.icon_star.two:after {content: '\2605\2605';}
.icon_star.three:after {content: '\2605\2605\2605';}
.icon_star.four:after {content: '\2605\2605\2605\2605';}
.icon_star.five:after {content: '\2605\2605\2605\2605\2605';}

.btn-buy {padding: 0 10px 0px; font-size: 12px; color: #000; font-weight: bold; height: 28px; border-radius: 3px; background: #fed20a; line-height: 32px; display: block; margin-top: 5px; cursor: pointer; margin: auto; border:0; outline: none; box-sizing: border-box;}
.plus_icon {position: absolute; top: 10px; right: 10px; border: 2px solid #4c4c4c; border-radius: 50%; height: 20px; width: 20px; cursor: pointer; opacity: 0.7;}
.plus_icon:after {content: '+'; color: #4c4c4c; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; font-size: 20px; font-weight: bold; font-family: arial;}

.thumb_img_reviews {
    margin: 0 0 20px 0;
    position: relative;
    .image_caption {
      position: absolute;
      bottom: 0;
      left:0;
      right: 0;
      margin: auto;
      padding: 15px 3% 10px;
      background: linear-gradient(transparent,rgba(0,0,0,.9));
      color: #fff;
      .lft{
        display: inline-block;
        vertical-align: top;
        width: 28%;
        text-align:center;
        .head{
          font-size: 1.4rem;
          line-height: 2.2rem;
          font-weight: bold;
          display: block;
          margin: 0 0 10px;
          position: relative;
          .icon_star{
            height: 22px;
            width: 25px;
            position: absolute;
            left: 0;
            &:after{
              color:#ff001f;
              font-size: 28px;
            }
          }
        }
        .rate_txt{
          font-size: 2rem;
          font-family: arial;
          sub, small{
            font-size: 1.6rem;
            vertical-align: text-bottom;
          }
        }
      }
      .rgt{
        display: inline-block;
        vertical-align: top;
        width: 67%;
        padding:0 0 0 3%;
        border-left:1px solid #858585;
        .head{
          font-size: 1.4rem;
          line-height: 2.2rem;
          font-weight: bold;
          display: block;
          margin: 0 0 5px;
        }
        .features_txt{
          color: #ded8d8;
          display: block;
          font-size: 1.4rem;
          line-height: 2.2rem;
          max-height: initial;
          li{
            margin: 0 0 0 15px;
            position: relative;
            &:before {
              content: '';
              background: #ded8d8;
              position: absolute;
              left: -15px;
              top: 9px;
              width: 5px;
              height: 1px;
              display: inline-block;
            }
          }
        }
      }
    }
  }

.wdt_rating {
    h2 {font-size: 1.6rem; margin: 0 0 15px;}
    .con_review_rate .rateBox, .con_review_rate .rating-values{display: none;}
    .con_review_rate .rateBox.visible, .con_review_rate .rating-values.visible{display: flex;}
    .con_review_rate .rateBox{justify-content: space-between; margin-top: 30px; align-items: center;}
    .con_review_rate .rateBox .rating{
      width:28%;
      .critic, .users {
        color: #fff;
      }
      .critic:before {
        color: #ff001f;
      }
      .users:before {
        color: #00b3ff;
      }
      .ratestar:before{
        color:#ffcc00
      }
      .count {
        color: #fff;
      }
      .rating-status{
        color: #ea0000; 
        font-size: 1.2rem;
        display: block;
        margin-top: 5px;
      }
    }
    .con_review_rate .rateBox .rate_con{width:40%}
    .con_review_rate .rating-values{overflow:hidden;margin:30px 0 20px;}
    .con_review_rate .rating-values .user_review{display:inline-block;vertical-align:top;width:30%;text-align:center;}
    .con_review_rate .rating-values .user_review span{color:#f90;font-size:40px;line-height:145px;font-family:arial;position:relative;font-weight:700;display:block;}
    .con_review_rate .rating-values .user_review sub{font-family:arial;color:#000;font-size:30px;font-weight:normal; vertical-align: baseline;}
    .con_review_rate .rating-values .user_review span b{font-size:16px;color:#000;line-height:24px;font-family:$font-family-name, arial, sans-serif;font-weight:bold;}
    .con_review_rate .rating-values .user_star{display:inline-block;vertical-align:top;width:70%;}
    .con_review_rate .rating-values .user_star li{display:block;font-size:14px;line-height:14px;margin-bottom:10px;}
    .con_review_rate .rating-values .user_star li:last-child{margin-bottom:0;}
    .con_review_rate .rating-values .user_star li .star_txt{display:inline-block;vertical-align:top;width:40px;font-size:18px;line-height:20px;text-align:center;color:#000;font-family:arial;}
    .con_review_rate .rating-values .user_star li .star_bg{background:#f1f1f1;height:20px;width:370px;display:inline-block;overflow:hidden;vertical-align:top;text-align:left;}
    .con_review_rate .rating-values .user_star li .star_bg span[data-attr]:after{content:attr(data-attr);position:absolute;right:10px;top:1px;font-size:11px;}
    .con_review_rate .rating-values .user_star .star5,.user_star .star4,.user_star .star3,.user_star .star2,.user_star .star1{display:inline-block;line-height:20px;text-align:right;position:relative;height:20px;vertical-align:top;font-size:12px;}
    .con_review_rate .rating-values .user_star .star5{background:#42bc00;}
    .con_review_rate .rating-values .user_star .star4{background:#a4e528;}
    .con_review_rate .rating-values .user_star .star3{background:#d1e528;}
    .con_review_rate .rating-values .user_star .star2{background:#e5bf28;}
    .con_review_rate .rating-values .user_star .star1{background:#e57328;}
}


.wdt_highlight{
  background: #282e34;
  padding: 0px 20px 20px;
  margin: 0 0 20px;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  .section{
      width: 100%;
      display: flex;
      .top_section{
          width: 100%;
          h2{
              border: 0;
              margin-bottom: 0;
              span{
                  color: #fff;
                  a{
                      color: #fff;
                  }
                  &:before{
                      border: 0;
                  }
              }
          }
          .read_more{
            color: #fff;
            &:after{
              border-color: #fff;
            }
          }
      }
  }
  
  .slider{
      .con_wrap {
        .section_name{display: none;}
        /*
        .text_ellipsis{
          max-height: 4.0rem;
          -webkit-line-clamp: 2;
        }
        */
      }
      .btnPrev{
          left:-19px;
          top:65px;
          &:after{
              border-width: 2px;
          }
      }
      .btnNext{
          right:-19px;
          top:65px;
          &:after{
              border-width: 2px;
          }
      }  
  }
  &.video{
    background: #e6ecee;
    .section{
      .top_section{
          h2{
              span{
                  color: #000;
                  a{
                      color: #000;
                  }
              }
          }
          .read_more{
            color: #000;
            &:after{
              border-color: #000;
            }
          }
      }
    }
    .slider {
      ul li .con_wrap {
        .text_ellipsis{
            color: #333;
        }
      }
      .btnPrev, .btnNext{
        top:43px;
      }
    }
  } 
}

.gn_table_layout{margin:0;}
.gn_table_layout table{width:100%;border-collapse:collapse;margin:0 auto;border-spacing:0;border:0;table-layout:fixed;}
.gn_table_layout table tr td{font-size:1.0rem;font-weight:normal;text-align:center;border:1px solid #d8d8d8;word-wrap:break-word;}
.gn_table_layout table tr td:first-child{width:50%;}
.gn_table_layout table tr th{font-size:1.0rem;color:#205792;}
.gn_table_layout table td,.gn_table_layout table th{padding:10px 5px;border:1px solid #d8d8d8;}

.stars-in-rating{position:relative;vertical-align:baseline;display:inline-block;color:#afafaf;overflow:hidden;height:20px;line-height:20px;}
.stars-in-rating .filled-stars:before,.stars-in-rating .empty-stars:before{font-size:22px;letter-spacing:0px;line-height:22px;}
.stars-in-rating .filled-stars.critic{color:#ff001f;}

.rd_more{display:block;text-align:right;margin:10px 0 0 0;}
.rd_more a,.rd_more span{font-size:14px;color:#1a75ff;font-weight:bold;margin-right:15px;display:block;position:relative;cursor:pointer;}
.rd_more a:after,.rd_more span:after{content:'';display:block;height:6px;width:6px;margin:auto;position:absolute;top:-3px;bottom:0;transform:rotate(45deg);right:-13px;border-top:2px solid #1a75ff;border-right:2px solid #1a75ff;}


/*common css for slider start*/
.ui_slider .slider .slider_content li .slide span{display:block;}
.ui_slider .slider .slider_content li .slide{width:125px;display:inline-block;vertical-align:top;box-shadow:0 0 5px #b8b8b8;white-space:normal;text-align:center;margin:5px 15px 5px 5px;padding:5px;min-height:220px;background:#fff;position:relative; cursor: pointer;}
.ui_slider .slider .slider_content li .slide .prod_img{width:auto;height:80px;padding-top:10px;}
.ui_slider .slider .slider_content li .slide img{max-height:80px;width:auto;height:auto;max-width:100%;}
.ui_slider .slider .slider_content li .slide .title{display:-webkit-box;}
.ui_slider .slider .slider_content li .slide .title{font-size:1.2rem;line-height:2.0rem;max-height:4.0rem;font-weight:bold; margin-top: 10px;}
.ui_slider .slider .slider_content li .slide .price_tag {font-size: 1.2rem; color: #d70000; font-weight: bold; font-family: arial; margin-top: 5px;}
.ui_slider .slider .slider_content li .slide .price_tag b {color: #000; text-decoration: line-through; font-weight: bold; margin-left: 5px;}
.ui_slider .slider .slider_content li .slide .price{margin-top:5px; height:21px}
.ui_slider .slider .slider_content li .slide .price b{font-size:1.2rem; font-family:arial; font-weight:bold; vertical-align: top;}
.ui_slider .slider .slider_content li .slide .price b.symbol_rupees:before{left: -13px; top: 0; font-weight: bold; font-size: 1.2rem; line-height: 1.4rem; font-family: arial;}
.ui_slider .slider .slider_content li .slide .btn_wrap {margin-top: 5px;}
.ui_slider .slider .slider_content li .slide .vs{height:30px;width:30px;background:#b1b1b1;border-radius:50%;position:absolute;right:-35px;top:45px;color:#fff;font-size:11px;font-family:Arial, Helvetica, sans-serif;text-transform:uppercase;line-height:31px;}
.ui_slider .slider .slider_content li:last-child .slide:last-child{margin:5px 15px 5px 5px}
.ui_slider .slider .slider_content li .slide:last-child .vs{display:none;}
.ui_slider .slider .btnPrev{top:0;bottom:0; left:5px}
.ui_slider .slider .btnNext{top:0;bottom:0; right:5px}

.ui_slider .items-in-list {margin: 20px 0 0;}
.ui_slider .items-in-list ul {display: flex; flex-wrap: wrap;}
.ui_slider .items-in-list ul li {border-bottom: 1px solid #cecece; padding: 0 0 15px 0; margin: 0 18px 15px 0; width: 320px; vertical-align: top;}
.ui_slider .items-in-list ul li .text_ellipsis {font-size: 1.2rem; line-height: 2.0rem; color: #333; max-height: 6.0rem; -webkit-line-clamp: 3;}

.wdt_popular_slider,.wdt_lstcomparsion_slider{margin:0 0 20px;position:relative;}
.wdt_popular_slider.ui_slider .slider,.wdt_lstcomparsion_slider.ui_slider .slider{width:1000px;padding-top:10px;}
.wdt_popular_slider.ui_slider .slider ul,.wdt_lstcomparsion_slider.ui_slider .slider ul{display: flex; flex-wrap: wrap;}
.wdt_popular_slider.ui_slider .slider .slider_content li, .wdt_lstcomparsion_slider.ui_slider .slider .slider_content li{width:305px; box-shadow:0 0 5px #b8b8b8;white-space:normal;text-align:center;margin:5px 15px 5px 5px;padding:5px;min-height:155px;background:#fff;position:relative;}
.wdt_popular_slider.ui_slider .slider .slider_content li:nth-child(3n+3), .wdt_lstcomparsion_slider.ui_slider .slider .slider_content li:nth-child(3n+3){margin-right:0}
.wdt_popular_slider.ui_slider .slider .slider_content li a, .wdt_lstcomparsion_slider.ui_slider .slider .slider_content li a{display: flex;}
.wdt_popular_slider.ui_slider .slider .slider_content li .slide,.wdt_lstcomparsion_slider.ui_slider .slider .slider_content li .slide{box-shadow:none;padding:0;margin:0 35px 0 0;min-height:auto;background:transparent;}
.wdt_popular_slider.ui_slider .slider .slider_content li .slide:last-child,.wdt_lstcomparsion_slider.ui_slider .slider .slider_content li .slide:last-child{margin:0 5px;}

.wdt_amazon_slider{
  .amazon_icon {
      position: absolute;
      right: 0;
      bottom: 8px;
  }
  /*for big widget, like 2Gud*/
  &.horizontal{
    margin-bottom: 20px;
    .slider {
      width: 645px !important;
      .slider_content li{
        .slide{
          min-height: 90px;
          padding: 10px;
          box-sizing: border-box;
          a{
            display: flex;
            .prod_img{
              width:17%;
              height:80px;
              padding: 0;
              margin-right: 2%;
              img{
                max-height: 75px;
              }
            }
            .prod_con{
              width:65%;
              text-align: left;
              .price_tag{
                color: #979797;
                font-size: 1.4rem;
                font-weight: normal;
                b{
                  color: #979797;
                  font-weight: normal;
                  font-size: 1.2rem;
                  margin-left: 10px;
                }
              }
            }
            .btn_wrap{
              width:15%;
              align-self: center;
              margin: 0;
              white-space: nowrap;
              .btn-buy{
                font-size: 14px;
                height: 35px;
                line-height: 37px;
                padding: 0 15px;
              }
            }
          }
        }
      }
    }
  }
}
/*common css for slider end*/
.full-heading{
  .section .top_section{
    h2{
      height: auto;
      font-size: 1.6rem;
      span{
        height: auto;
        line-height: 25px;
        max-width: initial;
      }
    }
  }
}

/*RHS css*/
.tech-rhs-news{
  .section {
    width: calc(100% - 30px);
    margin: 0 auto;
  }
}
.tech-rhs-gallery{
  &.box-item{
    margin:0;
  }
  .gallery{
    padding: 14px 14px 10px;
    margin-bottom: 10px;
    min-height: 155px;
    background: #e6ecee;
    .slider {
      ul li .con_wrap {
        .text_ellipsis{
            color: #333;
        }
      }
      .btnPrev{
        height:25px; 
        width:25px; 
        left:-10px;
        &:after{
          height:6px;
          width: 6px;
          left:3px;
        }
      }
      .btnNext{
        height:25px; 
        width:25px; 
        right:-10px;
        &:after{
          height:6px;
          width: 6px;
          right:3px;
        }
      }
    }
  }
}
.box-item.rhs-video-list {
  margin-bottom: 20px;
}

.wdt_gn_news{
  .section {
    width: calc(100% - 30px);
    margin: 0 auto;
  }
  .news-card{
          padding: 0;
          margin: 0 4.15% 25px 0;
          &:nth-child(5n+5){
              margin-right: 0;
          }
          .img_wrap{
              img{
                  width: 100%;
              }
          }
      }
}
