@import '../sprite';

.header-desktop {
  width: 1000px;
  margin: auto;

  &:after {
    content: "";
    clear: both;
    display: table;
  }

  .logo {
    .other-sites {margin: -13px 0 0;}
    .datetime{
      font-size: 0.9rem;
      color: #717171;
      display: block;
    }
  }
  

  .top_nav {
    position: relative;
    ul.extranav {
      display: inline-block;
      vertical-align: top;
      max-width: 50%;
      > li {
        height: 42px;
        line-height: 38px;
        display: inline-block;
        vertical-align: top;
        .hover_content{
          display: none;
          iframe{
            vertical-align: top;
          }
        }
        &:hover, &.active {
          background: #4d4d4d;
          .hover_content{
            top:42px;
            display: block;
            right:auto;
          }
          .photogallery_icon{
            background-position: -145px -137px;
          }
          .videogallery_icon{
            background-position: -107px -139px;
          }
          .headericon span {
            svg {color: #fff;}
          }
          .video-play-button {
            &::before, &::after {background: #fff;}
            span {
              background: #fff;
              &::before {
                border-left-color: #fa183d;
              }
            }
          }
          &.other-sites {
            background: none;
          }
        }
        a{
          padding: 0 8px;
          display: block;
          .photogallery_icon {
            height: 20px;
            width: 22px;
            @extend .include-desktop-sprite;
            background-position: -44px -137px;
            display: inline-block;
            text-indent: -10000px;
            cursor: pointer;
            vertical-align: middle;
            
          }

          .video-play-button {
            position: relative;
            z-index: 10;
            box-sizing: content-box;
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-top: 11px;
            &::before, &::after {
              content: "";
              position: absolute;
              z-index: 0;
              left: 50%;
              top: 50%;
              transform: translateX(-50%) translateY(-50%);
              display: block;
              width: 20px;
              height: 20px;
              background: #fa183d;
              opacity: .2;
              border-radius: 50%;
              animation: pulse-border 2s ease-out infinite;
            }
            &:after {
              width: 17px;
              height: 17px;
              z-index: 1;
            }
            span {
              width: 20px;
              height: 20px;
              display: block;
              position: relative;
              border-radius: 50%;
              background: #fa183d;
              z-index: 2;
              &::before {
                content: "";
                display: block;
                position: absolute;
                z-index: 3;
                width: 0;
                height: 0;
                border-left: 6px solid #fff;
                border-top: 4px solid transparent;
                border-bottom: 4px solid transparent;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin-left: 1px;
              }
            }
          }

          @keyframes pulse-border {
            0% {
              transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
              //opacity: 0;
            }
            45% {
              transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.4);
              //opacity: 0.8;
            }
            50% {
              transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
              //opacity: 1;
            }
            55% {
              transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
              //opacity: 0.8;
            }
            100% {
              transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
              //opacity: 0;
            }
          }

          .videogallery_icon {
            height: 16px;
            width: 22px;
            @extend .include-desktop-sprite;
            background-position: -6px -139px;
            display: inline-block;
            text-indent: -10000px;
            cursor: pointer;
            vertical-align: middle;
          }
        }
        
        .top-videos{
          .news-card{
            height: auto;
            line-height: normal;
            display: inline-block;
            vertical-align: top;
            width:144px;
            margin-right: 15px;
            margin-bottom: 0;
            &:last-child{
              margin-right: 0;
            }
            &.vertical {
                  a{
                    padding: 0;
                  }
                  .img_wrap{
                      margin: 0 0 10px 0;
                      position: relative;
                      display: block;
                      img {
                          width: 144px;
                      }
                  }
                  .con_wrap {
                      .text_ellipsis{
                          color:#fff;
                          font-size: 1.2rem;
                          line-height: 1.7rem;
                          max-height: 5.1rem;
                          -webkit-line-clamp: 3;
                      }
                  }
             }
             &.video{
              .img_wrap[data-tag]{
                  &:after {
                      font-family: arial;
                      font-size: 1.1rem;
                      position: absolute;
                      bottom: 10px;
                      right: 10px;
                      padding: 2% 3%;
                      line-height: 1.2rem;
                      background:rgba(0, 0, 0, 0.6);
                      content: attr(data-tag);
                      text-align: center;
                      color: #fff;
                      z-index:10
                  }
              }
              .img_wrap[data-tag=""]:after {display:none}
              .img_wrap{
                  a{
                      position: relative;
                      display: block;
                      &:before{
                          content: '';
                          position: absolute;
                          top: 50%;
                          left: 50%;
                          transform: translate(-50%, -50%);
                          width: 25px; 
                          height: 25px; 
                          @extend .videoicon;
                      }
                  }
              }
              
            }
          }
        }
        &.wdt_gold{
          a {
            span.goldlogo {@extend .include-desktop-sprite; background-position: -146px -124px; width: 22px; height: 22px; vertical-align: middle; display: inline-block; text-indent: -9999px; background-size: 250px;}
          }
          .goldnavloader {
            padding: 0;
            width: 100%;
            .wdt_loading {
              background-color: #4d4d4d;
              .spinner_circle {border-color: #ffffff;border-right-color: transparent;}
            }
          }
          .top_sub_menu {
            background-color: #4d4d4d;
            margin: 0;
            li {
              height: auto;
              line-height: normal;
              padding: 4px 7px 3px;
              position: relative;
              border: 1px solid transparent;
              display: inline-block;
              vertical-align: top;
              a {
                font-size: 1.1rem;
                font-weight:bold;
                color: #ffffff;
              }
              &:after {
                content: "";
                position: absolute;
                right: -2px;
                top: 9px;
                height: 10px;
                width: 1px;
                background-color: #cccccc;
              }
              &:hover, &.current {
                border-radius: 10px;
                border: 1px solid #ccc;
                &:after {
                  display: none;
                }
              }

              &:hover a, &.current a {
                color: #ffffff;
              }

              &:last-child {
                &:after {
                  display: none;
                }
              }
            }
          }
          .nav_nbtgold {
            ul {
              padding: 0;
              margin: 0;
              display: flex;
              flex-wrap: wrap;
              li {
                width: 32%;
                margin-right: 2%;
                margin-bottom: 20px;
                white-space: normal;
                line-height: normal;
                height: initial;
                padding: 0;
                display: flex;
  
                &:hover {
                  background: transparent;
                }
  
                &:nth-child(3n+3) {
                  margin-right: 0;
                }
                a{
                  display: flex;
                  flex-wrap: nowrap;
                  padding: 0;
                  .img_wrap {
                    margin-right: 10px;
                      img {
                      width: 114px;
                    }
                  }
  
                  .con_wrap {
                      .text_ellipsis {
                        color: #ffffff;
                        font-size: 1.3rem;
                        line-height: 2.0rem;
                        max-height: 6.0rem;
                        -webkit-line-clamp: 3;
                        display: -webkit-box;
                        font-weight: normal;;
                      }
                  }
                }
                &.no-hover-data{
                  color: #ffffff;
                  width: 100%;
                  text-align: center;
                  display: block;
                  text-transform: uppercase;
                  font-family: arial;
                  font-size: 18px;
                  margin: 0 0 20px;
                }
              }
            }
          }
        }
        &.apanaBazar{
          a{
            position: relative;
            display: inline-block;
            height: 25px;
            line-height: 25px;
            padding: 0 10px 0 30px;
            font-size: 12px;
            color: #000;
            border:1px solid #c4c3c3;
            border-left:0;
            border-radius: 15px;
            background: #fff;
            margin-left:5px;
            &:before{
              @extend .include-desktop-sprite; 
              background-position: -141px -185px;
              width: 27px;
              height: 27px;
              content: '';
              position: absolute;
              left: 0;
              top: -1px;
              background-size: 320px auto;
              z-index: 1;
            }
          }
          &:hover{
            background: transparent;
          }
        }
        &.txt-link{
          a{
            font-size: 13px;
            display: inline-block;  
            padding:0 5px;
          }
          &:hover{
            background: transparent;
          }
        }
        &.special-link{
          margin:0 5px;
          a{
            font-size: 12px;
            display: inline-block;
            padding: 4px 8px 3px;
            background: #294ec2;
            color: #fff;
            border-radius: 15px;
            line-height: 18px;
          }
          &:hover{
            background: transparent;
          }
        }
        &.other-sites {
          margin: 0;
          box-sizing: border-box;
          padding-top: 7px;
          position: relative;
          padding-right: 4px;
          &::after {
            content: "";
            height: 17px;
            width: 1px;
            position: absolute;
            right: 0;
            top: 13px;
            background-color: #bebebe;
            display: block;
          }
          span.head {display: block;}
          .restLang {
            top: 35px;
            min-width: 75px;
            li {white-space: nowrap;}
          }
        }
      }
      .dropDown_city {
        display: inline-block;
        .headericon {
          span {
            height: 42px;
            display: flex;
            align-items: center;
            padding: 0 8px;
            svg {
              color: red;
            }
          }
        }
        .sel-city-content {
          top: 42px;
          left: -180px;
          &.show {
            z-index: 12;
          }
          ul li {
            height: auto;
            line-height: normal;
          }
        }
      }
    }

    .other-sites {
      position: relative;
      margin: 7px 15px 0 0;
      z-index: 12;
      display: inline-block;
      vertical-align: top;
      height: 30px;

      span.head a {
        display: block;
        padding: 4px 20px 6px 12px;
        position: relative;
        z-index: 1;
        height: 15px;
        font-weight: bold;
        margin-bottom: -10px;
        font-size: 12px;
        border: 1px solid #c4c3c3;
        background: #fff;
        border-radius: 15px;
        line-height: normal;

        &:after {
          position: absolute;
          content: '';
          border: solid #000;
          width: 6px;
          height: 6px;
          border-width: 0 1px 1px 0;
          top: 8px;
          right: 7px;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          box-sizing: border-box;
        }
      }

      &:hover .restLang {
        display: block;
      }

      .restLang {
        position: absolute;
        top: 28px;
        left: 0px;
        display: none;
        background: #fff;
        z-index: 1;
        box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.2);
        min-width: 105px;
        padding: 5px;
        border-top: 0;

        a {
          margin: 0 5px 6px;
          display: block;
          font-size: 1.1rem;
          line-height: 1.8rem;
          text-align: left;

          &:last-child {
            margin-bottom: 0;
          }
        }
        .svg-icons {height: 19px;}
      }
    }

    .globalnav {
      float: right;
      height: 42px;
      line-height: 47px;
      width: 50%;
      text-align: right;
      display: block;

      .social_share {
        display: inline-block;
        vertical-align: top;
        .icons {
          display: block;
          margin-top: -5px;
        }
        a {
          margin: 0 8px 0 0;
        }
        .social_icons {
          display: inline-block;
          position: relative;
          margin-right: 5px;
          .shareico {
            height: 100%;
            display: block;
            cursor: pointer;
            .svgiconcount {
              height: 20px;
              width: 20px;
              box-sizing: border-box;
            }
          }
          svg {width: 12px; height: 12px;}
          .social_drop {
            position: absolute;
            z-index: 13;
            padding:5px 0 5px 8px;
            border-radius: 4px;
            box-shadow: 1px 1px 4px 2px rgba(146, 146, 146, 0.5);
            background-color: #ffffff;
            right: 0;
            top: 10px;
            a {
              width: 20px;
              height: 20px;
              border: 1px solid #ccc;
              border-radius: 50%;
              display: flex;
              svg {width: 12px; height: 12px;}
              &.facebook {
                border-color: #3A5897;
              }
              &.twitter {
                border-color: #5EA8DC;
              }
              &.youtube {
                border-color: #e10000;
                color: #e10000;
              }
              &.telegram {
                border-color: #27A7E8;
              }
            }
          }
          &:hover {
            .shareico {
              .svgiconcount {
                background-color: #fff;
                border: 1px solid #c4c4c4;
                border-radius: 50%;
              }
            }
            .social_drop {display: flex;}
          }
        }
      }

      .wdt_login {
        display: inline-block;
        vertical-align: top;
        margin: 0 15px 0 0;
        .btn{
          font-size: 12px;
          text-transform: uppercase;
          font-weight: bold;
          cursor: pointer;
          line-height: 32px;
          height: 30px;
          display: block;
          max-width: 180px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        .user-controls {
          position: relative;
          margin-top: 7px;
          &:hover{
            .dropdown {
              display: block;
            }
            .user-name {
              background: #e8e4e4;
            }
          }
          img {
            float: left;
            width: 25px;
            height: 25px
          }
          .user-name {
            display: block;
            font-size: 12px;
            line-height: 25px;
            padding: 0 8px;
            font-weight: 700;
            color: #000;
            float: left;
            text-transform: capitalize;
            font-family: arial;
            b {
              margin: 0;
              padding: 0;
              border: 0;
              font-size: 100%;
              font-family: arial;
              font-style: normal;
              font-weight: bold;
              max-width: 80px;
              overflow: hidden;
              display: inline-block;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            .icon_down {
              padding: 0;
              width: 0;
              height: 0;
              border: solid 5px transparent;
              border-top-color: black;
              margin: 9px 0 0 5px;
              float: right;
            }
          }
          .dropdown {
            background: #e8e4e4;
            position: absolute;
            right: 0;
            top: 25px;
            display: none;
            width: 110px;
            z-index: 700;
            padding: 6px 0 2px;
            li {
              display: block;
              font-size: 12px;
              font-weight: normal;
              margin: 0 10px;
              line-height: 20px;
              cursor: pointer;
              text-align: left;
              text-transform: capitalize;
              a{
                display: block;
                color: #000;
                font-size: 12px;
              }
              &:hover{
                color: #e44349;
                a{
                  color: #e44349;
                }
              }
            }
          }
        }


      }
      .wdt_timespoints{
        display: inline-block;
        vertical-align: top;
        margin: 7px 15px 0 0;
        position: relative;
        z-index: 12;
        .tpwidget-prelogin{
          .tp-btn{
            display: none;
          }
        }
        
        .tpwidget{
          line-height: normal;
          .odometer-auto-theme {box-shadow: none; line-height: normal; margin: 0 3px; vertical-align: text-top;}
          .widget-prelogin, .widget-postlogin{
            line-height: normal;
            background: linear-gradient(90deg,#3023ae,#c86dd7) !important;
            border-radius: 15px;
            vertical-align: top;
          }
          .widget-prelogin{
            .widget-text{
              max-width: 105px;
              font-size: 11px;
            }
          }
          .tpwidget-inline{
            color:#fff;
            cursor: pointer;
            .tp-logo{
              width:16px;
              height:16px;
              top:0;
              img{
                vertical-align: top;
              }
            }
          }
          .widget-postlogin{
            .widget-text{
              white-space: normal;
              padding-top: 3px;
            }
            .odometer{
              margin: 0 3px;
              font-size: 13px;
              box-shadow: none;
              line-height: normal;
              vertical-align: text-top;
              .digit{
                color:#000;
                display: none;
              }
            } 
            .hover-state {
              box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.15);
              background-color: #ffffff;
              position: absolute;
              top: 24px;
              left: 0;
              white-space: normal;
              height: auto;
              text-align: center;
              margin: 0;
              border-top: 1px solid rgba(255,255,255,.2);
              max-width: 100%;
              padding: 10px;
              border-radius: 0 0 2px 2px;
              opacity: 0;
              pointer-events: none;
              transition: all .5s;
              word-break: break-word;
              .widget-text {
                white-space: normal;
                max-width: 100%;
                height: auto;
                white-space: normal;
                padding: 0;
                margin: 0 0 5px;
                color:#000;
                font-family:arial;
                font-size: 12px;
                line-height: 16px;
              }
              .tp-btn {
                box-sizing: border-box;
                line-height: 19px;
                height: 20px;
                padding: 0 12px;
                background: #3023ae;
                background: -webkit-linear-gradient(left,#3023ae,#c86dd7);
                background: linear-gradient(90deg,#3023ae,#c86dd7);
                height: 30px;
                line-height: 30px;
                font-weight: 700;
                text-transform: uppercase;
                -webkit-border-radius: 2px;
                border-radius: 5px;
                color:#fff;
              }
            }
            &:hover{
              .hover-state{
                opacity: 1;
                pointer-events: initial;
                top:25px;
              }
            }
          }
        }
      }
    }
  }

  .nav_wrap {
    ul {
        li {
          height: 34px;
          line-height: 34px;
          white-space: nowrap;
          padding: 0 6px;
          &.hide {display: none !important;}
          &.special_dot {
            position: relative;
            &:before {
              @extend .newdot;
              top: 7px;
              right: 1px;
              background-color: $special-color;
            }
          }
          &.special_color {
            a {
              color: $special-color !important;
              font-weight: 600;
            }
          }
          a {
            font-size: 1.1rem;
            font-weight:bold;
            color: #fff;
            display: block;
          }

          &:hover, &.active {
            background: #4d4d4d;
          }
        }
    }
    .nav-more {
      display: block;
      .nav-more-icon {
        width: 30px;
        height: 10px;
        margin-top: 7px;
        display: block;
        cursor: pointer;
        text-align: center;
        color: #fff;
      }

      ul {
        flex-wrap: wrap;
        background: #4d4d4d;
        padding: 10px 0;
        li {
          width: 18%;
          text-align: left;
          padding: 0 0 0 2%;
          a {
            color: #fff;
            display: inline-block;
            &:hover {
                color: #bebebe;
                text-decoration: underline;
                font-weight: bold;
             }
          }
        }
      }

      .hover_nav_content {
        display: none;
        li.special_dot {
          &::before {display: none;}
          span {
            position: relative;
            &:before {
              @extend .newdot;
              top: -1px;
              right: -7px;
              background-color: $special-color;
            }
          }
        }
      }

      &:hover, &.active {
        background: #4d4d4d;
      }

      &:hover .hover_nav_content {
        display: block;
      }
    }
    .con_primary {
      background: #4d4d4d;
      margin: 0;

      li {
        &:hover, &.active {
          background: #f4f4f4;
        }

        &:hover a, &.active a {
          color: #7d7d7d;
        }
      }
    }
    .con_secondary {
      padding: 20px 20px 0;
      margin: 0;
      flex-wrap: wrap;

      li {
        width: 32%;
        margin-right: 2%;
        margin-bottom: 20px;
        white-space: normal;
        line-height: normal;
        height: initial;
        padding: 0;
        display: flex;

        &:hover {
          background: transparent;
        }

        &:nth-child(3n+3) {
          margin-right: 0;
        }
        a{
          display: flex;
          flex-wrap: nowrap;
          .img_wrap {
            margin-right: 10px;
              img {
              width: 114px;
            }
          }

          .con_wrap {
              .text_ellipsis {
                color: #000;
                font-size: 1.3rem;
                line-height: 2.0rem;
                max-height: 6.0rem;
                -webkit-line-clamp: 3;
                display: -webkit-box;
                font-weight: normal;;
              }
          }
        }
        &.no-hover-data{
          color: #000;
          width: 100%;
          text-align: center;
          display: block;
          text-transform: uppercase;
          font-family: arial;
          font-size: 18px;
          margin: 0 0 20px;
        }
      }
      &.photolist{
        .img_wrap{
            position: relative;
            display: block;
            &:before{
                content: '';
                position: absolute;
                top:10px;
                left:10px;
                width:25px; 
                height: 21px; 
                @extend .photoglicon;
            }      
        }
      }
      &.videolist{
        .img_wrap{
              position: relative;
              display: block;
              &:before{
                  @extend .videoicon; 
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 25px;
                  height: 25px;
                  position: absolute;
                  content: '';
              }
        }
      }
    }
    .first-level-menu {
      display: inline-block; 
      vertical-align: top; 
      width: calc(1000px - 180px);
      background: $navbar-background;
      position: relative;
      height: 34px;
      .items{
        ul{
          li{
            &.special_bg {
              background-color: $special-color;
              a {
                color: $color-black !important;
                font-weight: 600;
              }
            }
            a{
              color:$navbar-first-link-color;
            }
            &.active, &:hover{
              a{
                color:$navbar-first-link-hover-color;
              }
            }
          }
        }
        .nav-more{
          ul li{
            a{
              color: #fff;
            }
            a:hover{
              color: #bebebe;
            }
          }
        }
      }
      &.fixed{
        position:fixed;
        top:0;
        z-index: 1003;
        left: 0;
        right: 0;
        margin: auto;
        width: 1000px;
        .search_in_header.active .searchbox{
          top: 0;
          height: 67px;
        }
        .hover_nav_content{
          width: 1000px;
          left:0;
          right: 0;
          width: 1000px;
          margin: auto;
        }
      }
      h3.home {
        position: absolute;
        width: 35px;
        height: 34px;
        background: $navbar-background;
        display: block;
        left: 0;

        &.active:after {
          border-bottom: 3px solid #fff;
          content: '';
          position: absolute;
          bottom: 1px;
          left: 0;
          right: 0;
          margin: auto;
        }
        a {
          height: 100%;
          display: block;
          color: #fff;
        }
      }

      .search_in_header {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        border-left: 1px solid #d0d0d0;
        display: block;
        b {
          width: 17px;
          height: 17px;
          cursor: pointer;
          display: inline-block;
          margin: 7px 10px 10px 10px;
          color: #fff;
        }

        &.active {
          position: initial;

          b {
            display: none;
          }
        }

        .close_icon {
          display: none;
        }

        &.active .close_icon {
          display: block;
          top: 0;
          bottom: 0;
          right: 20px;
          margin: auto;
        }

        .searchbox {
          position: absolute;
          z-index: 101;
          background: #e7e9ec;
          right: 0;
          top: -40px;
          left: 0;
          bottom: 0;
          padding: 8px 0 0 0;
          text-align: center;
          .tech-search{
            width: 440px;
            margin: auto;
            position: relative;
            input{
              width: 405px;
              height: 39px;
              border-radius: 19.5px;
              box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
              padding: 0 15px;
              color: #000;
              font-size: 14px;
              font-family: arial;
              line-height: 39px;
            }
            .search-result{
              position: absolute;
              left:0;
              right: 0;
              top: 40px;
              padding: 5px;
              z-index: 101;
              background: #f4f4f4;
              box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
              border: 1px solid #d8d8d8;
              li{
                font-size: 14px;
                border: 1px solid #d8d8d8;
                background: #fff;
                color: #000;
                width: 100%;
                box-sizing: border-box;
                text-align: left;
                font-weight: bold;
                padding: 8px 10px 3px;
                white-space: normal;
                height: auto;
                line-height: normal;
                a{
                  color: #454545;
                  font-weight: normal;
                  line-height: 22px;
                }
              }
            }
          }
        }
      }
    }

    .second-level-menu{
      display: flex;
      clear: both;
      position: relative;
      background: #4d4d4d;
      height: 34px;
      z-index: 11;
      .hover_nav_content{
        left: 0;
      }
      ul{
        margin: 0;
        li {
          &:hover, &.active {
            background: #f4f4f4;
          }

          &:hover a, &.active a {
            color: #000;
          }
          
        }
      }
      .nav-more{
        .hover_nav_content{
          ul{
            background: #f4f4f4;
            padding: 0;
            li{
              width:auto;
              a{
                color: #000;
                font-weight: normal;
              }
              &:hover{
                a{
                  font-weight: normal;
                  text-decoration: none;
                }
              }
            }
          }
        }
        &:hover{
          background: #f4f4f4;
          .nav-more-icon{
            color: #000000;
          }
        }
      }
    }
    .hover_nav_content {
      position: absolute;
      top: 34px;
      left: -180px;
      right: 0;
      background: #f4f4f4;
      z-index: 1003;
      box-shadow: 0 8px 8px -2px rgba(0, 0, 0, 0.16);
      white-space: normal;
      overflow: hidden;
      &.second-level-hover-item{
        top:68px;
      }
    }
  }
  
}

/*hover content start*/
.hover_content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #4d4d4d;
  z-index: 999999;
  padding: 20px;
}
/*hover content end*/

.headerContainer {
  .social_share {
    .icons {
      a {
        display: inline-block;
        cursor: pointer;
        svg {
          height: 12px;
          width: 12px;
        }
        &.facebook{color: #3A5897;}
        &.twitter{color: #5EA8DC;}
        &.youtube {color: #E10000;}
        &.telegram {color: #27A7E8;}
        &.rssdef {color:#FF9100;}
      }
    }
  }
}

.wdt-trending-minitv-breaking {
  display: flex;
  overflow: hidden;
  width: 1000px;
  margin: 10px auto 10px;
  flex-wrap: wrap;
  position: relative;
  padding: 2px 0 0 0;
}

.header-trending {
  display: flex;
  vertical-align: top;
  box-sizing: border-box;
  margin-bottom: 5px;
  min-height: 30px;

  b {
    font-size: 1.2rem;
    line-height: 2.0rem;
    margin: 4px 10px 0 0;
  }

  ul li {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #1f81db;
    border-radius: 15px;
    margin: 0 10px 0 0;

    a {
      font-size: 1.1rem;
      line-height: 1.7rem;
      padding: 4px 15px 2px;
      color: #000;
      display: block;
    }
  }
}

.wdt-trending-minitv-breaking {
  .minitv-in-list.top_notification {
    display: flex;
    vertical-align: top;
    width: 25%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border:0;
    height: 28px;
    line-height: 28px;
    border-radius: 15px;
    overflow: hidden;
    position: absolute;
    top: 3px;
    right: 0;

    .img_wrap.minitv_icon {
      display: none;
    }

    .table_col.strip {
      background: #dd0404;
      color: #fff;
      font-size: 1.0rem;
      text-transform: uppercase;
      width: 100px;
      text-align: center;
      font-family: arial;
    }
    .table_col.con_wrap{
      border: 1px solid #d8d8d8;
      border-radius: 0 15px 15px 0;
    }
    h3 {
      font-size: 1.1rem;
      line-height: normal;
      margin: 0 10px 0 0px;
      max-height: initial;
      height: 26px;
      display: flex;
      align-items: center;
    }
    a.table_row{
        outline: none;
        border:none;
        &:hover, &:focus{
          outline: none;
          border:none;
        }
    }
  }

  .card_breaking_news {
    margin: 0;
    background: #f1f1f1;
    border-radius: 3px;
    overflow: hidden;
    height: auto;

    .con_wrap .bnew_text {
      color: #000;
      padding: 6px 0;
      display: inline-block;
      vertical-align: top;
      line-height: 2.5rem;
      height: auto;
      a{
        color:#1a75ff
      }
    }

    .btn_wrap {
      background: transparent;
      width: 4%;
      border: 1px solid #d0d0d0;
      border-left: 0;
    }

    .con_wrap {
      width: 78%;
      border-top: 1px solid #d0d0d0;
      border-bottom: 1px solid #d0d0d0;
    }

    .btn_wrap .close_icon {
      right: 5px;
    }

    .close_icon {
      &:before, &:after {
        width: 2px;
      }
    }
  }
}

.desktop_body{
  .headerContainer{
    .add_atf {
      display: block;
      overflow: hidden;
      width: 1000px;
      margin: 20px auto;
    }
    /*
    .ad1 {
      margin: 10px 0;
      padding:0;
    }
    */
  }
}

.top_banner{background: #1c1c1e url('https://static.langimg.com/photo/76188616.cms') no-repeat 7px center;}
.top_banner .corona-numbers.desktop .heading span:before{content: ''; border-left: 1px solid #3b3b3b; position: absolute; left: -15px; top: 0; bottom: 0;}

