@import '../sprite';
.movieshow {
    .short-text {
        .readMoreText {
            &::after {
                content: "";
                position: absolute;
                right: -15px;
                top: 6px;
                border: solid #00b3ff;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }
            &.less {
                &::after {
                    transform: rotate(-135deg);
                    -webkit-transform: rotate(-135deg);
                    top: 10px;
                }
            }
        }
    }
    .moreitems {
        & > span {
            position: relative;
            &::after {
                content: "";
                width: 5px;
                height: 5px;
                border-left: 1px solid #fff;
                border-bottom: 1px solid #fff;
                background-color: transparent;
                transform: rotate(-45deg);
                position: absolute;
                right: -11px;
                top: 6px;
                display: inline-block;
            }
        }
        ul {
            &::before {
                content: "";
                position: absolute;
                left: 50%;
                top: -7px;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 7px solid #fff;
                transform: translateX(-50%);
            }
        }
    }
    .dotlist{
        position: relative;
        &::before {
            content:""; 
            width:6px; 
            height:6px; 
            background:#7a7a7a; 
            display:inline-block; 
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 5px;
        }
        &:nth-child(2) {
            padding: 0;
            margin: 0;
            &::before {
                display: none;
            }
        }
    }
    .wdt_social_share {
        span {
            width: 22px;
            height: 22px;
            margin: 0 0 0 10px;
        }
        .iconsquare {
            width: 22px;
            height: 22px;
            background-color: #fff !important;
            border-radius: 50%;
            svg {
                width: 12px;
                height: 12px;
                color: #333 !important;
                margin: 0;
            }
        }
    }
    .section.noborder {
        h1, h2, h3 {
          border-bottom: none !important;
          font-size: 1.6rem;
          a:before, span:before {border-bottom: none !important;}
        }
    }
    .moviewidgets {
        padding: 15px 0;
        background-color: #f6f6f6;
    }
    .moviestry {
        padding: 15px;
        font-size: 1.2rem;
        line-height: 2.4rem;
        color: #000;
        &.moviereview {
            .section .top_section {
                margin-top: -10px;
                margin-bottom: 5px;
            }
            .news_card_source {
                padding-bottom: 0;
                .source a {color: #9d9d9d;}
                .rating {
                    display: block;
                    margin-top: -8px;
                    color: #000;
                    b {font-weight: normal;}
                    .rating-stars {vertical-align: middle; margin: -3px 10px 0;}
                    .rate_val {font-size: 16px;}
                }
            }
        }
    }
    .readfullreview {
        a {
            display: block;
            background-color: #e3e3e3;
            text-align: center;
            padding: 10px 0;
            font-size: 13px;
            color: #000;
            font-weight: 400;
            span {
                display: inline-block;
                position: relative;
                &::after {
                    content: "";
                    display: block;
                    height: 5px;
                    width: 5px;
                    margin: auto;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    transform: rotate(45deg);
                    right: -10px;
                    border-top: 1px solid #000;
                    border-right: 1px solid #000;
                }
            }
        }
    }
    .news_card_source {
        font-size: 1rem;
        color: #9d9d9d;
        margin-top: -15px;
        padding-bottom: 15px;
    }
    .gaanaiframe {margin: 15px 0;}
    .slider ul li {
        .con_wrap .text_ellipsis {color: #000;}
        &.video .img_wrap a {
            &::before {
                width: 32px;
                height: 32px;
                @extend .videoicon;
            }
        }
    }
    .wdt_popular_videos .slider ul li .con_wrap .text_ellipsis {color: #fff;}
    .gaanaiframe {
        iframe {box-sizing: border-box;}
    }
    .msnews {
        .news-card.horizontal {margin: 0 0 4%; padding: 0 3%; box-sizing: border-box;}
    }
    .rating .table_col {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            right: 50px;
            top: 4px;
            width: 1px;
            height: 40px;
            background-color: #888888;
        }
        &:last-child {
            &::after {display: none;}
        }
    }
}
.nocomments {
    font-size: 1.4rem;
    margin: 10px 0;
    text-align: center;
}
.desktop_body {
    .nocomments {
        font-size: 1.2rem;
    }
    .movieshow {
        .webtitle {
            margin: 20px 0 0;
            font-size: 1.2rem;
            line-height: 2.0rem;
            color: #000;
            b {
                font-weight: 600;
            }
            a {
                color: #1f81db;
            }
        }
        .msnews {
            ul {
                width: 100%;
                overflow: hidden;
                padding: 3% 0 0;
                background-color: #f6f6f6;
                li.news-card.horizontal{
                    width: 50%;
                    float: left;
                    border: none;
                    &:nth-child(odd) {
                        clear: left;
                    }
                    .img_wrap img {width: 120px; height: 90px;}
                }
            }
        }
        .wdt_social_share {
            span.comments {
                float: right;
                margin-left: 10px;
                .iconsquare {border-radius: 50%;}
            }
        }
    }
}
.mobile_body {
    .movieshow {
        .rating .critic:before, .rating .users:before {
            content: "\2605";
            font-size: 20px;
            line-height: 30px;
            position: absolute;
            top: -4px;
            left: 0;
        }
        .webtitle {
            margin: 20px 4% 0;
            font-size: 1.0rem;
            line-height: 1.8rem;
            color: #a0a0a0;
        }
        .slider ul {padding: 0 15px;}
        .section {margin-top: 15px;}
        .section.noborder .top_section {margin: 0;}
        .moviereview {
            .section.noborder{
                padding: 0;
                margin-top: 0;
                .top_section {
                    margin: 0;
                    h2, span {height: auto; line-height: normal;}
                }
            }
            .news_card_source {
                margin-bottom: 10px;
                margin-left: 0;
                margin-top: 0;
                .rating {
                    margin-top: 3px;
                    .rating-stars {vertical-align: sub; margin: 0 10px;}
                    .critic:before, .rating .users:before {
                        content: "\2605\2605\2605\2605\2605";
                        font-size: 18px;
                        line-height: 30px;
                        position: absolute;
                        top: -5px;
                        left: 0;
                    }
                    .rate_val {font-size: 18px;}
                }
            }
        }
        .msnews {
            .news-card.horizontal {padding: 0 3% 3%;}
        }
        .news_card_source {margin-left: 15px; font-size: 1.1rem; margin-top: -5px; line-height: 1.8rem;}
        .readfullreview {
            background-color: #f6f6f6;
            padding: 20px 0;
            text-align: center;
            a {
                display: inline-block;
                box-shadow: 0 0 4px 2px rgba(194, 194, 194, 0.5);
                background-color: #ffffff;
                color: #ff0000;
                font-size: 1.6rem;
                padding: 12px 50px;
                border-radius: 30px;
                span {&::after {display: none;}}
            }
        }
    }
}