@import "../sprite";

/* desktop */
.desktop_body {
    .story_partition {
        span {
            &:after {
                border-right: 4px solid $story-partition-bg-color;
                border-top: 4px solid $story-partition-bg-color;
            }
        }
    }
}


.desktop_body .photomazzashow-content .title_with_tpwidget .wdt_timespoints{top:10px}
.desktop_body .photo_story li.photo_card .share_icon{top:15px; right:15px; bottom: initial;}
.desktop_body .photo_story li.photo_card .share_icon{height: 35px; border-radius: 5px; opacity: .8; color: #fff;}
.desktop_body .photo_story li.photo_card .share_icon span{padding: 8px 12px 0; display: block; cursor: pointer;}

.desktop_body .photo_story li.photo_card .shareModalContainer{background: transparent; position: absolute; height: 15%; overflow: hidden; width: 40%; right: 0; left: auto;}
.desktop_body .photo_story li.photo_card .shareModalContainer .shareContent{background: transparent; top: 5px; bottom: auto; right: 5px; left: auto; position: absolute;}
.desktop_body .photo_story li.photo_card .shareModalContainer .shareHeader{padding:0}
.desktop_body .photo_story li.photo_card .shareModalContainer .shareHeader h3{display: none;}
.desktop_body .photo_story li.photo_card .shareModalContainer .close_position{height: 20px; width: 20px; background: #000; padding: 8px 10px; top: 10px; right: 10px; border-radius: 5px;}
.desktop_body .photo_story li.photo_card .shareModalContainer .close_position.close_icon:before, .desktop_body .photo_story li.photo_card .shareModalContainer .close_position.close_icon:after{left:0; right: 0; margin: auto;}

.desktop_body .photo_story li.photo_card .shareModalContainer .social-table{display: inline-flex; width: auto;}
.desktop_body .photo_story li.photo_card .shareModalContainer .socialText {text-indent: -10000px;}

.desktop_body .photo_story li.photo_card .shareModalContainer svg{width:24px; height:24px}
.desktop_body .photo_story li.photo_card .shareModalContainer span{width: 45px; height: 35px; display: inline-block; vertical-align: top; margin: 0 0 0 5px; cursor: pointer;}
.desktop_body .photo_story li.photo_card .shareModalContainer span .iconsquare {width: 45px; height: 35px;}
.desktop_body .photo_story li.photo_card .shareModalContainer span.comments, .desktop_body .photo_story li.photo_card .shareModalContainer span.email, .desktop_body .photo_story li.photo_card .shareModalContainer span.sms{display: none;}

.desktop_body .photo_story li.photo_card .photo_comments{display: inline-block; vertical-align: top; width:10%; text-align: right;}
.desktop_body .photo_story li.photo_card .photo_comments b{@extend .include-desktop-sprite; width:18px; height:18px; display: inline-block; vertical-align: top; cursor: pointer; background-position: -240px -136px;}
.desktop_body .photo_story li.photo_card .readmore:after{height:8px; width:8px}

.photoshow_body{
    .photomazzashow-content{
        position: relative;
        .story_partition{
            width: 670px;
        }
        .webtitle{margin:20px 0 0 0}
        .trending-bullet{
            margin: 20px 0 0;
            padding:0;
            border: 0;
            text-align: left;
            h3{
                font-size: 1.6rem; margin: 0 0 15px; display:block
            }
        }
    }
    .rgt_content{
        position: sticky;
        right: 0;
        top: -160px;
        float: right;
        width: 300px;
        .sticky-rhs {
            .ad1.mrec1, .ad1.mrec2{
                margin-bottom: 5px;
            }
            .box-item{
                margin-bottom: 5px;
            }
        }
        .list-vertical {
            margin: 0 0 5px;
            > a{
                display: block;
                width: 100%;
            }
            .section{
                width:100%;
            }
            h2{
                font-size: 1.4rem;
                margin-bottom: 5px;
            }
            .col12{
                padding: 0;
                .news-card{
                    &.vertical {
                        margin: 0 0 6px 0;
                        padding:0 3px;
                        .img_wrap{
                            margin: 0;
                            a{
                                img {
                                    width: 100%;
                                }
                                &:before{
                                    display: none;
                                }         
                            }
                        }
                        .con_wrap {
                            display: none;
                            .section_name{
                                font-size: 1.2rem;
                                color: #1f81db;    
                            }
                            .text_ellipsis{
                                font-size: 1.2rem;
                                // max-height: 4rem;
                            }
                        }
                    }
                }
            }
        }
        .ad1.mrec1, .ad1.mrec2{
            margin-bottom: 15px;
        }
    }
    .lft_content{
        [data-plugin="ctn"]{
            margin-bottom: 10px;
        }
    }
}



