.wdt_sports_poll{
    .pollContainer{
        border-radius: 8px;
        border: solid 1px #b7b6b6;
        padding: 15px 15px 10px 130px;
        position: relative;
        min-height: 80px;
        box-shadow: none;
        background-image: linear-gradient(125deg, #def6f6 11%, #fcffe9 79%);
        &:before{
            content: 'Poll';
            position: absolute;
            top:0;
            bottom: 0;
            left: 30px;
            margin: auto;
            font-family: arial;
            font-weight: bold;
            text-transform: uppercase;
            height: 30px;
        }
        form{
            display: flex;
            flex-wrap: wrap;
            h4{
                width: 100%;
                font-size: 1.2rem;
                line-height: 2.0rem;
                margin: 0;
            }
            .poll_content{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                ul{
                    display: flex;
                    li{
                        margin-right: 10px;
                        label{
                            background: transparent;
                            margin: 0;
                            padding: 0 10px 0 20px;
                            font-size: 16px;
                            line-height: 24px;
                            input[type="radio"]{
                                right: auto;
                                left:0;
                            }
                        }
                        &:last-child{
                            margin-right: 0;
                        }
                    }
                }
                .captcha-box {
                    padding: 0;
                    .btnsubmit{
                        display: flex;
                        height: 35px;
                        align-items: center;
                        line-height: normal;
                        background: #e02323;
                        border-radius: 5px;
                        border: 0;
                    }
                }
            }
            &.hide{
                display: none;
            }
        }
    }
}
.playerOftheDay{
    margin: 15px 0;
    a{
        display: flex;
        position: relative;
        width: 100%;
        padding-bottom: 15px;
        img{
            width: 108px;
            height: 81px;
            margin: 0 10px 0 15px;
        }
        .rgt{
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            h4{
                font-size: 1.4rem;
                margin: 0 0  10px 0;
            }
            .player_name{
                .text_ellipsis{
                    font-size: 1.2rem;
                    line-height: 2rem;
                    max-height: 2rem;
                    -webkit-line-clamp: 1;
                    font-weight: bold;
                }
            }
        }
        .btm-bg{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            background: #e5e5df;
            border-radius: 5px;
            height:50px;
            z-index: -1;
        }
    }
}

.mobile_body{
    .playerOftheDay{
        padding-top: 15px;
        background: #fff;
        .rgt{
            h4{
                font-size: 1.6rem;
            }
            .player_name{
                .text_ellipsis{
                    font-size: 1.4rem;
                }
            }
        }
    }
    .wdt_sports_wap{
        .pollContainer{
            margin: 0 15px;
            box-shadow: none;
            border: 0;
            padding: 0;
            width: 100%;
        }
    }
}