@import '../sprite';

.desktop_body{
    .section-topics{
        .lead-topics{
            .news-card {
                margin: 0 0 10px;
                border: 0;
                padding: 0;
                .img_wrap{
                    margin: 0;
                    img {
                        width: 300px;
                    }
                }
                .con_wrap {
                    h3{
                        .text_ellipsis{
                            font-size: 2.0rem;
                            line-height: 2.8rem;
                            max-height: 5.6rem;
                            margin-bottom: 10px;
                        }
                    }
                    .enable-read-more{
                        .first_col{
                            width: 100%;
                            .text_ellipsis{
                                font-size: 1.4rem;
                                line-height: 2.2rem;
                                max-height: 13.2rem;
                                overflow: hidden;
                                &.more{
                                    max-height: initial;
                                    -webkit-line-clamp: initial;
                                }
                            }
                        }
                        .second_col{
                            width: 100%;
                            .more_txt{
                                margin-top: 15px;
                                float: right;
                                height: 20px;
                                width: 40px;
                                text-align: center;
                                &:after {
                                    top: -2px;
                                    right: -8px;
                                }
                                &:before {
                                    content:'More';
                                }
                                &.collapse{
                                    &:after {
                                        top: -4px;
                                        -ms-transform: rotate(135deg);
                                        transform: rotate(135deg);
                                        right: -8px;
                                    }
                                    &:before {
                                        content:'Less';
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .date{
                font-size: 1.1rem;
                color: #7d7d7d;
                margin: 0 0 20px;
            }
        }
        .rest-topics{
            .news-card{
                &.horizontal-lead{
                    margin-bottom: 5px;
                    border:0;
                    .img_wrap img {
                        width: 119px;
                    }
                }
            }
            &.on-video{
                .news-card{
                    &.horizontal-lead{
                        &.video{
                            .img_wrap img {
                                width: 160px;
                            }   
                        }
                    }
                }    
            }
        }
        .ads-horizontal{
            margin: -10px 0 35px;
            .istrue{
                margin: auto;
                .ad1{
                    min-width: initial;
                    min-height: initial;
                }
            }
        }
        .no-data-found{
            text-align: center;
            .nodata_txt_icon{
                display: inline-block;
                text-align: center;
                margin: 100px auto 150px;
                b{
                    display: inline-block;
                    @extend .include-desktop-sprite;
                    height: 77px;
                    width: 77px;
                    background-position: -7px -169px;
                }
                span{
                    font-size: 22px;
                    color:#c4c4c4;
                    font-weight: bold;
                    display: block;
                    margin: 10px 0 0 0;
                }
            }
        }

        .tabs-circle{margin: 15px 0 25px; text-align: center; position: relative;}
        .tabs-circle:after{content: ''; position: absolute; top: 0; bottom: 0; margin: auto; height: 1px; background: #b9b9b9; left: 0; right: 0; z-index: -1;}
        .tabs-circle ul{white-space: nowrap;}
        .tabs-circle ul li{display: inline-block; white-space: nowrap; margin-right: 2%;}
        .tabs-circle ul li.active{background: #3f3f41; border-color: #3f3f41; color: #fff;font-size: 1.4rem;}
        .tabs-circle ul li:first-child{text-transform: uppercase;}
        .tabs-circle ul li:last-child{margin-right: 0;}
        .tabs-circle ul li{width:20%; height: 40px; line-height: 45px; border-radius: 20px; border: solid 1px #b9b9b9; background: #f0f0f1; text-align: center;}
        .tabs-circle ul li span{font-size: 1.4rem; display: block; padding: 0 3%; cursor: pointer;}

        .news-card.lead.con_ads{
            .ad1.mrec1{
                max-height:250px;
                overflow: hidden;
            }
        }
        /*player details and candidate details*/
        .player-stats{
            .con_stats{
                ol{
                    padding:3%;
                    li{position: relative; font-size: 1.6rem; line-height: 2.4rem; margin: 0 0 10px 15px; list-style: decimal;}
                }
            }
            .profileDesc, .only-txt{
                img{
                    max-width: 100%;
                } 
                a{
                    color: #1f81db;
                }  
                .nic {
                    position: relative;
                    padding: 3px 5px 0;
                    margin-right: 5px;
                    cursor: pointer;
                    font-weight: 700;
                    display: inline-block;
                    background: rgba(220,140,141,.2);
                    transition: .25s ease;
                    line-height: 25px;
                    font-size: 1.5rem;
                }
            }
            .topic-listing{
                width:100%;
            }
            .shortInfo{
                li{
                    span{
                        &:after{
                            content: '|';
                            margin:0 5px;
                        }
                        &:last-child{
                            &:after{
                                content: '';
                                margin: 0;
                            }
                        }
                    }
                }
            }
            
            .enable-read-more{
                margin: 10px 0;
                .first_col{
                    width: 100%;
                    .text_ellipsis{
                        &.more{
                            max-height: initial;
                            -webkit-line-clamp: initial;
                        }
                    }
                }
                .second_col{
                    width: 100%;
                    .more_txt{
                        margin-top: 15px;
                        float: right;
                        height: 20px;
                        width: 170px;
                        text-align: right;
                        text-transform: capitalize;
                        color: #00b56f;
                        padding-right: 5px;
                        &:after {
                            top: -2px;
                            right: -8px;
                        }
                        &:before {
                            content:'View complete profile';
                        }
                        &.collapse{
                            &:after {
                                top: -4px;
                                -ms-transform: rotate(135deg);
                                transform: rotate(135deg);
                                right: -8px;
                            }
                            &:before {
                                content:'View Less profile';
                            }
                        }
                    }
                }
            }
            .section.tableHeading{
                cursor: pointer;
                margin: 0 15px 0;
                .minus{
                    text-align: center;
                    margin: 0;
                    cursor:pointer;
                    &:after {
                        content: '-';
                        font-size: 30px;
                        font-weight: bold;
                        border: 0;
                        transform: initial;
                        height: 25px;
                        width: 25px;
                        position: initial;
                    }
                }
                .plus{
                    text-align: center;
                    margin: 0;
                    cursor:pointer;
                    &:after {
                        content: '+';
                        font-size: 30px;
                        font-weight: bold;
                        border: 0;
                        transform: initial;
                        height: 25px;
                        width: 25px;
                        position: initial;
                    }
                }
            }
            .info_table{
                margin:0 0 2%;
                transition: max-height 0.50s ease-in;
                max-height: 500px;
                &.collapse{
                    max-height: 0px;
                    overflow: hidden;
                    margin: 0 0  2%;
                    transition: max-height 0.60s ease-out;
                }
            }
            .info_table table{width:100%;border-collapse:collapse;margin:0 auto;border-spacing:0;border:0;}
            .info_table table tr td{font-size:1.0rem; font-weight:bold;text-align:center;}
            .info_table table tr td:first-child{text-align:left;text-transform:uppercase;font-weight:bold;width:30%;}
            .info_table table tr:first-child th:first-child{text-align:left;text-transform:uppercase;font-weight:bold;}
            .info_table table tr:first-child th{font-size:1.1rem; background: #595959; color: #fff;}
            .info_table table td, .info_table table th{padding:6px 5px 3px; border: 1px solid #b0b0b0;}
        }    
    }
}
