@import '../sprite';

.desktop_body{
    .top_wdt_slider{
        background: #282e34;
        padding: 20px 5px 20px;
        margin:0;
        .slider .btnPrev{
            top:70px;
        }
        .slider .btnNext{
            top:70px;
        }
        .slider {
            .slideIndicator{
                bottom:-25px;
                a{
                    background: #575757;
                    &.active{
                        background: #fff;
                    }
                }
            }
        }
    }
    .top_img_slider{
        padding:0 0 40px;
        overflow: hidden;
        position: relative;
        min-height: 525px;
        margin-bottom: 10px;
        .section{
            width: calc(100% - 30px);
            margin: 0 auto;
        }
        .col12{
            padding: 0;
            .slider{
                width: 1000px !important;
                ul{
                    li{
                        position: relative;
                        max-height: 525px;
                        .con_wrap{
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 5px;
                            margin: auto;
                            padding: 20px 25px;
                            background: linear-gradient(transparent,rgba(0,0,0,.9));
                            .text_ellipsis{
                                font-size: 2.0rem;
                                line-height: 3.2rem;
                                max-height: 9.6rem;
                                -webkit-line-clamp: 3;
                                max-width: 60%;
                            }
                        }
                        .img_wrap a:before{
                            display: none;
                        }
                    }
                }
                .btnPrev{
                    top: 0;
                    left: 0;
                    border-radius: 0;
                    height: 64px;
                    width: 64px;
                    opacity: .7;
                    &:after{
                        border-top: 3px solid #fff;
                        border-right: 3px solid #fff;
                    }
                }
                .btnNext{
                    top: 0;
                    right: 0;
                    border-radius: 0;
                    height: 64px;
                    width: 64px;
                    opacity: .7;
                    &:after{
                        border-top: 3px solid #fff;
                        border-right: 3px solid #fff;
                    }
                }
                .slideIndicator{
                    bottom:-35px;
                }
            }
        }
        .col4{
            flex: auto;
            max-width: 310px;
            padding: 5px;
            background: #fff;
            position: absolute;
            right: 40px;
            bottom: 65px;
            .ad1{
                min-width: 300px;
                min-height: 250px;
                max-width: 300px;
                max-height: 250px;
                background-color: #f9f9f9; 
            }
        }
    }    

    .top_l2_wdt{
        background: #282e34;
        padding: 20px 5px;
        margin:0 0 30px;
        ul.col12{
            padding:0;
            li{
                margin: 0;
                .con_wrap{
                    .text_ellipsis{
                        color: #fff;
                    }
                }
            }
        }
    }
    .listing{
        .trending{
            margin-bottom: 30px;
            background: #efefef;
            .section{
                width: 100%;
                padding-left: 25px;
                box-sizing: border-box;
                h2{
                    border:0;
                    margin: 0;
                    span{
                        &:before{
                            border: 0;
                        }
                    }
                }
                .read_more{
                    display: none;
                }
            }
            .row{
                margin: 0;
                ul{
                    background: #efefef;
                    /*
                    height: 1000px;
                    overflow-y: auto;
                    overflow-x: hidden;
                    */
                    li{
                        padding: 0 25px;
                        .con_wrap{
                            margin: 10px auto 0;
                            .section_name{
                                font-size: 1.2rem;  
                                color: #1f81db;
                                display: block;
                                margin-bottom: 5px;  
                            }
                            .text_ellipsis{
                                font-size: 1.2rem;
                                line-height: 2.0rem;
                                max-height: 4.0rem;
                                font-weight: normal;
                                -webkit-line-clamp: 2;
                            }
                        }
                    }
                }
            }
            &.sticky{
                position: sticky;
                top:0;
            }    
        }
        
        ul{
            li{
                margin-bottom: 20px;
                &.video{
                    .img_wrap{
                        a{
                            position: relative;
                            display: block;
                            &:before{
                                @extend .videoicon; 
                                width: 40px;
                                height: 40px;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                position: absolute;
                                content: '';
                            }
                        }
                    }    
                }
                &.photo{
                    .img_wrap{
                        a{
                            position: relative;
                            display: block;
                            &:before{
                                @extend .photoglicon; 
                                top: 10px;
                                left: 10px;
                                width: 25px;
                                height: 21px;
                                position: absolute;
                                content: '';
                            }
                        }
                    }    
                }
                .img_wrap{
                    display: block;
                    position: relative;
                }
                .img_wrap[data-tag]{
                    &:after {
                        font-family: arial;
                        font-size: 1.1rem;
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                        padding: 2% 3%;
                        line-height: 1.2rem;
                        background:rgba(0, 0, 0, 0.6);
                        content: attr(data-tag);
                        text-align: center;
                        color: #fff;
                        z-index:10
                    }
                }
                .con_wrap{
                    .section_name{
                        font-size: 1.2rem;  
                        color: #1f81db;
                        display: block;
                        margin-bottom: 5px;  
                    }
                    margin: 10px 0 0;
                    padding: 0;
                    display: block;
                    box-sizing: border-box; 
                    .text_ellipsis{
                        font-size: 1.2rem;
                        line-height: 2.0rem;
                        max-height: 4.0rem;
                        -webkit-line-clamp: 2;
                    }
                }
            }
        }
        .col8{
            .col12{padding:0}
        }
        &.videolist{
            .section{
                width: calc(100% - 30px);
                margin: auto;
            }
            .only-heading{
                .section{
                    width: 100%;
                }   
            }
        } 
        &.photolist{
            /*margin-bottom:30px;*/
            .section{
                width: 100%;
            }
            .slider .btnPrev, .slider .btnNext{top:70px}
            .slider.latest{
                ul{
                    li{
                        .con_wrap{
                            min-height:96px;
                        }
                    }
                }
            }
            ul{
                li{
                    padding: 0 2.5px;
                    margin-bottom: 5px;
                    .con_wrap{
                        background: #282e34;
                        padding: 10px 10px 13px;
                        width: 100%;
                        margin: 0;
                        .section_name{
                            line-height: 1.7rem;
                        }
                        .text_ellipsis{
                            color: #fff;
                            height: 4.4rem;
                        }
                    }
                }
            }
        }
    }
    .highlight_section{
        background: #e6ecee;
        width: 100%;
        padding: 5px 20px 15px;
        box-sizing: border-box;
        margin-bottom: 20px;
        .slider .btnPrev, .slider .btnNext{top:70px}
        .section{
            background: transparent;
            width: 100%;
            h3{
                border-bottom: 0;
                margin: 0;
                padding:0;
                span{
                    background: transparent;
                    padding: 0;
                    &:before{
                        border: 0;
                    }
                }
            }
        }
        .slider ul li{
            margin-bottom: 0;
            .con_wrap{
                .text_ellipsis{
                    color: #000;
                }
            }
            [data-plugin="ctn"] iframe{
                background: transparent;
            }
        }
    }
    .moreVideoSections{
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        padding: 5px 0 10px;
        margin: 0 0 20px;
        width:100%;
        .section{
            width: 100%;
            text-align: center;
            h2{
                font-size: 1.4rem;
                border:0;
                margin: 0 0 5px;
                padding: 0;
                span{
                    padding: 0;
                    &:before{
                        border: 0;
                    }
                }
            }
            .read_more{
                display: none;
            }
            .sub-section.hide-extra{
                height: auto;
                padding: 0;
                margin: 0;
                ul.sub-list{
                    margin: 0;
                    li{
                        border:1px solid #d1d1d1;
                        border-radius: 15px;
                        margin: 0 15px 10px 0;
                        a{
                            height: 30px;
                            padding: 0 15px;
                            line-height: 32px;
                            font-size: 1.2rem;
                        }
                    }
                }
                .more-sublist{
                    display: none;
                }
            }
        }
    }
    .L2{
        .listing{
            &.photolist{
                ul li.col6.photo, ul li.col4.photo{
                    .img_wrap{
                        a{
                            &:before{
                                width: 32px;
                                height: 25px;
                            }
                        }
                    }
                }
                div.col4{
                    .ad1.mrec1{
                        margin: 0 0 0 -12px;
                    }
                }
            }
        }
    }
    /*
    .L1.videolist, .L2.videolist{
        .only-heading{
            display: flex;
            align-items: center;
            .con_social{
                width: 40%;
                .youtube-iframe{
                    margin-left: auto;
                }
            }
        }
    }
    */
    .L1.videolist{
        .btf-placeholder{
            margin-bottom: 20px;
        }
        .con_ads{
            .colombiatracked{
                width: 100%;
            }
        }
    }
    .L2.videolist{
        .btf-placeholder{
            margin: 5px auto 15px;
        }
    }
    .L1.photolist{
        .btf-placeholder{
            margin: 15px auto 20px;
        }
    }
    .L2.photolist{
        .btf-placeholder{
            margin: 0 auto 20px;
        }
        .listing.photolist{
            .btf-placeholder{
                margin-top:15px;
            }
        }
    }
    /*webstories for L1 and L2 (photolist)*/
    .webstorieslider, .slider.webstories, .listing.webstories{
        ul{
            li.webstories{
                padding-left: 0;
                .img_wrap{
                    a {
                        position: relative;
                        display: block;
                        &:after {
                            content: '';
                            border-top: 3px #fff dashed;
                            height: 20px;
                            left: 10px;
                            right: 10px;
                            margin: auto;
                            position: absolute;
                            bottom: 0;
                        }
                        &:before {
                            content: '';
                            @extend .include-desktop-sprite;
                            background-position: -275px -195px;
                            position: absolute;
                            top:auto;
                            left: 0;
                            right: 0;
                            bottom: 40px;
                            margin: auto;
                            width: 38px;
                            height: 34px;
                            background-repeat: no-repeat;
                        }
                        img {
                            border-radius: 8px;
                            overflow: hidden;
                            width: 150px;
                            height: 250px;
                        }
                    }
                }
                .con_wrap{
                    background: transparent;
                    padding: 0;
                    margin: 10px 0 0 0;
                    .text_ellipsis{
                        color: #000;
                    }
                }
            }
        }
        .btnNext, .btnPrev{top:105px}
    }
}


